@use '../../abstract' as *;

$logo-max-height: calc(((1920 * 800) / 1570) * 1px);

@layer layout {
    @scope (.l-index) {
        :scope {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            block-size: calc(100dvh);
            overflow: hidden;
        }

        h1 {
            position: absolute;
            z-index: 2;
            margin-block-end: 0;
            color: var(--immutable-black);
            font-size: rem(54);
            line-height: 1;
            inset-block-start: calc(100dvh - var(--header-height) - rem(160));
            inset-inline: 0;
            text-align: center;
            text-box: cap alphabetic;

            @include mq(tablet) {
                text-wrap: nowrap;
                inset-inline-end: auto;
                inset-block-start: calc(
                    /* stylelint-disable-next-line  scss/operator-no-newline-after */
                        100dvh - var(--header-height) - var(--footer-height) +
                        rem(30)
                );
            }

            @include mq(desktop) {
                font-size: rem(80);
            }
        }

        .logo {
            display: grid;
            position: absolute;
            z-index: 1;
            inset: 0;
            grid-template-areas: 'svg';
            place-content: center center;
            transform: translateY(calc(#{rem(44)} * -1));

            @include mq(tablet) {
                transform: translateY(0);
            }
        }

        svg {
            position: relative;
            grid-area: svg;
            block-size: calc(((500 * 100) / 360) * 1vw);
            inline-size: calc(((500 * 100) / 360) * 1vw);
            overflow: visible;
            transform-origin: center;
            scale: 0;

            @include mq(tablet) {
                @media (aspect-ratio >= 3/2) {
                    block-size: min(
                        $logo-max-height,
                        calc(((800 * 100) / 1920) * 1vw)
                    );
                    inline-size: min(1920px, calc(((1700 * 100) / 1920) * 1vw));
                }

                @media (aspect-ratio < 3/2) {
                    block-size: calc(((800 * 100) / 1240) * 1vw);
                    inline-size: calc(((1700 * 100) / 1240) * 1vw);
                }
            }
        }
    }
}

@layer override {
    :where(.is-firefox .l-index) svg {
        transform: translateZ(0.5px);
    }
}
