@use '../../abstract' as *;

$logo-max-height: calc(((1920 * 800) / 1570) * 1px);

.l-index {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: calc(100vh);
    overflow: hidden;

    &__logo {
        display: grid;
        position: absolute;
        z-index: 1;
        inset: 0;
        grid-template-areas: 'svg';
        place-content: center center;

        svg {
            position: relative;
            grid-area: svg;
            overflow: visible;
            transform: translateZ(0.5px);
            transform-origin: center;
            scale: 0;

            @media (aspect-ratio >= 3/2) {
                width: min(1920px, calc(((1700 * 100) / 1920) * 1vw));
                height: min($logo-max-height, calc(((800 * 100) / 1920) * 1vw));
            }

            @media (aspect-ratio < 3/2) {
                width: calc(((1700 * 100) / 1240) * 1vw);
                height: calc(((800 * 100) / 1240) * 1vw);
            }
        }
    }

    &__stagger {
        translate: 0 100%;
        margin: 0;
    }
}
