@use '../../abstract' as *;

$logo-max-height: calc(((1920 * 800) / 1570) * 1px);

.l-index {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: calc(100vh);
    overflow: hidden;

    &__logo {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            width: min(1920px, calc(((1700 * 100) / 1920) * 1vw));
            height: min($logo-max-height, calc(((800 * 100) / 1920) * 1vw));
            overflow: visible;

            g {
                transform-origin: center;
                opacity: 0;
            }

            @include when-inside('.is-firefox') {
                g {
                    transform: translateZ(0.5px);
                }
            }
        }
    }

    &__stagger {
        translate: 0 100%;
        margin: 0;
    }
}
