@use 'sass-mq/mq';
@use '../../abstract' as *;

.l-index {
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        z-index: 1;

        @include mq.mq('tablet') {
            transform: translate(-50%, -50%);
        }

        svg {
            overflow: visible;
            width: rem(1200, xsmall);
            height: rem(600, xsmall);

            @include mq.mq('large') {
                width: rem(1980);
                height: rem(1000);
            }

            g {
                transform-origin: center;
                opacity: 0;
            }

            @include when-inside('.is-firefox') {
                g {
                    transform: translateZ(0.5px);
                }
            }
        }
    }

    &__stagger {
        translate: 0 100%;
        margin: 0;
    }

    &__content {
        position: relative;
        z-index: 3;
        color: $white;
        padding-left: rem(50, small);
        padding-top: rem(50, small);

        @include mq.mq('large') {
            padding-left: rem(70);
            padding-top: rem(70);
        }

        h1 {
            font-size: rem(30);
            margin-right: rem(10);
            font-weight: 600;

            span {
                display: inline;
                color: $green;
            }
        }

        h2 {
            font-size: rem(15);
        }
    }

    &__inner-content {
        overflow: hidden;
    }

    &__item {
        margin-bottom: rem(20);
        display: block;
        transition: opacity 0.55s;

        &:hover {
            opacity: 0.5;
        }
    }
}
