@use '../../abstract' as *;

.snippet {
    code {
        display: inline-block;
        position: relative;
        width: auto;
        min-width: rem(600);
        background-color: #2e3440;
        border: 1px rgba($white, 0.05) solid;
        padding: rem(30);
        border-radius: rem(10);

        &.is-full {
            @include mq('desktop') {
                width: 100%;
                min-width: auto;
            }
        }
    }

    pre {
        overflow: auto;
        font-size: rem(14);
        line-height: line-height(15, 22);
        background: transparent;
        padding: rem(30);

        &.is-full {
            @include mq('desktop') {
                padding: 0;
                margin: 0;
            }
        }

        &.has-overflow {
            overflow: hidden;
        }

        // .hljs-comment {
        //     color: #95a1b7;
        // }
    }
}
