@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.c-legend {
    position: relative;
    z-index: 2;

    &__title,
    &__type,
    &__description,
    &__code {
        margin-bottom: rem(10);
        opacity: 0;
    }

    &__description {
        max-width: 600px;
    }
}
