@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.c-legend {
    position: fixed;
    top: 0;
    left: 0;
    width: rem(1000);
    height: calc(100vh - var(--footer-height));
    z-index: 14;
    overflow: hidden;
    pointer-events: none;

    @include when-inside('.active') {
        pointer-events: all;
    }

    &__wrap {
        position: relative;
        width: 100%;
        height: 100%;
        background: $white;
        padding: rem(40) rem(40) rem(40)
            calc(var(--header-height) / 2 + #{rem(40)});
        transform: translateX(-100%);
        transition: transform 0.55s;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(var(--header-height) / 2);
            background: $green;
        }

        @include when-inside('.active') {
            transform: translateX(0);
        }
    }

    &__btn {
        position: fixed;
        bottom: var(--footer-height);
        left: calc(var(--header-height) / 2);
        z-index: 15;
        width: var(--header-height);
        height: var(--header-height);
        background: $green;
        border: 0;
        transform: translateX(0);
        transition: transform 0.55s, background 0.55s;

        &.hide {
            transform: translateX(calc(var(--header-height) / 2));
            background: $white;
        }
    }

    &__overlay {
        position: fixed;
        top: calc(var(--header-height));
        left: 0;
        height: calc(100vh - var(--header-height));
        background: rgba($dark-green, 0.95);
        opacity: 0;
        width: 100vw;
        border: 0;
        z-index: 11;
        pointer-events: none;
        transition: opacity 0.55s;

        @include when-inside('.active') {
            pointer-events: all;
            opacity: 1;
        }
    }

    &__title,
    &__type,
    &__description,
    &__code {
        margin-bottom: rem(10);
    }
}
