@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.svg-child-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}

.svg-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    svg {
        overflow: visible;
        width: rem(1200, xsmall);
        height: rem(600, xsmall);

        @include mq.mq('desktop') {
            width: rem(1980);
            height: rem(1000);
        }

        @include mq.mq('xxxlarge') {
            width: rem(2500);
            height: rem(1500);
        }
    }

    g:not(.trail-element) {
        transform: translateZ(0.5px);
        transform-origin: center center;
    }

    g:not(.trail-element) {
        opacity: 0;
    }
}

.child-trail {
    position: fixed;
    top: 50%;
    left: 50%;
    width: rem(400);
    height: rem(400);
    transform-origin: top left;
    opacity: 0;
    transform: translateZ(0.5px);
    pointer-events: none;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: visible;
        transform-origin: center center;
        translate: -100% -100%;
        width: rem(400);
        height: rem(400);
    }

    &--0 {
        z-index: 10;

        svg {
            scale: 0.15;
            opacity: 1;
            fill: $green;
        }
    }

    &--1 {
        svg {
            scale: 0.8;
            opacity: 1;
        }
    }

    &--2 {
        svg {
            scale: 0.8;
            opacity: 0.4;
        }
    }

    &--3 {
        svg {
            scale: 0.6;
            opacity: 0.4;
        }
    }

    &--4 {
        svg {
            scale: 0.4;
            opacity: 0.3;
        }
    }

    &--5 {
        svg {
            scale: 0.35;
            opacity: 0.25;
        }
    }

    &--6 {
        svg {
            scale: 0.3;
            opacity: 0.2;
        }
    }

    &--7 {
        svg {
            scale: 0.25;
            opacity: 0.15;
        }
    }

    &--8 {
        svg {
            scale: 0.2;
            opacity: 0.1;
        }
    }

    &--9 {
        svg {
            scale: 0.1;
            opacity: 0.05;
        }
    }
}
