@use '../../abstract' as *;

.c-doc-scroll {
    position: absolute;
    left: 0;
    width: rem(10);
    height: 100%;
    transform: scaleY(var(--delta));
    transform-origin: top;
    transition: transform 0.35s;
    background: $black;

    --delta: 0;
}
