@use '../../abstract' as *;

[data-component='navigation_container'] {
    position: fixed;
    top: var(--header-height);
    width: rem(50);
    left: 0;
    height: calc(100vh - var(--footer-height));
}

.l-navcontainer {
    position: fixed;
    top: var(--header-height);
    left: 0;
    z-index: 11;
    transform: translateX(-101%);
    transition: transform 0.55s;
    background: $white;

    &.active {
        transform: translateX(0);
    }

    &__wrap {
        width: var(--nav-width);
        height: calc(100vh - var(--header-height));
        max-width: none;
        overflow: hidden;
    }

    &__scroll {
        padding-bottom: 70vh;
    }

    &__side {
        position: absolute;
        left: 101%;
        width: calc(var(--header-height) / 2);
        top: 0;
        height: calc(100vh - var(--header-height) - var(--footer-height));
        background: rgba($black, 0.05);
    }

    &__totop {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: rem(40);
        border: 0;
        background: $black;
        transform: translateY(100%);
        padding: 0;
        margin: 0;
        transition: transform 0.55s;
        width: 100%;

        @include when-inside('.active') {
            transform: translateY(0);
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: rem(5);
            height: rem(5);
            border-top: 1px $white solid;
            border-right: 1px $white solid;
        }
    }

    &__percent {
        position: absolute;
        left: 100%;
        top: 0;
        width: calc(100vw - var(--nav-width));
        background: $white;
        height: rem(10);
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.55s;
    }
}
