@use '../../abstract' as *;

@layer layout {
    @scope (.l-navcontainer) {
        :scope {
            position: fixed;
            z-index: 10;
            inset-block-start: var(--header-height);
            transform: translateX(calc(-101% * var(--dir)));
            transition:
                transform 0.55s,
                background 0.55s;
            border-inline-end: 1px var(--dark) solid;
            background: var(--white);
        }

        .side-col {
            display: none;
            position: absolute;
            block-size: calc(
                100dvh - var(--footer-height) - var(--header-height)
            );
            inline-size: calc(var(--header-height) / 2);
            transition: background 0.35s;
            background: transparent;
            inset-block-start: 0;
            inset-inline-start: 101%;

            &::after {
                content: '';
                position: absolute;
                block-size: 100%;
                inline-size: 1px;
                transform: scaleY(0);
                transform-origin: top right;
                transition: transform 1s 0.5s;
                background: var(--dark);
                inset-block-start: 0;
                inset-inline-end: 0;
            }

            @include mq(tablet) {
                display: block;
            }

            &.is-visible {
                &::after {
                    transform: scaleY(100%);
                }
            }
        }

        .nav-col {
            block-size: calc(
                100dvh - var(--footer-height) - var(--header-height)
            );
            inline-size: var(--nav-width);
            max-inline-size: none;
            overflow: hidden auto;
            inset-inline-start: 0;

            @include mq(tablet) {
                overflow: hidden;
            }
        }

        .totop {
            visibility: hidden;
            position: absolute;
            block-size: rem(40);
            inline-size: 100%;
            margin: 0;
            padding: 0;
            transform: translateY(100%);
            transition:
                transform 0.55s,
                opacity 0.35s,
                visibility 0.35s;
            border: 0;
            opacity: 0;
            background: var(--dark);
            inset-inline: 0;
            inset-block-end: 0;

            &::after {
                content: '';
                position: absolute;
                block-size: rem(5);
                inline-size: rem(5);
                transform: translate(-50%, -50%) rotate(-45deg);
                inset-block-start: 50%;
                inset-inline-start: 50%;
                border-block-start: 1px var(--white) solid;
                border-inline-end: 1px var(--white) solid;
            }
        }

        .percent {
            position: absolute;
            block-size: rem(10);
            inline-size: calc(100vw - var(--nav-width));
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.55s;
            background: var(--dark);
            inset-block-start: 0;
            inset-inline-start: 100%;
        }

        .scroll-element {
            padding-block-end: 30dvh;

            @include mq(tablet) {
                padding-block-end: 70dvh;
            }
        }

        :scope.active {
            transform: translateX(0);

            .side-col {
                inset-inline-start: 100%;
            }

            .totop {
                visibility: visible;
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

@layer override {
    [dir='rtl'] :where(.l-navcontainer .percent) {
        transform-origin: right;
    }

    [data-template='template-doc-default'] :where(.l-navcontainer .side-col) {
        background: rgba(var(--dark-rgb), 0.05);

        &::after {
            display: none;
        }
    }

    [data-template='template-mobJs-component']
        :where(.l-navcontainer .side-col) {
        background: rgba(var(--dark-rgb), 0.05);

        &::after {
            display: none;
        }
    }
}
