@use '../../abstract' as *;

[data-component='navigation'] {
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--footer-height) - rem(40));
}

.l-navigation {
    width: 100%;
    margin: auto;

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__label {
        padding: rem(10) rem(20);
        transition: background 0.35s;
        background: $grey;
        color: $black;

        &.hide {
            display: none;
        }

        @include when-inside('[data-template="home"]') {
            background: rgba($black, 0.1);
        }

        @include when-inside('[data-template="about"]') {
            background: rgba($black, 0.1);
        }

        @include when-inside('[data-template="template-listing"]') {
            background: rgba($black, 0.1);
        }

        @include when-inside('[data-template="template-animation"]') {
            background: rgba($black, 0.1);
        }

        &.active {
            font-weight: 800;
        }
    }

    &__link {
        display: block;
        position: relative;
        width: 100%;
        padding: rem(10) rem(20);
        transition:
            background 0.35s,
            color 0.35s,
            border-color 0.35s,
            opacity 0.35s;
        border: 0;
        background: transparent;
        color: rgba($black, 0.7);
        text-align: left;
        text-decoration: none;

        // Performance on scroll
        @include when-inside('.is-whelling') {
            pointer-events: none;
        }

        span {
            font-size: rem(12);
        }

        &--arrow {
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: rem(20);
                width: rem(7);
                height: rem(7);
                transform: translateY(-50%) rotate(45deg);
                transition:
                    border-color 0.55s,
                    transform 0.35s;
                border-right: 2px $black solid;
                border-bottom: 2px $black solid;
            }

            &.active {
                &::after {
                    transform: translateY(-50%) rotate(-135deg);
                }

                &::before {
                    transform: scaleX(25%);
                }
            }
        }

        &.current {
            font-weight: 600;

            &::before {
                transform: scaleX(100%);
            }
        }

        &--submenu {
            position: relative;
            padding-left: rem(20);
        }
    }

    &__submenu {
        margin-bottom: 0;
        padding: 0;
        padding-bottom: 0;
        list-style-type: none;

        &__item {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: rem(5);
                height: rem(5);
                transform: translateY(-50%);
                border-radius: 100%;
                background: $black;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
