@use '../../abstract' as *;

[data-component='footer'] {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
}

.l-footer {
    display: none;
    position: fixed;
    z-index: 12;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
    transition: background 0.35s;
    background: black;
    text-align: center;

    @include user-select-none;

    @include mq(desktop) {
        display: block;
    }

    &__container {
        display: grid;
        grid-template-areas: 'bio action';
        grid-template-columns: 1fr auto;
        align-items: center;
        height: 100%;
        padding: 0 var(--gap-size);
    }

    &__bio {
        grid-area: bio;
        padding-left: 0;
        text-align: left;

        &__item {
            display: inline-block;
            margin-inline: rem(5);
            color: $white;
            font-size: rem(13);
        }

        a {
            transition: opacity 0.35s;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__debug {
        display: flex;
        grid-area: action;
        transition: opacity 1s 0.2s;
        opacity: 0;

        @include when-inside('.is-visible') {
            opacity: 1;
        }
    }
}
