@use '../../abstract' as *;

.footer-nav {
    display: block;
    margin: 0;
    padding: 0;
    transition: opacity 1s 0.55s;
    opacity: 0;
    place-self: center start;

    &.is-visible {
        opacity: 1;
    }

    @include mq(xlarge) {
        place-self: center center;
    }

    &__item {
        display: inline-block;

        &:last-child {
            > button {
                &::after {
                    display: none;
                }
            }
        }
    }

    &__button {
        position: relative;
        min-width: rem(100);
        transition: opacity 0.55s;
        border: 0;
        background: transparent;
        color: $black;

        @include when-inside('[data-template="about"]') {
            color: $white;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: rem(10);
            transform: translateY(-50%);
            background: #656566;
        }

        &:hover {
            opacity: 0.5;
        }

        &.current {
            font-weight: 600;
        }
    }
}
