@use '../../abstract' as *;

[data-component='footer'] {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
}

.l-footer {
    display: none;
    position: fixed;
    z-index: 12;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
    transition: background 0.35s;
    background: $grey;
    text-align: center;
    user-select: none;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: top left;
        background: $black;
    }

    &.is-visible {
        &::after {
            transform: scaleX(100%);
        }
    }

    @include mq(desktop) {
        display: block;
    }

    @include when-inside('[data-template="home"]') {
        background: transparent;

        &::after {
            transition: transform 1s 0.2s;
        }
    }

    @include when-inside('[data-template="about"]') {
        background: rgba($black, 0.6);

        &::after {
            transition: transform 1s 0.2s;
        }
    }

    @include when-inside('[data-template="template-animation"]') {
        background: transparent;

        &::after {
            transition: transform 1s 0.2s;
        }
    }

    @include when-inside('[data-template="template-listing"]') {
        background: transparent;

        &::after {
            transition: transform 1s 0.2s;
        }
    }

    &__container {
        display: grid;
        height: 100%;
        padding: 0 var(--gap-size);
    }

    &__debug {
        display: flex;
        position: absolute;
        right: rem(20);
        bottom: calc(var(--footer-height) * 0.5);
        transform: translateY(50%);
        transition: opacity 1s 0.2s;
        opacity: 0;

        @include when-inside('.is-visible') {
            opacity: 1;
        }
    }
}
