@use '../../abstract' as *;

[data-component='footer'] {
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.l-footer {
    height: var(--footer-height);
    background: $grey;
    position: fixed;
    z-index: 12;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px $black solid;
    transition: background 1s;

    @include when-inside('[data-template="home"]') {
        background: transparent;
    }

    @include when-inside('[data-template="about"]') {
        background: transparent;
    }

    @include when-inside('[data-template="templateAnimation"]') {
        background: transparent;
    }

    @include when-inside('[data-template="templateLinks"]') {
        background: transparent;
    }

    &__container {
        padding: 0 var(--gap-size);
        display: grid;
        height: 100%;
    }

    &__debug {
        position: absolute;
        display: flex;
        right: rem(20);
        bottom: calc(var(--footer-height) * 0.5);
        transform: translateY(50%);
    }
}
