@use '../../abstract' as *;

.footer-nav {
    place-self: center start;
    margin: 0;
    display: block;
    padding: 0;

    @include mq(xlarge) {
        place-self: center center;
    }

    &__item {
        display: inline-block;

        &:last-child {
            > button {
                &::after {
                    display: none;
                }
            }
        }
    }

    &__button {
        background: transparent;
        border: 0;
        color: $white;
        position: relative;
        transition: opacity 0.55s;
        min-width: rem(100);

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 1px;
            height: rem(10);
            background: #656566;
        }

        &:hover {
            opacity: 0.5;
        }

        &.current {
            font-weight: 600;
        }
    }
}
