@use '../abstract' as *;

.test-grid {
    z-index: 12;
    margin-top: rem(100);

    &__grid {
        height: rem(40);
        margin-bottom: rem(20);
        overflow: hidden;

        @include grid;

        span {
            width: 100%;
            height: rem(40);
            background: red;
        }
    }

    &__cont {
        @include container;

        span {
            display: inline-block;
            width: calc(var(--col-size) * 2);
            height: rem(100);
            background: red;
        }
    }
}
