@use '../abstract' as *;

.test-grid {
    z-index: 12;
    margin-block-start: rem(100);

    &__grid {
        block-size: rem(40);
        margin-block-end: rem(20);
        overflow: hidden;

        @include grid;

        span {
            block-size: rem(40);
            inline-size: 100%;
            background: red;
        }
    }

    &__cont {
        @include container;

        span {
            display: inline-block;
            block-size: rem(100);
            inline-size: calc(var(--col-size) * 2);
            background: red;
        }
    }
}
