@use '../abstract' as *;

.test-grid {
    margin-top: rem(100);
    z-index: 12;

    &__grid {
        @include grid;

        margin-bottom: rem(20);
        height: rem(40);
        overflow: hidden;

        span {
            height: rem(40);
            width: 100%;
            background: red;
        }
    }

    &__cont {
        @include container;

        span {
            height: rem(100);
            background: red;
            display: inline-block;
            width: calc(var(--col-size) * 2);
        }
    }
}
