@use '../abstract' as *;

.test-grid {
    position: fixed;
    top: rem(300);
    left: 0;
    width: 100%;
    z-index: 12;

    &__grid {
        @include grid;

        height: rem(40);
    }

    &__cont {
        @include grid-context;

        span {
            height: rem(100);
            background: red;
            display: inline-block;
            width: calc(var(--col-size) * 2);
        }
    }
}
