@use '../../abstract' as *;

.c-doc-svg {
    position: relative;
    overflow: hidden;

    // &.start-end-svg {
    //     aspect-ratio: 915/476;
    //     width: rem(713);
    //     height: rem(476);
    // }

    &__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    svg {
        width: 100%;
    }
}
