@use '../../abstract' as *;

@layer layout {
    @scope (.c-doc-svg) {
        :scope {
            position: relative;
            overflow: hidden;
            border: 2px var(--white) solid;
            border-radius: rem(10);

            &.start-end-svg {
                inline-size: 100%;
                aspect-ratio: 713/467;
            }

            @include mq(tablet) {
                padding: rem(40);
            }
        }

        svg {
            block-size: 100%;
            inline-size: 100%;
        }

        .loading {
            position: absolute;
            inset-block-start: 50%;
            inset-inline-start: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
