@use '../../abstract' as *;

.m-logo-1 {
    display: none;
    pointer-events: none;

    @include mq(large) {
        display: block;
        visibility: hidden;
        transition:
            opacity 1s,
            visibility 1s;
        opacity: 0;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    svg {
        position: fixed;
        z-index: 10;
        right: 0;
        bottom: rem(20);
        width: rem(700);
        height: rem(400);
        overflow: visible;
        transform: translateX(40%);

        @include mq(xlarge) {
            width: rem(1000);
            height: rem(500);
            transform: translateX(30%);
        }
    }
}
