@use '../../abstract' as *;

@layer layout {
    @scope (.c-breadCrumbs) {
        margin: 0;
        margin-block-end: rem(8);
        padding-block-start: rem(32);
        font-size: rem(14);
        list-style: none;

        li {
            display: inline-block;
        }

        a {
            display: inline-block;
            position: relative;
            margin-inline-end: rem(4);
            padding-inline-end: rem(4);
            text-decoration: underline;

            &::after {
                content: '/';
                position: absolute;
                font-size: rem(12);
                inset-block-start: rem(2);
                inset-inline-end: calc(#{rem(6)} * -1);
            }
        }
    }
}

@layer layout {
    @scope (.html-content) to (.c-breadCrumbs) {
        :scope {
            position: relative;

            &.use-padding {
                padding: rem(8) var(--col-size) rem(124);
                padding-inline: calc(var(--gap-size) / 2);

                @include mq(tablet) {
                    padding-inline: var(--gap-size);
                }
            }

            &.is-min-100 {
                min-block-size: calc(
                    100dvh - var(--header-height) - #{rem(80)}
                );
            }
        }

        p,
        a,
        pre,
        li,
        h1,
        h2,
        h3,
        h4,
        h5 {
            @include user-select-text;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-transform: capitalize;
        }

        pre,
        code {
            font-family: 'Fira Code', monospace;
            font-optical-sizing: auto;
            font-size: rem(12);
        }

        ul {
            margin-block-start: 0;
            padding: 0;
            list-style-type: none;

            &.use-links {
                margin-inline-start: 0;
            }

            &.use-button {
                margin-inline-start: 0;

                li > a {
                    @include button;
                }
            }

            &.use-default {
                a {
                    text-decoration: underline;
                }
            }
        }

        li {
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                block-size: 5px;
                inline-size: 5px;
                border-radius: 100%;
                background: var(--dark);
                inset-block-start: rem(10);
                inset-inline-start: calc(var(--gap-size) / 2 * -1);
            }
        }

        ul.use-links,
        ul.use-button {
            li {
                &::after {
                    display: none;
                }
            }
        }

        @scope (h1) {
            :scope {
                position: relative;
                margin-block-end: 0;
                padding: calc(var(--gap-size) / 2);
                overflow: hidden;
                border: 1px var(--grey-300) solid;
                background: var(--grey-100);
            }

            .title-content {
                position: relative;
                z-index: 1;

                span {
                    display: inline-block;
                    font-size: rem(25);
                }
            }
        }

        h2 {
            margin: calc(var(--gap-size) / 2) calc(var(--gap-size) * -0.5);
            padding-inline: calc(var(--gap-size) / 2) var(--gap-size);

            @include mq(tablet) {
                margin: calc(var(--gap-size) / 2) calc(var(--gap-size) * -1);
                padding-inline: var(--gap-size) var(--gap-size);
            }
        }

        @scope (h2.is-section) {
            :scope {
                position: relative;
                block-size: rem(30);
                margin-block-start: 0;
                overflow: hidden;
                transition: transform 0.35s;
                color: var(--dark);
                text-transform: capitalize;
                border-block-end: 1px var(--dark) solid;

                &.pinned {
                    box-shadow: 0 calc(#{rem(30)} * -1) 0 var(--dark);
                }

                &.hide.pinned {
                    transform: translateY(-100%);
                }

                @include mq(tablet) {
                    block-size: rem(50);
                }
            }

            .title-content {
                position: absolute;
                inset-block-end: calc(#{rem(5)} * -1);
                inset-inline-start: calc(var(--gap-size) / 2);
                font-size: rem(28);

                @include mq(tablet) {
                    font-size: rem(50);
                    inset-block-end: 0;
                    inset-inline-start: var(--gap-size);
                }
            }

            .title-index {
                display: none;
                position: absolute;
                z-index: 1;
                inset-inline-end: rem(40);
                inset-block-end: calc(#{rem(13)} * -1);
                color: var(--dark);
                font-size: rem(14);

                @include mq(large) {
                    display: block;
                }
            }
        }

        h3 {
            position: relative;
            margin-block-end: calc(var(--gap-size) / 4);
            margin-inline-start: calc(calc(var(--gap-size) / 2) * -1);
            padding-block-end: calc(var(--gap-size) / 4);
            padding-inline-start: calc(var(--gap-size) / 2);
            line-height: line-height(26, 32);

            @include mq(tablet) {
                font-size: rem(26);

                &::after {
                    content: '*';
                    position: absolute;
                    inset-block-start: 0;
                    inset-inline-start: 0;
                    color: var(--dark);
                    font-size: rem(30);
                }
            }
        }
    }
}

@layer layout {
    @scope (.list-links) {
        :scope {
            @include button;

            padding-inline: calc(var(--gap-size) / 2) var(--gap-size);
            background: transparent;
            text-align: start;
            text-transform: capitalize;
        }

        .arrow-container {
            display: block;
            position: absolute;
            block-size: calc(var(--gap-size) / 2);
            inline-size: calc(var(--gap-size) / 2);
            inset-block-start: 50%;
            inset-inline-end: rem(5);
        }

        .arrow-start {
            position: absolute;
            block-size: rem(10);
            inline-size: 2px;
            transform: translate(calc(-50% * var(--dir)), -50%)
                rotate(calc(45deg * var(--dir)));
            transition: background 0.35s;
            background: var(--dark);
            inset-block-start: 0;
            inset-inline-start: 0;
        }

        .arrow-end {
            position: absolute;
            block-size: rem(7);
            inline-size: rem(7);
            transform: translate(calc(-50% * var(--dir)), -50%)
                rotate(calc(275deg * var(--dir)));
            transition: border-color 0.35s;
            inset-block-start: -1px;
            inset-inline-start: 1px;
            border-inline-end: 2px var(--dark) solid;
            border-block-end: 2px var(--dark) solid;
        }

        :scope:hover {
            .arrow-start {
                background: var(--white);
            }

            .arrow-end {
                border-inline-end: 2px var(--white) solid;
                border-block-end: 2px var(--white) solid;
            }
        }
    }
}
