@use '../../abstract' as *;

.html-content {
    position: relative;

    p,
    a,
    pre,
    li,
    h1,
    h2,
    h3,
    h4,
    h5 {
        @include user-select-text;
    }

    &.use-padding {
        padding: var(--gap-size) var(--gap-size) var(--col-size);
    }

    &.is-min-100 {
        min-height: calc(100vh - var(--header-height) - #{rem(80)});
    }

    &__triangle {
        position: absolute;
        top: calc(#{rem(10)} * -1);
        left: 0;
        width: rem(200);
        height: rem(200);
        fill: $white;
    }

    .title-content {
        position: relative;
        z-index: 1;
    }

    ul {
        margin-top: 0;
        padding: 0;
        list-style-type: none;

        li {
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: rem(10);
                left: calc(var(--gap-size) / 2 * -1);
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background: $grey-medium;
            }
        }

        &.use-links {
            margin-left: 0;
            list-style-type: none;
        }

        &.use-button {
            margin-left: 0;
            list-style-type: none;

            /* stylelint-disable-next-line no-descending-specificity */
            li > a {
                @include button;
            }
        }

        &.use-links,
        &.use-button {
            li {
                &::after {
                    display: none;
                }
            }
        }

        &.use-default {
            a {
                text-decoration: underline;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: capitalize;
    }

    h1 {
        position: relative;
        margin-bottom: 0;
        padding: calc(var(--gap-size) / 2);
        overflow: hidden;
        border: 2px $grey-lightteen solid;
        border-radius: rem(10);
        background: $grey-light;

        .title-content {
            span {
                font-size: rem(25);
            }
        }

        .triangle-left {
            position: absolute;
            z-index: -1;
            top: calc(#{rem(5)} * -1);
            left: 0;

            svg {
                width: rem(100);
                height: rem(100);
                fill: $white;
            }
        }

        .triangle-right {
            svg {
                position: absolute;
                z-index: -1;
                top: rem(15);
                right: calc(var(--gap-size) / 2 * -1);
                width: rem(100);
                height: rem(100);
                transform: rotateY(180deg) rotateX(180deg);
                fill: $white;
            }
        }
    }

    h2 {
        margin: var(--gap-size) calc(var(--gap-size) * -1)
            calc(var(--gap-size) / 2) calc(var(--gap-size) * -1);
        padding-left: var(--gap-size);

        &.is-section {
            position: relative;
            height: rem(60);
            overflow: hidden;
            transition: transform 0.35s;
            border-bottom: 1px $black solid;
            color: $black;
            text-transform: capitalize;

            &.pinned {
                box-shadow: 0 calc(#{rem(30)} * -1) 0 $black;
            }

            &.hide.pinned {
                transform: translateY(-100%);
            }

            .title-content {
                position: absolute;
                bottom: calc(#{rem(2)} * -1);
                left: rem(40);
                font-size: rem(40);

                @include mq(large) {
                    bottom: rem(4);
                    font-size: rem(60);
                }

                @include mq(xlarge) {
                    bottom: rem(8);
                    font-size: rem(65);
                }
            }

            .title-index {
                display: none;
                position: absolute;
                z-index: 1;
                right: rem(40);
                bottom: calc(#{rem(13)} * -1);
                color: $black;
                font-size: rem(14);

                @include mq(large) {
                    display: block;
                }
            }
        }
    }

    h3 {
        position: relative;
        margin-top: calc(var(--gap-size) / 4);
        margin-bottom: 0;
        margin-left: calc(calc(var(--gap-size) / 2) * -1);
        padding-bottom: calc(var(--gap-size) / 4);
        padding-left: calc(var(--gap-size) / 2);
        font-size: rem(26);

        &::after {
            content: '*';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            color: $nord-bg;
            font-size: rem(30);
        }
    }

    pre,
    code {
        font-family: 'Fira Code', monospace;
        font-optical-sizing: auto;
        font-size: rem(12);
    }
}

.list-links {
    @include button;

    display: inline-block;
    position: relative;
    min-width: rem(250);
    padding-right: var(--gap-size);
    padding-left: calc(var(--gap-size) / 2);
    text-align: left;
    text-transform: capitalize;

    $self: &;

    &:hover {
        // color: $white;

        #{$self}__arrow {
            &__start {
                background: $white;
            }

            &__end {
                border-right: 2px $white solid;
                border-bottom: 2px $white solid;
            }
        }
    }

    &__arrow {
        display: block;
        position: absolute;
        top: 50%;
        right: rem(5);
        width: calc(var(--gap-size) / 2);
        height: calc(var(--gap-size) / 2);

        &__start {
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: rem(10);
            transform: translate(-50%, -50%) rotate(45deg);
            transition: background 0.35s;
            background: $black;
        }

        &__end {
            position: absolute;
            top: -1px;
            left: 1px;
            width: rem(7);
            height: rem(7);
            transform: translate(-50%, -50%) rotate(275deg);
            transition: border-color 0.35s;
            border-right: 2px $black solid;
            border-bottom: 2px $black solid;
        }
    }
}
