@use '../../abstract' as *;

.html-content {
    position: relative;

    &.use-padding {
        padding: rem(40) rem(40) rem(200);
    }

    &.is-min-100 {
        min-height: calc(100vh - var(--header-height) - #{rem(80)});
    }

    &__triangle {
        width: rem(200);
        height: rem(200);
        position: absolute;
        top: calc(#{rem(10)} * -1);
        left: 0;
        fill: $white;
    }

    .title-content {
        position: relative;
        z-index: 1;
    }

    ul {
        padding: 0;
        list-style-type: none;

        li {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: calc(#{rem(15)} * -1);
                top: rem(8);
                width: 5px;
                height: 5px;
                background: $black;
                display: inline-block;
            }
        }

        &.use-links {
            list-style-type: none;
            margin-left: 0;
        }

        &.use-button {
            list-style-type: none;
            margin-left: 0;

            /* stylelint-disable-next-line no-descending-specificity */
            li > a {
                @include button;
            }
        }

        &.use-links,
        &.use-button {
            li {
                &::after {
                    display: none;
                }
            }
        }
    }

    h1 {
        padding: rem(20);
        border: 2px $white solid;
        margin-bottom: rem(50);
        position: relative;
        overflow: hidden;
        border-radius: rem(20);
        background: rgba($black, 0.05);

        .triangle-left {
            position: absolute;
            top: calc(#{rem(5)} * -1);
            left: 0;
            z-index: -1;

            svg {
                width: rem(100);
                height: rem(100);
                fill: $white;
            }
        }

        .triangle-right {
            svg {
                position: absolute;
                top: rem(15);
                right: calc(#{rem(15)} * -1);
                transform: rotateY(180deg) rotateX(180deg);
                fill: $white;
                width: rem(100);
                height: rem(100);
                z-index: -1;
            }
        }
    }

    h2 {
        &.is-section {
            background: $nord-bg;
            color: $white;
            padding: rem(20) rem(20) rem(20) rem(40);
            margin-left: calc(#{rem(40)} * -1);
            margin-right: calc(#{rem(40)} * -1);
            position: relative;
            overflow: hidden;

            @include mq('xlarge') {
                margin-right: calc(#{rem(142, xlarge)} * -1);
            }

            &::before {
                content: '';
                position: absolute;
                left: calc(#{rem(100)} * -1);
                top: 0;
                background: $nord-fg;
                width: rem(200);
                height: rem(200);
                transform: rotate(45deg);
            }

            &::after {
                content: '';
                position: absolute;
                right: calc(#{rem(100)} * -1);
                top: rem(60);
                background: $nord-fg;
                width: rem(200);
                height: rem(200);
                transform: rotate(50deg);
            }
        }

        &.use-sticky {
            position: sticky;
            top: var(--header-height);
            z-index: 2;
        }

        .title-index {
            display: block;
            font-size: rem(14);
            position: absolute;
            top: rem(12);
            right: rem(20);
            color: $white;
            z-index: 1;
        }
    }

    h3 {
        border-bottom: 1px rgba($black, 1) solid;
        padding-bottom: rem(20);
        margin-bottom: rem(40);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: rem(50);
            height: 5px;
            background: $black;
        }
    }

    h5 {
        border-bottom: 1px rgba($black, 1) solid;
        padding-bottom: rem(10);
        margin-bottom: rem(30);
        margin-top: rem(40);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: rem(30);
            height: 5px;
            background: $black;
        }
    }
}

.list-links {
    @include button;

    display: inline-block;
    padding-left: rem(20);
    padding-right: rem(40);
    text-align: left;
    position: relative;

    $self: &;

    &:hover {
        color: $white;

        #{$self}__arrow {
            &__start {
                background: $white;
            }

            &__end {
                border-right: 2px $white solid;
                border-bottom: 2px $white solid;
            }
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        right: rem(5);
        width: rem(20);
        height: rem(20);
        display: block;

        &__start {
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: rem(10);
            background: $black;
            transform: translate(-50%, -50%) rotate(45deg);
            transition: background 0.35s;
        }

        &__end {
            position: absolute;
            top: -1px;
            left: 1px;
            width: rem(7);
            height: rem(7);
            border-right: 2px $black solid;
            border-bottom: 2px $black solid;
            transform: translate(-50%, -50%) rotate(275deg);
            transition: border-color 0.35s;
        }
    }
}
