@use '../../abstract' as *;

.l-rosa {
    position: relative;
    top: var(--header-height);
    left: calc(var(--header-height) / 2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: calc(100% - var(--header-height) / 2);
    height: calc(100vh - var(--header-height) - var(--footer-height));

    &__wrap {
        height: 100%;
    }

    &__controls {
        display: flex;
        position: absolute;
        z-index: 11;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        width: rem(250);
        height: calc(100vh - var(--header-height) - var(--footer-height));
        margin: 0;
        padding: rem(60) rem(20) rem(20);
        transform: translateX(100%);
        transition: transform 0.35s;
        background: $black;
        list-style: none;

        &.active {
            transform: translateX(0);
        }

        &__open {
            display: block;
            position: absolute;
            z-index: 10;
            top: rem(20);
            right: rem(20);
            margin-top: 0;
            padding: rem(5) rem(20);
            transition:
                background 0.35s,
                color 0.35s;
            border: 0;
            background: $black;
            color: $white;
            font-size: rem(14);
            text-align: right;

            &:hover {
                background: $white;
                color: $black;
            }
        }

        &__close {
            position: absolute;
            z-index: 10;
            top: rem(10);
            right: rem(10);
            width: rem(40);
            height: rem(40);
            border: 0;
            background: transparent;

            &::after,
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: rem(20);
                height: 2px;
                background: $white;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }

        &__item {
            display: block;
            flex: 0 0 auto;
            width: 100%;
            text-align: center;

            &:last-of-type {
                border-bottom: 0;
            }
        }

        &__label {
            display: block;
            width: 100%;
            margin-bottom: rem(20);
            color: $white;
            font-weight: 400;
            text-align: left;
        }

        &__range {
            display: block;
            position: relative;
            width: 100%;
            margin: 0 auto rem(40);
            pointer-events: none;

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                background: rgba($white, 0.5);
            }

            input {
                display: block;
                position: relative;
                width: 100%;
                margin: auto;
                background: transparent;
                cursor: pointer;
                pointer-events: all;
                appearance: none;

                &::-webkit-slider-thumb {
                    width: rem(15);
                    height: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: $white;
                    cursor: pointer;
                    appearance: none;
                }

                &::-moz-range-thumb {
                    width: rem(15);
                    height: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: $white;
                    cursor: pointer;
                    appearance: none;
                }
            }
        }
    }
}
