@use '../../abstract' as *;

.l-rosa {
    position: relative;
    top: var(--header-height);
    left: calc(var(--header-height) / 2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: calc(100% - var(--header-height) / 2);
    height: calc(100vh - var(--header-height) - var(--footer-height));
}
