@use '../../abstract' as *;

@layer layout {
    @scope (.l-rosa) {
        :scope {
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            block-size: calc(
                100vh - var(--header-height) - var(--footer-height)
            );
            inline-size: calc(100% - var(--header-height) / 2);
            inset-block-start: var(--header-height);
            inset-inline-start: calc(var(--header-height) / 2);
        }

        .animation-container {
            block-size: 100%;
        }

        .controls {
            display: flex;
            position: absolute;
            z-index: 11;
            flex-direction: column;
            align-items: flex-end;
            block-size: calc(
                100vh - var(--header-height) - var(--footer-height)
            );
            inline-size: rem(250);
            margin: 0;
            padding: rem(60) rem(20) rem(20);
            transform: translateX(100%);
            transition: transform 0.35s;
            background: var(--dark);
            list-style: none;
            inset-block-start: 0;
            inset-inline-end: 0;

            &.active {
                transform: translateX(0);
            }
        }

        .controls-item {
            display: block;
            flex: 0 0 auto;
            inline-size: 100%;
            text-align: center;

            &:last-of-type {
                border-block-end: 0;
            }
        }

        .controls-label {
            display: block;
            inline-size: 100%;
            margin-block-end: rem(20);
            color: var(--white);
            font-weight: 400;
            text-align: start;
        }

        .controls-range {
            display: block;
            position: relative;
            inline-size: 100%;
            margin: 0 auto rem(40);
            pointer-events: none;

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                block-size: 1px;
                inline-size: 100%;
                background: rgba(var(--white-rgb), 0.5);
                inset-block-start: 50%;
                inset-inline-start: 0;
            }
        }

        .controls-open {
            display: block;
            position: absolute;
            z-index: 10;
            inset-block-start: rem(20);
            inset-inline-end: rem(20);
            margin-block-start: 0;
            padding: rem(5) rem(20);
            transition:
                background 0.35s,
                color 0.35s;
            border: 0;
            background: var(--dark);
            color: var(--white);
            font-size: rem(14);
            text-align: end;

            &:hover {
                background: var(--white);
                color: var(--dark);
            }
        }

        .controls-close {
            position: absolute;
            z-index: 10;
            block-size: rem(40);
            inline-size: rem(40);
            border: 0;
            outline-color: var(--white);
            background: transparent;
            inset-block-start: rem(10);
            inset-inline-end: rem(10);

            &::after,
            &::before {
                content: '';
                position: absolute;
                block-size: 2px;
                inline-size: rem(20);
                background: var(--white);
                inset-block-start: 50%;
                inset-inline-start: 50%;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }

        .controls-input {
            display: block;
            position: relative;
            inline-size: 100%;
            margin: auto;
            background: transparent;
            color: var(--white);
            cursor: pointer;
            pointer-events: all;
            appearance: none;

            &::-webkit-slider-thumb {
                block-size: rem(15);
                inline-size: rem(15);
                border: 0;
                border-radius: 100%;
                background: var(--white);
                cursor: pointer;
                appearance: none;
            }

            &::-moz-range-thumb {
                block-size: rem(15);
                inline-size: rem(15);
                border: 0;
                border-radius: 100%;
                background: var(--white);
                cursor: pointer;
                appearance: none;
            }
        }
    }
}

@layer direction {
    [dir='rtl'] :where(.l-rosa) {
        :where(.controls) {
            transform: translateX(-100%);

            &.active {
                transform: translateX(0);
            }
        }

        :where(.controls-close) {
            &::before {
                transform: translate(50%, -50%) rotate(-45deg);
            }

            &::after {
                transform: translate(50%, -50%) rotate(-135deg);
            }
        }
    }
}
