@use '../../abstract' as *;

.c-dragger {
    position: relative;

    @include user-select-none;

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
