@use '../../abstract' as *;

@layer layout {
    @scope (.c-dragger) {
        :scope {
            position: relative;
        }

        .wrapper {
            position: absolute;
            inset-block-start: 50%;
            inset-inline-start: 50%;
            transform: translate(calc(-50% * var(--dir)), -50%);
        }
    }
}
