@use '../../abstract' as *;

@layer layout {
    @scope (.c-dragger) {
        :scope {
            position: relative;
        }

        .wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
