@use '../../abstract' as *;

@layer layout {
    @scope (.c-dragger) {
        :scope {
            position: relative;
        }

        .wrapper {
            position: absolute;
            inset-block-start: 50%;
            inset-inline-start: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@layer direction {
    [dir='rtl'] :where(.c-dragger) :where(.wrapper) {
        transform: translate(50%, -50%);
    }
}
