@use '../../abstract' as *;

.c-quick-nav-container {
    visibility: hidden;
    position: relative;
    z-index: 10;
    transition:
        opacity 0.35s,
        visibility 0.35s;
    opacity: 0;
    pointer-events: none;

    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        mix-blend-mode: color-burn;
    }

    svg {
        width: 100%;
        height: 100%;
        transition: fill 0.55s;
        fill: $black;
    }

    &.fill-white {
        svg {
            fill: $white;
        }
    }

    &.fill-black {
        svg {
            fill: $black;
        }
    }
}

.c-quick-nav {
    position: fixed;
    z-index: 15;
    bottom: calc(var(--header-height) + #{rem(30)});
    width: rem(25);
    height: rem(25);
    transform-origin: center;
    transition: opacity 0.55s;
    border: 0;
    background: transparent;

    &--next {
        right: rem(40);
        transform: rotate(-90deg);
    }

    &--prev {
        right: rem(80);
        transform: rotate(90deg);
    }

    &--back {
        right: rem(120);
    }

    &.is-disable {
        opacity: 0.2;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.3;
    }
}
