@use '../../abstract' as *;

@layer layout {
    @scope (.c-quick-nav-container) {
        :scope {
            display: flex;
            display: none;
            visibility: hidden;
            position: fixed;
            z-index: 12;
            block-size: calc(var(--footer-height) - var(--gap));
            transform: translateX(calc(-50% * var(--dir)));
            transition:
                opacity 0.35s,
                visibility 0.35s;
            opacity: 0;
            inset-block-end: 2px;
            inset-inline-start: 50%;
            gap: var(--gap);

            --gap: #{rem(8px)};

            @include mq(tablet) {
                display: block;
            }

            &.active {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}

@layer layout {
    @scope (.c-quick-nav) {
        :scope {
            position: relative;
            z-index: 15;
            block-size: 100%;
            inline-size: calc(var(--footer-height) - var(--gap));
            transition:
                opacity 0.55s,
                background 0.55s;
            border: 0;
            outline-offset: 0;
            background: transparent;

            &::after {
                content: '';
                position: absolute;
                block-size: rem(15);
                inline-size: rem(15);
                transition: border-color 0.55s;
                transition: scale 0.35s;
                inset-block-start: 50%;
                inset-inline-start: 50%;
                border-block-start: 2px var(--white) solid;
                border-inline-end: 2px var(--white) solid;
            }

            &.is-next {
                &::after {
                    transform: translate(calc(-75% * var(--dir)), -50%)
                        rotate(calc(45deg * var(--dir)));
                }
            }

            &.is-prev {
                &::after {
                    transform: translate(calc(-25% * var(--dir)), -50%)
                        rotate(calc(-135deg * var(--dir)));
                }
            }

            &.is-back {
                &::after {
                    transform: translate(calc(-50% * var(--dir)), -75%)
                        rotate(calc(135deg * var(--dir)));
                }
            }

            &[disabled] {
                opacity: 0.2;
                pointer-events: none;
            }

            &:focus {
                outline-color: var(--white);
            }
        }

        :scope:hover {
            &::after {
                scale: 1.2;
                border-width: 3px;
            }

            .labels {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

@layer layout {
    @scope (.quick-nav-labels) {
        :scope {
            position: absolute;
            block-size: var(--item-height);
            overflow: hidden;
            inset-block-start: calc(#{rem(35)} * -1);
            inset-inline: 0;

            --item-height: #{rem(30)};
        }

        .labels {
            display: inline-block;
            z-index: -1;
            block-size: var(--item-height);
            inline-size: 100%;
            overflow: hidden;
            transform: translateY(100%);
            transition:
                opacity 0.35s,
                visibility 0.35s;
            color: var(--black);
            line-height: 1;
            text-align: center;

            span {
                display: block;
                display: flex;
                flex-direction: column;
                justify-content: center;
                block-size: var(--item-height);
                padding-block-start: rem(4);
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .labels-container {
            position: relative;
            block-size: calc(var(--item-height) * 3);
        }
    }
}

@layer override {
    [data-theme='dark'] :where(.quick-nav-labels) {
        color: var(--black);
    }
}

@layer override {
    [data-theme='dark'] :where(.c-quick-nav) {
        outline-color: var(--black);

        &::after {
            border-color: var(--black);
        }
    }
}
