@use '../../abstract' as *;

.c-history-item {
    display: block;
    position: relative;
    padding-left: rem(30);
    border: 0;
    background: transparent;
    font-size: rem(14);

    .checkbox-control {
        display: inline-block;
        position: absolute;
        z-index: 2;
        border: 1px $white solid;
        background: transparent;
        pointer-events: none;
    }

    input {
        opacity: 0;
        cursor: pointer;
        pointer-events: all;
    }

    input,
    .checkbox-control {
        position: absolute;
        top: 50%;
        left: 0;
        width: rem(12);
        height: rem(12);
        transform: translateY(-50%);

        &:checked {
            + .checkbox-control {
                &::after {
                    content: '';
                    position: absolute;
                    top: rem(4);
                    left: 50%;
                    width: rem(7);
                    height: rem(5);
                    transform: translate(-50%, -50%) rotate(135deg);
                    border-top: 2px $white solid;
                    border-right: 2px $white solid;
                }
            }
        }
    }

    &__button {
        border: 0;
        background: transparent;

        &.active {
            font-weight: 800;
        }
    }
}
