@use '../../abstract' as *;

.c-custom-history {
    position: fixed;
    z-index: 20;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    width: rem(400);
    padding: rem(80) rem(20) rem(60);
    transform: translateX(101%);
    transition: transform 0.35s;
    background: rgba($black, 0.9);
    color: $white;

    &.active {
        transform: translateX(0);
    }

    &__close {
        position: absolute;
        z-index: 10;
        top: rem(20);
        right: rem(10);
        width: var(--gap-size);
        height: var(--gap-size);
        border: 0;
        background: transparent;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(var(--gap-size) / 2);
            height: 2px;
            background: $white;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }

    &__nav {
        display: flex;
        position: absolute;
        top: rem(25);
        left: rem(20);
        margin: 0;
        padding: 0;
        list-style-type: none;

        button {
            display: block;
            margin-right: rem(5);
            transition:
                opacity 0.35s,
                transform 0.35s;
            border: 0;
            opacity: 0.2;
            background: transparent;
            pointer-events: none;

            &.active {
                opacity: 1;
                pointer-events: all;
            }

            &:hover {
                transform: scale(0.8);
            }
        }

        svg {
            width: rem(20);
            height: rem(20);
            fill: $white;
        }
    }

    &__next,
    &__down {
        svg {
            transform: rotate(180deg);
        }
    }
}
