@use '../../../abstract' as *;

@layer layout {
    @scope (.c-canvas-scroller) {
        :scope {
            position: relative;
            height: 500vh;
            pointer-events: none;
        }
    }
}
