@use '../../abstract' as *;

.c-scroller-down-label {
    visibility: hidden;
    position: fixed;
    z-index: 15;
    top: calc(var(--header-height) - 1px);
    left: 50%;
    padding: rem(10) rem(20) rem(6);
    transform: translateX(-50%);
    transition:
        opacity 0.35s,
        visibility 0.35s;
    border: 0;
    border: 1px $black solid;
    opacity: 0;
    color: $black;
    font-size: rem(14);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}
