@use '../../abstract' as *;

.c-scroller-down-label {
    visibility: hidden;
    position: fixed;
    z-index: 15;
    top: calc(var(--header-height) + rem(20));
    left: 50%;
    padding: rem(6) rem(20) rem(10);
    transform: translateX(-50%);
    transition:
        opacity 0.35s,
        visibility 0.35s;
    border: 0;
    border: 1px $black solid;
    opacity: 0;
    color: $black;
    line-height: 1;
    text-align: center;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}
