@use '../../abstract' as *;

.c-scroller-down-label {
    visibility: hidden;
    position: fixed;
    z-index: 15;
    bottom: rem(115);
    left: 50%;
    transform: translate(-50%, +50%);
    transition:
        opacity 0.35s,
        visibility 0.35s;
    opacity: 0;
    color: $black;
    font-size: rem(20);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;

    @include user-select-none;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}
