@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.c-test-comp {
    border: 0;
    color: $dark-green;
    margin-top: rem(30);
    padding: rem(20);
    display: flex;
    flex-wrap: wrap;
    width: rem(800);

    &__top,
    &__label {
        flex: 100%;
    }

    &__top,
    &__list {
        display: flex;
        gap: 2px;
        width: 100%;
        margin-bottom: 2px;
    }

    &__btn {
        flex: 1;
        background: transparent;
        border: 1px $grey solid;
    }

    &__inner {
        flex: 1;
        padding: rem(10);
        text-align: left;
        font-size: rem(14);
        line-height: 1.4;
        margin-bottom: 2px;
        border: 1px $grey solid;

        &.is-selected {
            background: $grey;
        }

        &__btn {
            margin-top: rem(10);
        }
    }
}
