@use '../../abstract' as *;

@layer layout {
    @scope (.anchor-button) {
        :scope {
            @include button;

            padding-right: var(--gap-size);
            padding-left: calc(var(--gap-size) / 2);
            background: transparent;
            text-align: left;
        }

        .arrows {
            display: block;
            position: absolute;
            top: 50%;
            right: rem(5);
            width: rem(20);
            height: rem(20);
        }

        .arrow-start {
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: rem(10);
            transform: translate(-50%, -50%);
            transition: background 0.35s;
            background: $black;
        }

        .arrow-end {
            position: absolute;
            top: calc(#{rem(2)} * 1);
            left: 0;
            width: rem(7);
            height: rem(7);
            transform: translate(-50%, -50%) rotate(45deg);
            transition: border-color 0.35s;
            border-right: 2px $black solid;
            border-bottom: 2px $black solid;
        }

        :scope:hover {
            .arrow-start {
                background: $white;
            }

            .arrow-end {
                border-right: 2px $white solid;
                border-bottom: 2px $white solid;
            }
        }
    }
}
