@use '../../abstract' as *;

.anchor-button {
    @include button;

    position: relative;
    padding-right: var(--gap-size);
    padding-left: calc(var(--gap-size) / 2);
    text-align: left;

    $self: &;

    &:hover {
        #{$self}__arrow {
            &__start {
                background: $white;
            }

            &__end {
                border-right: 2px $white solid;
                border-bottom: 2px $white solid;
            }
        }
    }

    &__arrow {
        display: block;
        position: absolute;
        top: 50%;
        right: rem(5);
        width: rem(20);
        height: rem(20);

        &__start {
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: rem(10);
            transform: translate(-50%, -50%);
            transition: background 0.35s;
            background: $black;
        }

        &__end {
            position: absolute;
            top: calc(#{rem(2)} * 1);
            left: 0;
            width: rem(7);
            height: rem(7);
            transform: translate(-50%, -50%) rotate(45deg);
            transition: border-color 0.35s;
            border-right: 2px $black solid;
            border-bottom: 2px $black solid;
        }
    }
}
