@use '../../abstract' as *;

@layer layout {
    @scope (.anchor-button) {
        :scope {
            @include button;

            padding-inline: calc(var(--gap-size) / 2) var(--gap-size);
            background: transparent;
            text-align: start;
        }

        .arrows {
            display: block;
            position: absolute;
            block-size: rem(20);
            inline-size: rem(20);
            inset-block-start: 50%;
            inset-inline-end: rem(5);
        }

        .arrow-start {
            position: absolute;
            block-size: rem(10);
            inline-size: 2px;
            transform: translate(-50%, -50%);
            transition: background 0.35s;
            background: var(--dark);
            inset-block-start: 0;
            inset-inline-start: 0;
        }

        .arrow-end {
            position: absolute;
            block-size: rem(7);
            inline-size: rem(7);
            transform: translate(-50%, -50%) rotate(45deg);
            transition: border-color 0.35s;
            inset-block-start: calc(#{rem(2)} * 1);
            inset-inline-start: 0;
            border-inline-end: 2px var(--dark) solid;
            border-block-end: 2px var(--dark) solid;
        }

        :scope:hover {
            .arrow-start {
                background: var(--white);
            }

            .arrow-end {
                border-inline-end: 2px var(--white) solid;
                border-block-end: 2px var(--white) solid;
            }
        }
    }
}

@layer direction {
    [dir='rtl'] :where(.anchor-button) {
        :where(.arrow-start) {
            transform: translate(50%, -50%);
        }

        :where(.arrow-end) {
            transform: translate(50%, -50%) rotate(-45deg);
        }
    }
}
