@use '../../abstract' as *;

.c-doc-title {
    h2 {
        color: $black;
        font-size: rem(300);
        opacity: 0.025;
        transform-origin: left bottom;
        transform: translate(calc(rem(50) * -1), calc(rem(320) * -1))
            rotate(90deg);
        display: inline-block;
        line-height: 1;
        user-select: none;
        pointer-events: none;
        overflow: hidden;
        position: absolute;
        top: 0;
        font-weight: 600;
    }
}
