@use '../../abstract' as *;

@layer layout {
    @scope (.c-only-tablet) {
        :scope {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-block-size: calc(
                100dvh - var(--header-height) - var(--footer-height)
            );
            margin-block-start: var(--header-height);
            padding-inline: var(--gap-size);
            text-align: center;

            @container body style(--template: test) {
                margin-block-start: 0;
            }

            @container body style(--template: listing) {
                margin-block-start: 0;
            }
        }

        button {
            @include button;

            background: transparent;
        }
    }
}
