@use '../../abstract' as *;

.html-content {
    color: $white;
    padding: rem(40);
    position: relative;

    &.is-min-100 {
        min-height: calc(100vh - var(--header-height) - #{rem(80)});
    }

    a {
        transition:
            opacity 0.35s,
            color 0.35s;
        color: $white;

        &:hover {
            color: $hightlight;
        }
    }

    ul {
        padding: 0;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    li > a {
        background: $black;
        padding: rem(5) rem(10);
        border-radius: rem(20);
        margin-bottom: rem(10);
        margin-right: rem(10);
        display: inline-block;
        text-decoration: none;
        min-width: rem(300);
        color: $white;
        text-align: center;
        transition: background 0.35s;
        font-size: rem(14);

        &:hover {
            background: rgba($black, 0.7);
            color: $white;
        }
    }

    p,
    code,
    li,
    h4,
    h5,
    h6 {
        margin-left: rem(10);
    }

    h3 {
        border-bottom: 1px rgba($white, 1) solid;
        padding-bottom: rem(20);
        margin-bottom: rem(40);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: rem(50);
            height: 5px;
            background: $white;
        }
    }
}
