@use '../../abstract' as *;

.html-content {
    color: $black;
    padding: rem(40) rem(40) rem(200);
    position: relative;

    &.is-min-100 {
        min-height: calc(100vh - var(--header-height) - #{rem(80)});
    }

    &__triangle {
        width: rem(200);
        height: rem(200);
        position: absolute;
        top: calc(#{rem(10)} * -1);
        left: 0;
        fill: $white;
    }

    a {
        transition:
            opacity 0.35s,
            color 0.35s;
        color: $black;

        &:hover {
            color: $color-contrast;
        }
    }

    p,
    code,
    li,
    h4,
    h5,
    h6 {
        margin-left: rem(10);
    }

    ul {
        padding: 0;

        .use-block-counter {
            position: absolute;
            top: rem(20);
            left: rem(20);
            font-size: rem(11);
        }

        &.use-block {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0;
            margin-top: 0;
            margin-right: calc(#{rem(40)} * -1);
            margin-left: calc(#{rem(40)} * -1);
            background: $white;

            @include mq('xlarge') {
                margin-right: calc(#{rem(140, xlarge)} * -1);
            }

            li {
                height: rem(200);
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px $grey solid;
                border-bottom: 1px $grey solid;
                margin: 0;
                position: relative;
                background: $white;
                transition:
                    background 0.55s,
                    opacity 0.55s;
                color: $black;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }

                &:hover {
                    background: $black;
                    color: $white;

                    a {
                        color: $white;
                    }
                }
            }
        }

        &:not(.use-block) {
            /* stylelint-disable-next-line no-descending-specificity */
            li > a {
                @include button;
            }
        }
    }

    h1 {
        padding: rem(20);
        border: 2px $white solid;
        margin-bottom: rem(70);
        position: relative;
        overflow: hidden;
        border-radius: rem(20);
        background: rgba($black, 0.05);

        .triangle-left {
            position: absolute;
            top: calc(#{rem(5)} * -1);
            left: 0;
            z-index: -1;

            svg {
                width: rem(100);
                height: rem(100);
                fill: $white;
            }
        }

        .triangle-right {
            svg {
                position: absolute;
                top: rem(15);
                right: calc(#{rem(15)} * -1);
                transform: rotateY(180deg) rotateX(180deg);
                fill: $white;
                width: rem(100);
                height: rem(100);
                z-index: -1;
            }
        }
    }

    h3 {
        border-bottom: 1px rgba($black, 1) solid;
        padding-bottom: rem(20);
        margin-bottom: rem(40);
        position: relative;

        &.use-black {
            background: $black;
            color: $white;
            margin-right: calc(#{rem(40)} * -1);
            margin-left: calc(#{rem(40)} * -1);
            padding-left: rem(40);
            margin-bottom: 0;
            padding-bottom: rem(10);
            padding-top: rem(10);
            font-size: rem(20);

            @include mq('xlarge') {
                margin-right: calc(#{rem(140, xlarge)} * -1);
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: rem(50);
            height: 5px;
            background: $black;
        }
    }

    h5 {
        border-bottom: 1px rgba($black, 1) solid;
        padding-bottom: rem(10);
        margin-bottom: rem(30);
        margin-top: rem(40);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: rem(30);
            height: 5px;
            background: $black;
        }
    }

    h3,
    h5 {
        &.use-clean {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
}
