@use '../../abstract' as *;

@layer layout {
    @scope (.l-h-scroller) {
        :scope {
            margin-block-start: calc(var(--header-height) * -1);
        }

        .top,
        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            block-size: 100vh;
            transition: background 0.55s;
            color: var(--dark);
            font-size: rem(25);
            font-weight: 600;
            text-transform: capitalize;
        }

        .top {
            margin-block-start: var(--header-height);
        }

        .bottom {
            position: relative;
        }

        .wrapper {
            pointer-events: none;
        }

        .column {
            padding: rem(12);
            pointer-events: all;

            &--last {
                inline-size: rem(100) !important;
            }

            &:last-of-type {
                margin-inline-end: 1px;
            }

            @include mq(tablet) {
                padding: calc(var(--header-height) * 0.5);
            }
        }

        .wrap {
            position: relative;
            block-size: 100%;
            border: 1px var(--dark) solid;
        }

        .nav {
            display: none;
            position: fixed;
            z-index: 9;
            margin: 0;
            padding: 0;
            list-style-type: none;
            transform: translateY(-100%);
            transition: opacity 0.15s;
            opacity: 0;
            font-size: 0;
            inset-block-start: calc(15% + var(--header-height) * 0.5 + 5px);
            inset-inline-start: calc(var(--header-height) * 0.5);

            &.active {
                opacity: 1;
            }

            @include mq(tablet) {
                display: block;
            }
        }

        .nav-item {
            display: inline-block;
            cursor: pointer;

            &:hover {
                button {
                    border-block-end: rem(5) var(--dark) solid;
                }
            }
        }

        .nav-button {
            position: relative;
            block-size: rem(60);
            inline-size: rem(60);
            margin: 0;
            transition:
                background 0.55s,
                border-top 0.55s;
            border: 0;
            background: transparent;
            font-size: rem(16);
            border-block-start: rem(5) transparent solid;
            border-block-end: rem(5) transparent solid;
        }

        .title {
            position: absolute;
            inset-block-start: 50%;
            inset-inline-start: 50%;
            inline-size: rem(200);
            transform: translate(-50%, -50%);
            border: rem(10px) color-mix(in oklch, var(--dark) 15%, transparent)
                solid;
            text-align: center;

            h1 {
                color: var(--dark);
                font-size: rem(200);
                font-weight: 600;
            }
        }
    }
}

@layer layout {
    @scope (.h-scroller-indicator) {
        :scope {
            display: block;
            z-index: 8;
            block-size: 0;
            inline-size: rem(12);
            margin: 0;
            padding: 0;
            transition:
                background 0.15s,
                opacity 0.15s;
            border: 0;
            opacity: 0;
            color: var(--dark);
            font-size: rem(16);
            pointer-events: none;
            border-inline-end: 1px var(--dark) solid;

            &.hidden {
                visibility: hidden;
            }

            &.active {
                opacity: 1;
            }

            &:hover {
                background: var(--dark);
            }

            @include mq(tablet) {
                inline-size: rem(60);
            }
        }

        span {
            display: block;
            block-size: rem(10);
            inline-size: rem(60);
            transform: translateY(-100%);
            background: var(--dark);
        }
    }
}

@layer override {
    :where(.is-whelling) .l-h-scroller :is(a, button) {
        pointer-events: none;
    }
}
