@use '../../abstract' as *;

.l-h-scroller {
    margin-top: calc(var(--header-height) * -1);
    margin-left: calc(var(--header-height) * -0.5);

    // Performance on scroll
    @include when-inside('.is-whelling') {
        pointer-events: none;
    }

    &__top,
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        transition: background 0.55s;
        color: $black;
        font-size: rem(25);
        font-weight: 600;
        text-transform: capitalize;
    }

    &__top {
        margin-top: var(--header-height);
    }

    &__bottom {
        position: relative;
    }

    &__container {
        pointer-events: none;
    }

    &__row {
        background-color: $grey;
    }

    &__column {
        padding: calc(var(--header-height) * 0.5);
        pointer-events: all;

        &--last {
            width: rem(100) !important;
        }

        &:last-of-type {
            margin-right: 1px;
        }
    }

    &__fakeColumn {
        width: rem(100) !important;
    }

    &__wrap {
        position: relative;
        height: 100%;
        border: 1px $black solid;
    }

    &__nav {
        position: fixed;
        z-index: 9;
        top: calc(15% + var(--header-height) * 0.5 + 5px);
        left: calc(var(--header-height) * 0.5);
        margin: 0;
        padding: 0;
        list-style-type: none;
        transform: translateY(-100%);
        transition: opacity 0.15s;
        opacity: 0;
        font-size: 0;

        &.active {
            opacity: 1;
        }

        li {
            display: inline-block;
            cursor: pointer;

            &:hover {
                button {
                    border-bottom: rem(5) $black solid;
                }
            }
        }

        &__btn {
            position: relative;
            width: rem(60);
            height: rem(60);
            margin: 0;
            transition:
                background 0.55s,
                border-top 0.55s;
            border: 0;
            border-top: rem(5) transparent solid;
            border-bottom: rem(5) transparent solid;
            background: transparent;
            font-size: rem(16);
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem(200);
        transform: translate(-50%, -50%);
        border: rem(10px) rgba($black, 0.15) solid;
        text-align: center;

        h1 {
            color: $black;
            font-size: rem(200);
            font-weight: 600;
        }
    }

    &__indicator {
        display: block;
        z-index: 10;
        width: rem(60);
        height: 0;
        margin: 0;
        padding: 0;
        transition:
            background 0.15s,
            opacity 0.15s;
        border: 0;
        border-right: 1px $black solid;
        opacity: 0;
        color: $black;
        font-size: rem(16);
        pointer-events: none;

        &.hidden {
            visibility: hidden;
        }

        span {
            display: block;
            width: rem(60);
            height: rem(10);
            transform: translateY(-100%);
            background: $black;
        }

        &.active {
            opacity: 1;
        }

        &:hover {
            background: $black;
        }
    }
}
