@use '../../abstract' as *;

@layer layout {
    @scope (.l-mob-02) {
        .title {
            position: absolute;
            z-index: 12;
            padding-block: rem(6) rem(10);
            padding-inline: rem(20);
            transform: translateX(calc(-50% * var(--dir)));
            border: 1px color-mix(in oklch, var(--dark) 30%, transparent) solid;
            line-height: 1;
            pointer-events: none;
            inset-block-start: rem(120);
            inset-inline-start: 50%;
        }
    }
}
