@use '../../abstract' as *;

@layer layout {
    @scope (.c-dynamic-list-empty) {
        :scope {
            margin-block-start: rem(10);
            padding: rem(5);
            border: 1px color-mix(in oklch, var(--dark) 10%, transparent) solid;
        }
    }
}

@layer override {
    :where(.is-selected) .c-dynamic-list-empty {
        border-color: color-mix(in oklch, var(--white) 30%, transparent);
    }
}
