@use '../../abstract' as *;

.c-dynamic-slot {
    margin: rem(20) 0;
    padding: calc(var(--gap-size) / 2);
    border-radius: rem(20);
    background: $black;

    &__label {
        margin: rem(20) 0;
        color: $white;
        font-size: rem(14);
    }
}
