@use '../../abstract' as *;

.c-dynamic-card {
    $self: &;

    box-sizing: border-box;
    flex: 0 0 100%;
    padding: calc(var(--gap-size) / 4);
    transition:
        opacity 1.55s,
        transform 0.35s;
    border: 0;
    opacity: 0;
    background: transparent;
    color: $black;
    font-size: rem(14);
    line-height: 1.4;
    text-align: left;

    &.active {
        opacity: 1;
    }

    &.is-full {
        width: 100%;
    }

    &__title {
        margin-bottom: rem(10);
        color: $black;
        font-weight: 600;
    }

    &__container {
        padding: calc(var(--gap-size) / 2);
        transition:
            background 0.55s,
            color 0.55s;
        border-radius: rem(30);
        background: $grey-light;
    }

    &.is-selected {
        #{$self}__container {
            background: $black;
            color: $white;
        }

        #{$self}__title {
            color: $white;
        }
    }

    &__repeater-container,
    &__invalidate {
        margin-top: calc(var(--gap-size) / 2);
    }

    &__invalidate {
        &__wrap {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__repeater {
        margin-bottom: calc(var(--gap-size) / 4);
        padding-bottom: calc(var(--gap-size) / 4);
        border-bottom: 1px rgba($black, 0.1) solid;
        font-size: 0;

        @include when-inside('.is-selected') {
            border-bottom: 1px rgba($white, 0.1) solid;
        }
    }

    &__button {
        width: 100%;
        margin-bottom: calc(var(--gap-size) / 4);
        padding: rem(12);
        border: 1px $white solid;
    }
}
