@use '../../abstract' as *;

.c-dynamic-counter {
    margin-top: calc(var(--gap-size) / 4);
    padding: rem(5);
    border: 1px rgba($white, 0.1) solid;
    color: $white;

    span {
        font-size: rem(20);
    }

    &__title {
        margin-bottom: 0;
    }

    &__subtitle {
        font-size: rem(10);
    }

    &__list {
        font-size: rem(12);
    }
}
