@use '../../abstract' as *;

.c-dynamic-list {
    box-sizing: border-box;
    padding-bottom: var(--footer-height);
    border: 0;

    // Increase scrolling performance on smooth scroll.
    @include when-inside('.is-whelling') {
        pointer-events: none;
    }

    &__header {
        position: sticky;
        z-index: 10;
        top: var(--header-height);
        padding: calc(var(--gap-size) / 2) var(--gap-size);
        border-bottom: 1px $black solid;
        background: rgba($white, 0.8);
    }

    &__counter {
        padding: calc(var(--gap-size) / 2) var(--gap-size) 0;
        color: $black;
    }

    &__container {
        box-sizing: border-box;
        width: 100%;
        padding: var(--gap-size);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-size);
    }

    &__label {
        padding: calc(var(--gap-size) / 2);
        color: $black;
    }

    &__top {
        gap: rem(10);
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &__button {
            flex: 1;
            max-width: rem(200);
            border: 0;
        }
    }

    &__invalidate {
        display: flex;
        padding: calc(var(--gap-size) / 2) var(--gap-size) 0;
        border-bottom: 1px $black solid;

        &__title {
            margin-right: calc(var(--gap-size) / 2);
        }
    }
}
