@use '../../abstract' as *;

@layer layout {
    @scope (.c-dynamic-list-repeater) to (.c-dynamic-card) {
        .repeater-title {
            padding: rem(20);
            color: $black;
        }

        .repeater-list {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: rem(20);

            @include mq(xlarge) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
