@use '../../abstract' as *;

@layer layout {
    @scope (.c-dynamic-list-card-inner) {
        :scope {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            width: rem(20);
            height: rem(20);
            margin: rem(1);
            padding: 0;
            border-radius: rem(4);
            background: var(--dark);
            color: var(--white);
            font-size: rem(12);
            text-align: center;

            @include when-inside('.is-selected') {
                background: var(--white);
                color: var(--dark);
            }
        }
    }
}
