@use '../../abstract' as *;

@layer layout {
    @scope (.c-dynamic-list) to (.c-dynamic-list-repeater) {
        :scope {
            padding-block-end: var(--footer-height);
            border: 0;

            @include when-inside('.is-whelling') {
                pointer-events: none;
            }
        }

        .header {
            position: sticky;
            z-index: 10;
            inset-block-start: var(--header-height);
            padding: calc(var(--gap-size) / 2) var(--gap-size);
            border-block-end: 1px var(--grey-400) solid;
            background: rgba(var(--white-rgb), 0.8);
        }

        .dynamic-list-button {
            flex: 1;
            max-inline-size: rem(200);
        }

        .header-top {
            gap: rem(10);
            display: flex;
            flex-wrap: wrap;
            inline-size: 100%;
        }

        .invalidate {
            display: flex;
            padding: calc(var(--gap-size) / 2) var(--gap-size) 0;
            border-block-end: 1px var(--grey-400) solid;
        }

        .invalidate-title {
            margin-inline-end: calc(var(--gap-size) / 2);
        }

        .counter {
            padding: calc(var(--gap-size) / 2) var(--gap-size) 0;
            color: var(--dark);
        }

        .repeaters-container {
            box-sizing: border-box;
            inline-size: 100%;
            padding: var(--gap-size);
        }

        .repeaters-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--gap-size);
        }
    }
}
