@use '../../abstract' as *;

@layer layout {
    @scope (.c-dynamic-list-empty) {
        :scope {
            margin-top: rem(10);
            padding: rem(5);
            border: 1px rgba(var(--dark-rgb), 0.1) solid;

            @include when-inside('.is-selected') {
                border-color: rgba(var(--white-rgb), 0.3);
            }
        }
    }
}
