@use '../../abstract' as *;

@layer component {
    @scope (.c-dynamic-list-empty) {
        :scope {
            margin-top: rem(10);
            padding: rem(5);
            border: 1px rgba($black, 0.1) solid;

            @include when-inside('.is-selected') {
                border-color: rgba($white, 0.3);
            }
        }
    }
}
