@use '../../abstract' as *;

@layer layout {
    @scope (.c-dynamic-list) to (.c-dynamic-list-repeater) {
        :scope {
            padding-block-end: var(--footer-height);
            border: 0;
        }

        .header {
            position: sticky;
            z-index: 10;
            inset-block-start: var(--header-height);
            padding: calc(var(--gap-size) / 2) var(--gap-size);
            border-block-end: 1px var(--grey-400) solid;
            background: color-mix(in oklch, var(--white) 80%, transparent);
        }

        /**
         * Main grid
         */
        .header-top {
            display: grid;

            /**
            * Di base 1fr is minmax(auto, 1fr)
            * - minmax(0, 1fr) -> annulla il limit della larghezza propia del contenuto
            * - in questo modo le colonne con 1fr sono tutte le rghe uguali.
            */
            grid-template-columns:
                minmax(0, 1fr) minmax(0, 1fr) rem(64)
                minmax(0, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: rem(12) rem(24);

            @include mq(large) {
                max-inline-size: rem(800);
            }
        }

        /**
         * Subgrid left
         */
        .variant-block {
            display: grid;
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
            grid-template-columns: subgrid;
            grid-template-rows: subgrid;
        }

        /**
         * Subgrid right
         */
        .counter-block {
            display: grid;
            grid-column: 4 / span 1;
            grid-row: 1 / span1;
            grid-template-columns: subgrid;
            grid-template-rows: subgrid;
        }

        .invalidate {
            display: flex;
            padding-block: calc(var(--gap-size) / 2) 0;
            padding-inline: var(--gap-size);
            border-block-end: 1px var(--grey-400) solid;
        }

        .invalidate-title {
            margin-inline-end: calc(var(--gap-size) / 2);
        }

        .counter {
            padding-block: calc(var(--gap-size) / 2) 0;
            padding-inline: var(--gap-size);
            color: var(--dark);
        }

        .repeaters-container {
            box-sizing: border-box;
            inline-size: 100%;
            padding: var(--gap-size);
        }

        .repeaters-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--gap-size);
        }
    }
}

@layer override {
    :where(.is-whelling) .c-dynamic-list {
        pointer-events: none;
    }
}
