@use '../../abstract' as *;

@layer component {
    @scope (.c-dynamic-counter) {
        span {
            font-size: rem(14);
        }

        .title {
            margin-bottom: 0;
        }

        .subtitle {
            font-size: rem(10);
        }

        .list {
            font-size: rem(12);
        }
    }
}
