@use '../../abstract' as *;

.c-dynamic-list-slotted-label {
    margin-top: calc(var(--gap-size) / 4);
    padding: rem(5);
    border: 1px rgba($black, 0.1) solid;

    @include when-inside('.is-selected') {
        border-color: rgba($white, 0.3);
    }
}
