@use '../../abstract' as *;

@layer layout {
    @scope (.c-dynamic-card) {
        :scope {
            flex: 0 0 100%;
            transition:
                opacity 1.55s,
                transform 0.35s;
            border: 0;
            opacity: 0;
            background: transparent;
            color: var(--dark);
            font-size: rem(14);
            line-height: 1.4;
            text-align: left;

            &.active {
                opacity: 1;
            }

            &.is-full {
                width: 100%;
            }
        }

        @scope (.card-info) {
            p {
                margin-bottom: 0;
            }
        }

        .card-container {
            padding: calc(var(--gap-size) / 2);
            transition:
                background 0.55s,
                color 0.55s;
            border-radius: rem(30);
            background: var(--grey-100);
        }

        .card-title {
            margin-bottom: rem(10);
            color: var(--dark);
            font-weight: 600;
        }

        .repeater-card-button {
            width: 100%;
            margin-bottom: calc(var(--gap-size) / 4);
            padding: rem(12);
        }

        .card-repeaters-wrap {
            margin-top: calc(var(--gap-size) / 2);
        }

        .card-repeater {
            margin-bottom: calc(var(--gap-size) / 4);
            padding-bottom: calc(var(--gap-size) / 4);
            border-bottom: 1px rgba(var(--dark-rgb), 0.1) solid;
        }

        .card-invalidate-wrap {
            display: flex;
            flex-wrap: wrap;
        }

        :scope.is-selected {
            .card-container {
                background: var(--dark);
                color: var(--white);
            }

            .card-title {
                color: var(--white);
            }

            .card-repeater {
                border-bottom: 1px rgba(var(--white-rgb), 0.1) solid;
            }

            .repeater-card-button {
                background: var(--white);
                color: var(--dark);
            }
        }
    }
}
