@use '../../abstract' as *;

.c-dynamic-list-repeater {
    &__title {
        padding: rem(20);
        color: $black;
    }

    &__new {
        margin-bottom: calc(var(--gap-size) / 2);
        padding: 0 calc(var(--gap-size) / 2);
        color: $black;
        font-size: rem(12);
        line-height: 1.5;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__item {
        @include mq(large) {
            flex: 0 0 50%;
        }
    }
}
