@use '../../abstract' as *;

@layer layout {
    @scope (.c-dynamic-list-slotted-label) {
        :scope {
            margin-top: calc(var(--gap-size) / 4);
            padding: rem(5);
            border: 1px rgba(var(--dark-rgb), 0.1) solid;

            @include when-inside('.is-selected') {
                border-color: rgba(var(--white-rgb), 0.3);
            }
        }
    }
}
