@use '../../abstract' as *;

@layer layout {
    @scope (.c-dynamic-list) to (.c-dynamic-list-repeater) {
        :scope {
            padding-bottom: var(--footer-height);
            border: 0;

            @include when-inside('.is-whelling') {
                pointer-events: none;
            }
        }

        .header {
            position: sticky;
            z-index: 10;
            top: var(--header-height);
            padding: calc(var(--gap-size) / 2) var(--gap-size);
            border-bottom: 1px $black solid;
            background: rgba($white, 0.8);
        }

        .dynamic-list-button {
            flex: 1;
            max-width: rem(200);
        }

        .header-top {
            gap: rem(10);
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .invalidate {
            display: flex;
            padding: calc(var(--gap-size) / 2) var(--gap-size) 0;
            border-bottom: 1px $black solid;
        }

        .invalidate-title {
            margin-right: calc(var(--gap-size) / 2);
        }

        .counter {
            padding: calc(var(--gap-size) / 2) var(--gap-size) 0;
            color: $black;
        }

        .repeaters-container {
            box-sizing: border-box;
            width: 100%;
            padding: var(--gap-size);
        }

        .repeaters-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--gap-size);
        }
    }
}
