@use '../../abstract' as *;

.c-dynamic-list-button {
    background: $black;
    color: $white;
    border-radius: rem(30);
    transition:
        opacity 0.55s,
        background 0.55s;

    &:hover {
        opacity: 0.5;
    }

    &.active {
        background: $white;
        color: $black;
    }
}
