@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.l-h-scroller {
    margin-top: calc(var(--header-height) * -1);
    margin-left: calc(var(--header-height) * -0.5);

    &__top,
    &__bottom {
        height: 100vh;
        background: $green;
    }

    &__container {
        pointer-events: none;
    }

    &__column {
        padding: calc(var(--header-height) * 0.5);
        pointer-events: all;

        &--last {
            width: rem(100) !important;
        }
    }

    &__wrap {
        border: 5px $green solid;
        height: 100%;
        position: relative;
    }

    &__nav {
        position: fixed;
        left: calc(var(--header-height) * 0.5);
        top: calc(15% + var(--header-height) * 0.5 + 5px);
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 0;
        z-index: 12;

        li {
            display: inline-block;
        }

        &__btn {
            width: rem(60);
            height: rem(60);
            margin: 0;
            font-size: rem(16);
            background: transparent;
            border: 0;
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 10px $grey solid;
        width: rem(200);
        text-align: center;

        h1 {
            font-size: rem(200);
        }
    }

    &__btn {
        background: $green;
        border-right: 1px $white solid;
        border: 0;
        width: rem(60);
        height: rem(60);
        color: $white;
        transition: background 0.55s;
        font-size: rem(16);
        pointer-events: none;

        &:hover {
            background: $dark-green;
        }
    }
}
