@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.l-h-scroller {
    margin-top: calc(var(--header-height) * -1);

    &__column {
        padding: rem(20);

        &--last {
            width: rem(100) !important;
        }
    }

    &__wrap {
        border: 5px $green solid;
        height: 100%;
    }

    &__btn {
        background: $green;
        border-right: 1px $white solid;
        border: 0;
        width: rem(60);
        height: rem(60);
        color: $white;
        transition: background 0.55s;

        &:hover {
            background: $dark-green;
        }
    }
}
