@use '../../abstract' as *;

@layer layout {
    @scope (.l-math) to (.c-math) {
        :scope {
            display: grid;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            block-size: calc(
                100vh - var(--header-height) - var(--footer-height)
            );
            inline-size: calc(100% - var(--header-height) / 2);
            inset-block-start: var(--header-height);
            inset-inline-start: calc(var(--header-height) / 2);

            &::after {
                content: '';
                position: absolute;
                inset-block: 0;
                inset-inline-start: 50%;
                inline-size: 1px;
                background: var(--dark);
            }

            &::before {
                content: '';
                position: absolute;
                inset-block-start: 50%;
                inset-inline: 0;
                block-size: 1px;
                background: var(--dark);
            }
        }
    }
}
