@use '../../abstract' as *;

.l-math {
    display: grid;
    position: relative;
    top: var(--header-height);
    left: calc(var(--header-height) / 2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: calc(100% - var(--header-height) / 2);
    height: calc(100vh - var(--header-height) - var(--footer-height));

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background: $black;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 1px;
        background: $black;
    }
}
