@use '../../abstract' as *;

.c-params-mobjs {
    --links-height: 54vh;

    height: var(--links-height);
    overflow: hidden;
    position: fixed;
    top: rem(120, large);
    left: calc(var(--doc-width) + #{rem(40)});
    z-index: 14;
    margin-top: rem(40);
    width: rem(250);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
    transition:
        opacity 0.55s,
        visibility 0.55s;

    @include mq(large) {
        display: block;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transition:
            opacity 1s 0.5s,
            visibility 1s 0.5s;
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-bottom: rem(100);

        @media screen and (height <= 825px) {
            margin-top: calc(#{rem(10)} * -1);
        }
    }

    a {
        transition: color 0.35s;
        display: block;
        position: relative;
        font-size: rem(13);
        line-height: 1.6;

        &::after {
            content: '';
            top: 50%;
            transform: translateY(-50%);
            left: calc(#{rem(20)} * -1);
            height: em(15);
            width: 4px;
            background: $white;
            position: absolute;
            opacity: 0;
            transition: opacity 0.35s;
        }

        @media screen and (height >= 200px) and (height <= 750px) {
            font-size: rem(11);
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    .current {
        font-weight: 500;

        &::after {
            opacity: 1;
        }
    }

    &__label {
        font-size: rem(14);
        line-height: 1.2;
        margin-top: rem(20);
    }

    &__scrollbar {
        position: absolute;
        top: 0;
        width: var(--links-height);
        left: rem(240);
        transform: rotate(90deg);
        transform-origin: left;
        z-index: 11;
        appearance: none;
        background: transparent;
        cursor: pointer;

        --thumb-width: #{rem(200)};

        &:focus {
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            background-color: rgba($grey, 0.3);
            border-radius: 0;
            height: rem(10);
            width: var(--thumb-width);
        }

        &::-webkit-slider-thumb {
            appearance: none;
            background-color: $white;
            height: rem(10);
            width: var(--thumb-width);
        }

        &:focus::-webkit-slider-thumb {
            outline-offset: 0;
        }

        &::-moz-range-track {
            background-color: rgba($grey, 0.3);
            border-radius: 0;
            height: rem(10);
        }

        &::-moz-range-thumb {
            border: none; /* Removes extra border that FF applies */
            border-radius: 0; /* Removes default border-radius that FF applies */
            background-color: $white;
            height: rem(10);
            width: var(--thumb-width);
        }

        &:focus::-moz-range-thumb {
            outline-offset: 0;
        }
    }
}
