@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.c-params-mobjs {
    ul {
        list-style: none;

        @media screen and (max-height: 825px) {
            margin-top: calc(#{rem(10)} * -1);
        }
    }

    a {
        transition: color 0.35s;
        display: block;

        @media screen and (min-height: 200px) and (max-height: 750px) {
            font-size: 11px;
            line-height: 1.6;
        }

        @media screen and (min-height: 750px) and (max-height: 825px) {
            font-size: 13px;
            line-height: 1.7;
        }

        &:hover {
            color: $green;
        }
    }

    .current {
        color: $green;
    }
}
