@use '../../abstract' as *;

.c-params-mobjs {
    ul {
        list-style: none;
        margin-left: 0;

        @media screen and (height <= 825px) {
            margin-top: calc(#{rem(10)} * -1);
        }
    }

    a {
        transition: color 0.35s;
        display: block;
        position: relative;

        &::after {
            content: '';
            top: 50%;
            transform: translateY(-50%);
            left: calc(#{rem(20)} * -1);
            height: em(15);
            width: 4px;
            background: $white;
            position: absolute;
            opacity: 0;
            transition: opacity 0.35s;
        }

        @media screen and (height >= 200px) and (height <= 750px) {
            font-size: 11px;
            line-height: 1.7;
        }

        @media screen and (height >= 750px) and (height <= 825px) {
            font-size: 13px;
            line-height: 1.7;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    .current {
        &::after {
            opacity: 1;
        }
    }
}
