@use '../../abstract' as *;

.l-about {
    overflow: hidden;

    --section-width: calc(100vw - (var(--header-height) / 2));

    &__scroller {
        height: calc(100vh - var(--header-height) - var(--footer-height));
        width: calc(var(--section-width) * var(--number-of-section));
        cursor: grabbing;
        position: relative;
    }

    &__wrap {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__section {
        flex: 0 0 var(--section-width);
        height: 100%;
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);

        &__1 {
            &__left {
                grid-column: 1 / span 1;
                padding-left: rem(40);
            }

            &__right {
                grid-column: 2 / span 1;
                justify-self: end;
                padding-right: rem(100);
            }

            &__arrow {
                display: block;
                width: rem(20);
                height: rem(20);
                border-top: 3px $white solid;
                border-right: 3px $white solid;
                transform: rotate(45deg);
            }
        }
    }

    &__background {
        position: absolute;
        bottom: 0;
        left: calc((var(--header-height) / 2) * -1);
        width: 100vw;
        height: calc(
            (100vh - var(--header-height) - var(--footer-height)) * 0.5
        );
        background: $black;
    }

    &__shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 500px;
        background: $white;
    }

    &__angles-top-left {
        position: absolute;
        top: rem(100);
        left: rem(200);
        width: rem(20);
        height: rem(20);
        border-top: 3px $white solid;
        border-left: 3px $white solid;
    }

    &__angles-top-right {
        position: absolute;
        top: rem(100);
        right: rem(200);
        width: rem(20);
        height: rem(20);
        border-top: 3px $white solid;
        border-right: 3px $white solid;
    }

    &__angles-bottom-left {
        position: absolute;
        bottom: rem(100);
        left: rem(200);
        width: rem(20);
        height: rem(20);
        border-bottom: 3px $white solid;
        border-left: 3px $white solid;
    }

    &__angles-bottom-right {
        position: absolute;
        bottom: rem(100);
        right: rem(200);
        width: rem(20);
        height: rem(20);
        border-bottom: 3px $white solid;
        border-right: 3px $white solid;
    }
}
