@use '../../abstract' as *;

.l-about {
    overflow: hidden;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    position: relative;

    --section-width: calc(80vw - (var(--header-height) / 2));

    &__scroller {
        height: calc(100vh - var(--header-height) - var(--footer-height));
        width: calc(var(--section-width) * var(--number-of-section));
        cursor: grabbing;
        position: relative;
    }

    &__wrap {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__arrow {
        position: absolute;
        display: block;
        width: rem(20);
        height: rem(20);
        border-top: 3px $black solid;
        border-right: 3px $black solid;
        right: rem(20);
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    &__triangle-1 {
        position: absolute;
        bottom: 0;
        left: -1px;
        transform: translateY(50%);

        svg {
            width: rem(400);
            fill: $grey;
        }
    }

    &__triangle-2 {
        position: absolute;
        right: 0;
        transform: translateY(75%) rotate(180deg);

        svg {
            width: rem(400);
            fill: $grey;
        }
    }

    &__section {
        flex: 0 0 var(--section-width);
        height: 100%;
        position: relative;
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        .title-big {
            display: inline-block;
            position: relative;
        }

        padding-left: rem(40);

        @include mq(xlarge) {
            padding-left: rem(100);
        }

        &__top {
            grid-row: 1 / span 1;
            align-self: end;
            padding-top: rem(100);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &__bottom {
            grid-row: 2 / span 1;
            padding-bottom: rem(100);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &__left {
            grid-column: 1 / span 1;
        }

        &__right {
            grid-column: 2 / span 1;
        }

        &__copy {
            max-width: rem(600);
            margin-top: rem(20);
        }
    }

    &__background {
        position: absolute;
        bottom: 0;
        left: calc((var(--header-height) / 2) * -1);
        width: 100vw;
        height: calc(
            (100vh - var(--header-height) - var(--footer-height)) * 0.5
        );
        background: $white;
    }

    &__shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 500px;
        background: $grey;
    }
}
