@use '../../abstract' as *;

.l-about {
    overflow: hidden;

    --section-width: calc(100vw - (var(--header-height) / 2));

    &__scroller {
        display: flex;
        height: calc(100vh - var(--header-height) - var(--footer-height));
        width: calc(var(--section-width) * var(--number-of-section));
    }

    &__section {
        border: 5px red solid;
        flex: 0 0 var(--section-width);
        height: 100%;
    }
}
