@use '../../abstract' as *;

.l-about {
    position: relative;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow: hidden;
    pointer-events: none;

    --sreen-size: 60vw;

    * {
        @include user-select-none;
    }

    &.active {
        pointer-events: all;
    }

    &__square {
        position: absolute;
        z-index: 11;
        top: rem(120);
        left: 50%;
        width: var(--sreen-size);
        height: calc(
            /* stylelint-disable-next-line  scss/operator-no-newline-after */
                100vh - var(--footer-height) - var(--header-height) -
                #{rem(120)} - #{rem(120)}
        );
        transform: translateX(-50%);
        border: 1px rgba($black, 0.2) solid;
        pointer-events: none;

        &::before {
            content: '{';
            position: absolute;
            top: 50%;
            left: calc(#{rem(50)} * -1);
            transform: translateY(-50%);
            font-size: rem(30);
        }

        &::after {
            content: '}';
            position: absolute;
            top: 50%;
            right: calc(#{rem(50)} * -1);
            transform: translateY(-50%);
            font-size: rem(30);
        }

        &__legend {
            position: absolute;
            top: -#{rem(40)};
            left: 0;
        }

        &__angle {
            position: absolute;
            width: rem(60);
            height: rem(60);

            &.top-left {
                top: 0;
                left: 0;
                border-top: 2px $black solid;
                border-left: 2px $black solid;
            }

            &.top-right {
                top: 0;
                right: 0;
                border-top: 2px $black solid;
                border-right: 2px $black solid;
            }

            &.bottom-left {
                bottom: 0;
                left: 0;
                border-bottom: 2px $black solid;
                border-left: 2px $black solid;
            }

            &.bottom-right {
                right: 0;
                bottom: 0;
                border-right: 2px $black solid;
                border-bottom: 2px $black solid;
            }
        }
    }

    &__bio {
        position: absolute;
        z-index: 12;
        right: 0;
        bottom: rem(30);
        left: 0;
        margin: 0;
        padding: calc(var(--gap-size) / 2);
        list-style-type: none;
        text-align: center;

        &__item {
            display: inline-block;
            margin-right: rem(10);
            margin-bottom: 0;
            font-size: rem(14);
        }

        a {
            transition: opacity 0.35s;
            text-decoration: underline;
            pointer-events: all;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__screen {
        position: absolute;
        z-index: 11;
        top: 50%;

        // overflow: hidden;
        left: 50%;
        width: var(--sreen-size);
        transform: translate(-50%, -50%);
    }

    &__scroller {
        position: relative;
        z-index: 3;
        width: calc(var(--sreen-size) * 4);
        height: calc(100vh - var(--header-height) - var(--footer-height));
        cursor: grabbing;
    }

    &__wrap {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__top-title {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: calc(#{rem(60)} * -1);
        transform: translateY(-105%) rotateX(180deg);
        transition:
            transform 1.5s,
            opacity 0.55s;
        opacity: 0.025;
        font-size: rem(300);
        font-weight: 800;
        line-height: 1;
        text-transform: uppercase;
        text-wrap: nowrap;
        mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
    }

    &__list {
        grid-column: 1 / span 2;
        margin-top: rem(20);
        margin-inline: auto;
        padding-left: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin: rem(5);
            font-size: rem(14);
        }
    }

    &__section {
        display: grid;
        position: relative;
        grid-template-rows: repeat(2, 1fr);
        flex: 0 0 var(--sreen-size);
        height: 100%;
        text-align: center;

        .title-biggest {
            display: inline-block;
            position: relative;
            margin: auto;
        }

        &__top {
            grid-row: 1 / span 1;
            align-self: end;
        }

        &__copy {
            max-width: rem(600);
            margin: auto;
            margin-top: rem(20);
        }
    }

    &__background {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: calc((var(--header-height) / 2) * -1);
        width: 100vw;
        height: calc(
            (100vh - var(--header-height) - var(--footer-height)) * 0.5
        );
        overflow: hidden;
        background: $white;
    }

    &__about-svg {
        position: absolute;
        z-index: -1;
        pointer-events: none;

        svg {
            width: calc((255 * 800) / 1980 * 1vw);
            height: calc((93 * 800) / 1980 * 1vw);
            transform: translateY(#{rem(30)});
        }

        &--back {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);

            svg {
                opacity: 0.2;
                fill: $white;
            }
        }

        &--front {
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 30%);

            svg {
                opacity: 0.3;
                fill: $grey;
            }
        }

        &--bottom {
            top: 0;
            left: 50%;
            transform: translate(-48.8%, -40.2%) rotateX(180deg);

            svg {
                fill: rgba($grey-light, 0.5);
            }
        }
    }

    &__shape {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        width: calc((255 * 800) / 1980 * 1vw);
        height: calc((93 * 800) / 1980 * 1vw);
        background: $white;

        &--back {
            transform: translate3d(-50%, -94%, 0);
            background: $grey-medium-2;
        }

        &--front {
            transform: translate3d(-50%, -95%, 0);
        }
    }

    &__prev,
    &__next {
        position: absolute;
        z-index: 12;
        bottom: rem(122);
        left: 50%;
        width: rem(50);
        height: rem(50);
        transition:
            transform 0.35s,
            opacity 0.35s;
        border: 0;
        background: $black;

        &:disabled {
            opacity: 0.1;
            pointer-events: none;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: rem(15);
            height: rem(15);
            transition: border-color 0.55s;
            border-top: 1px $white solid;
            border-right: 1px $white solid;
        }
    }

    /* stylelint-disable-next-line  no-descending-specificity */
    &__prev {
        transform: translateX(calc(2px + var(--sreen-size) / 2 * -1));

        &::after {
            transform: translate(-25%, -50%) rotate(-135deg);
        }

        &:hover {
            transform: translateX(calc(2px + var(--sreen-size) / 2 * -1))
                scale(1.2);
        }
    }

    /* stylelint-disable-next-line  no-descending-specificity */
    &__next {
        transform: translateX(calc(-100% - 2px + var(--sreen-size) / 2));

        &::after {
            transform: translate(-75%, -50%) rotate(45deg);
        }

        &:hover {
            transform: translateX(calc(-100% - 2px + var(--sreen-size) / 2))
                scale(1.2);
        }
    }

    &__nav {
        display: flex;
        position: absolute;
        z-index: 11;
        bottom: rem(120);
        left: 50%;
        margin-left: 0;
        padding-left: 0;
        transform: translateX(-50%);
        list-style: none;

        &__item {
            margin-inline: 0;
        }

        &__button {
            display: inline-block;
            margin-inline: rem(5);
            padding: rem(5) rem(10);
            transition: opacity 0.35s;
            transition:
                background 0.55s,
                color 0.55s;
            border: 1px rgba($black, 0.2) solid;
            background: transparent;
            font-size: rem(13);
            line-height: 1;

            &.active,
            &:hover {
                background: $black;
                color: $white;
            }
        }
    }
}
