@use '../../abstract' as *;

@layer layout {
    @scope (.error-page) {
        :scope {
            display: flex;
            align-items: center;
            justify-content: center;
            block-size: calc(100vh - var(--header-height) - var(--footer-height));
            padding: rem(30);
            text-align: center;
        }

        .title {
            margin-block-end: rem(40);
        }

        .link {
            @include button;

            max-inline-size: rem(200);
        }
    }
}
