@use '../../abstract' as *;

.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: rem(30);
    text-align: center;

    &__title {
        margin-bottom: rem(40);
    }

    &__link {
        @include button;

        max-width: rem(200);
    }
}
