@use '../../abstract' as *;

.matrioska {
    border: 0;
    padding-bottom: var(--footer-height);
    box-sizing: border-box;

    &__head {
        position: sticky;
        top: var(--header-height);
        background: rgba($black, 0.8);
        padding: rem(8);
        z-index: 10;
        display: flex;
        flex-wrap: wrap;

        &__item {
            flex: calc((100 / 3) * 1%);
            padding-inline: rem(24);
            text-align: center;
        }

        &__counter {
            color: $white;
        }
    }

    &__button {
        max-width: rem(200);
        width: 100%;
        border: 0;
        margin: rem(4) 0;
    }

    &__level {
        // border-radius: rem(20);
        // overflow: hidden;
        //
        // &--1,
        // &--2 {
        //     border: 1px $black solid;
        // }

        &--3 {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
