@use '../../abstract' as *;

.matrioska {
    border: 0;
    padding-bottom: var(--footer-height);
    box-sizing: border-box;

    &__head {
        position: sticky;
        top: var(--header-height);
        background: rgba($black, 0.8);
        padding: calc(var(--gap-size) / 4);
        z-index: 10;
        display: flex;
        flex-wrap: wrap;

        &__item {
            flex: calc((100 / 4) * 1%);
            padding-inline: calc(var(--gap-size) / 2);
            text-align: center;
            color: $white;
            font-size: rem(14);
        }

        &__title {
            padding: calc(var(--gap-size) / 2) var(--gap-size);
            border-bottom: 1px $black solid;
            margin-right: rem(12);

            span {
                display: block;
                font-weight: 400;
                margin-top: rem(5);
                margin-bottom: rem(5);
            }
        }

        &__cta-counter {
            padding: 0;
            flex: calc((100 / 4) * 1%);
            text-align: center;
        }

        &__counter {
            font-size: rem(12);
        }
    }

    &__button {
        max-width: rem(200);
        width: 100%;
        border: 0;
        margin: rem(4) 0;
    }

    &__level {
        flex: 33%;

        &--2 {
            border-bottom: 1px $black solid;
            padding-bottom: calc(var(--gap-size) / 2);
        }

        &--2,
        &--3 {
            display: flex;
            flex-wrap: wrap;
        }

        &--3 {
            margin: calc(var(--gap-size) / 2);
        }
    }

    &__item-wrap {
        &--2 {
            flex: 0 0 50%;
        }

        &--3 {
            flex: 0 0 50%;
            padding: calc(var(--gap-size) / 2);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                z-index: 0;
                inset: rem(10);
                background: $grey-light;
                border-radius: rem(20);
            }
        }
    }
}
