@use '../../abstract' as *;

.matrioska-item {
    position: relative;
    z-index: 1;
    margin: rem(12);
    overflow: hidden;
    border-radius: rem(20);

    h4 {
        font-size: rem(14);
    }

    h6 {
        font-size: rem(14);
    }

    &--1,
    &--2 {
        margin-bottom: calc(var(--gap-size) / 2);
        padding-bottom: calc(var(--gap-size) / 2);
    }

    &--2 {
        background: $grey-light;
    }

    &--3 {
        background: $white;
        cursor: pointer;

        &.active {
            background: $black;
            color: $white;
        }
    }

    &__info {
        margin-bottom: rem(20);
    }

    &__level {
        margin-bottom: 0;
        padding: calc(var(--gap-size) / 2);
    }

    &__key,
    &__value {
        margin-bottom: 0;
        padding: 0 calc(var(--gap-size) / 2);

        span {
            font-weight: 400;
        }
    }
}
