@use '../../abstract' as *;

.matrioska {
    box-sizing: border-box;
    padding-bottom: var(--footer-height);
    border: 0;

    // Increase scrolling performance on smooth scroll.
    @include when-inside('.is-whelling') {
        pointer-events: none;
    }

    &__head {
        display: flex;
        position: sticky;
        z-index: 10;
        top: var(--header-height);
        flex-wrap: wrap;
        padding: calc(var(--gap-size) / 4);
        border-bottom: 1px $black solid;
        background: rgba($white, 0.8);

        &__item {
            flex: calc((100 / 4) * 1%);
            padding-inline: calc(var(--gap-size) / 2);
            color: $black;
            font-size: rem(14);
            text-align: center;
        }

        &__title {
            margin-right: rem(12);
            padding: calc(var(--gap-size) / 2) var(--gap-size);
            border-bottom: 1px $black solid;

            span {
                display: block;
                margin-top: rem(5);
                margin-bottom: rem(5);
                font-weight: 400;
            }
        }

        &__cta-counter {
            flex: calc((100 / 4) * 1%);
            padding: 0;
            text-align: center;
        }

        &__counter {
            font-size: rem(12);
        }
    }

    &__button {
        width: 100%;
        max-width: rem(200);
        margin: rem(4) 0;
        border: 0;
    }

    &__level {
        flex: 33%;

        &--2 {
            padding-bottom: calc(var(--gap-size) / 2);
            border-bottom: 1px $black solid;
        }

        &--2,
        &--3 {
            display: flex;
            flex-wrap: wrap;
        }

        &--3 {
            margin: calc(var(--gap-size) / 2);
        }
    }

    &__item-wrap {
        &--2 {
            flex: 0 0 100%;

            @include mq(xlarge) {
                flex: 0 0 50%;
            }
        }

        &--3 {
            position: relative;
            flex: 0 0 50%;
            padding: calc(var(--gap-size) / 2);

            &::after {
                content: '';
                position: absolute;
                z-index: 0;
                border-radius: rem(20);
                background: $grey-lightteen;
                inset: rem(10);
            }
        }
    }
}
