@use '../../abstract' as *;

.matrioska-item {
    border-radius: rem(20);
    overflow: hidden;
    margin: rem(12);
    position: relative;
    z-index: 1;

    h4 {
        font-size: rem(14);
    }

    h6 {
        font-size: rem(14);
    }

    &--1,
    &--2 {
        padding-bottom: rem(20);
        margin-bottom: rem(20);
    }

    &--2 {
        background: $white;
    }

    &--3 {
        background: $grey;
        cursor: pointer;

        &.active {
            background: $black;
            color: $white;
        }
    }

    &__info {
        margin-bottom: rem(20);
    }

    &__level {
        padding: rem(12);
        margin-bottom: 0;
    }

    &__key,
    &__value {
        padding: 0 rem(12);
        margin-bottom: 0;

        span {
            font-weight: 400;
        }
    }
}
