/*
 * -- HELPERS --
 * These are some useful classes which I will need
 */

/**
  * Clear inner floats
  */

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.is-center {
    text-align: center;
}

.is-right {
    text-align: right;
}

.overflow-hidden {
    overflow: hidden;
}
