@use '../../abstract' as *;

.benchmark-fake {
    border: 1px $black solid;
    padding: rem(20);
    flex: 1 1 10%;

    $self: &;

    &.selected {
        background: $black;
        color: $white;

        #{$self}__button {
            background: $white;
            color: $black;
        }
    }

    &__row {
        margin-bottom: rem(20);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__button {
        background: $black;
        border: 0;
        width: 100%;
        display: block;
        color: $white;

        &:hover {
            background: $white;
            color: $black;
        }
    }
}
