@use '../../abstract' as *;

.benchmark-fake {
    border: 1px $black solid;
    padding: rem(20);
    flex: 1 1 10%;

    &.selected {
        background: $black;
        color: $white;
    }

    &__row {
        &:first-child {
            margin-bottom: rem(20);
        }
    }
}
