@use '../../abstract' as *;

.c-move3d-item {
    position: relative;
    transform-style: preserve-3d;
    width: calc(var(--item-width) * 1rem);
    height: calc(var(--item-height) * 1rem);

    > * {
        outline: 1px solid transparent;
    }

    &.is-root {
        position: relative;
    }

    &.is-children {
        position: absolute;
        display: grid;
        place-content: center center;
        grid-template-areas: 'content';

        &.anchor-left {
            transform-origin: left;
            bottom: calc(var(--offset-y) * 1rem);
            left: calc(100% + (var(--offset-x) * 1rem));
        }

        &.anchor-right {
            transform-origin: right;
            bottom: calc(var(--offset-y) * 1rem);
            right: calc(100% + (var(--offset-x) * 1rem));
        }

        &.anchor-bottom {
            transform-origin: bottom;
            bottom: calc(100% + (var(--offset-y) * 1rem));
            left: calc(var(--offset-x) * 1rem);
        }

        &.anchor-top {
            transform-origin: top;
            top: calc(100% + (var(--offset-y) * 1rem));
            left: calc(var(--offset-x) * 1rem);
        }

        &.anchor-bottom-left {
            transform-origin: bottom left;
            bottom: calc(100% + (var(--offset-y) * 1rem));
            left: calc(100% + (var(--offset-x) * 1rem));
        }

        &.anchor-bottom-right {
            transform-origin: bottom right;
            bottom: calc(100% + (var(--offset-y) * 1rem));
            right: calc(100% + (var(--offset-x) * 1rem));
        }

        &.anchor-top-left {
            transform-origin: top left;
            top: calc(100% + (var(--offset-y) * 1rem));
            left: calc(100% + (var(--offset-x) * 1rem));
        }

        &.anchor-top-right {
            transform-origin: top right;
            top: calc(100% + (var(--offset-y) * 1rem));
            right: calc(100% + (var(--offset-x) * 1rem));
        }

        &.anchor-center {
            transform-origin: center center;
            top: calc(var(--offset-y) * 1rem);
            right: calc(var(--offset-x) * 1rem);
        }
    }

    &__content {
        grid-area: content;
    }

    &__debug {
        position: absolute;
        color: red;
        top: 0;
        left: 0;
    }
}

.move3d-square {
    width: calc(var(--item-width) * 1rem);
    height: calc(var(--item-height) * 1rem);
    background: $black;
    border-radius: 100%;

    &.is-white {
        background: $white;
    }

    &.is-small {
        width: calc(var(--item-width) * 0.5rem);
        height: calc(var(--item-height) * 0.5rem);
    }
}
