@use '../../abstract' as *;

.c-move3d-item {
    position: relative;
    transform-style: preserve-3d;

    > * {
        outline: 1px solid transparent;
    }

    &.is-root {
        position: relative;
    }

    &.is-children {
        position: absolute;

        &.anchor-left {
            top: 0;
            right: calc(100% + 2px);
        }

        &.anchor-right {
            top: 0;
            left: calc(100% + 2px);
        }

        &.anchor-bottom {
            top: calc(100% + 2px);
        }

        &.anchor-top {
            bottom: calc(100% + 2px);
        }

        &.anchor-bottom-left {
            top: calc(100% + 2px);
            right: calc(100% + 2px);
        }

        &.anchor-bottom-right {
            top: calc(100% + 2px);
            left: calc(100% + 2px);
        }

        &.anchor-top-left {
            bottom: calc(100% + 2px);
            right: calc(100% + 2px);
        }

        &.anchor-top-right {
            bottom: calc(100% + 2px);
            left: calc(100% + 2px);
        }
    }

    &__content {
        width: rem(150);
        aspect-ratio: 1/1;
        background: $black;
    }
}
