@use '../../abstract' as *;

.c-move-3d {
    display: flex;
    justify-content: center;
    padding: 400px 0;

    * {
        transform-style: inherit;
    }

    &--drag {
        cursor: move;
    }

    &__scene {
        position: relative;
        transform-style: preserve-3d;
        user-select: none;
    }

    &__container {
        transform-style: preserve-3d;
        backface-visibility: hidden;
        user-select: none;
    }
}
