@use '../../abstract' as *;

.benchmark-fake {
    border: 1px $black solid;
    padding: calc(var(--gap-size) / 2);
    flex: 1 1 10%;

    $self: &;

    &.selected {
        background: $black;
        color: $white;

        #{$self}__button {
            background: $white;
            color: $black;
        }
    }

    &__row {
        margin-bottom: calc(var(--gap-size) / 2);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__button {
        background: $black;
        width: 100%;
        display: block;
        color: $white;
        border: 1px $black solid;

        &:hover {
            background: $white;
            color: $black;
        }
    }
}
