@use '../../abstract' as *;

.benchmark-fake {
    margin-bottom: calc(var(--gap-size) / 2);
    padding: calc(var(--gap-size) / 2);
    border: 1px $black solid;

    $self: &;

    &.selected {
        background: $black;
        color: $white;

        #{$self}__button {
            background: $white;
            color: $black;
        }
    }

    &__row {
        margin-bottom: calc(var(--gap-size) / 2);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__button {
        display: block;
        width: 100%;
        border: 1px $black solid;
        background: $black;
        color: $white;

        &:hover {
            background: $white;
            color: $black;
        }
    }
}
