@use '../../abstract' as *;

@layer layout {
    @scope (.c-benchmark-fake) {
        :scope {
            margin-bottom: calc(var(--gap-size) / 2);
            padding: calc(var(--gap-size) / 2);
            border: 1px var(--dark) solid;
        }

        .row {
            margin-bottom: calc(var(--gap-size) / 2);

            &:last-child {
                margin-bottom: 0;
            }
        }

        button {
            display: block;
            width: 100%;
            border: 1px var(--dark) solid;
            background: var(--dark);
            color: var(--white);

            &:hover {
                background: var(--white);
                color: var(--dark);
            }
        }

        :scope.selected {
            background: var(--dark);
            color: var(--white);

            button {
                background: var(--white);
                color: var(--dark);
            }
        }
    }
}
