@use '../../abstract' as *;

@layer layout {
    @scope (.c-benchmark-fake) {
        :scope {
            margin-bottom: calc(var(--gap-size) / 2);
            padding: calc(var(--gap-size) / 2);
            border: 1px $black solid;
        }

        .row {
            margin-bottom: calc(var(--gap-size) / 2);

            &:last-child {
                margin-bottom: 0;
            }
        }

        button {
            display: block;
            width: 100%;
            border: 1px $black solid;
            background: $black;
            color: $white;

            &:hover {
                background: $white;
                color: $black;
            }
        }

        :scope.selected {
            background: $black;
            color: $white;

            button {
                background: $white;
                color: $black;
            }
        }
    }
}
