@use '../../abstract' as *;

.benchmark {
    position: relative;
    padding: rem(40);

    // Increase scrolling performance on smooth scroll.
    @include when-inside('.is-whelling') {
        pointer-events: none;
    }

    &__loading {
        display: none;
        position: fixed;
        top: rem(200);
        left: 50%;
        padding: rem(20);
        transform: translateX(-50%);
        border: 1px $black solid;
        background: $grey;

        &.active {
            display: block;
        }
    }

    &__head {
        margin-bottom: rem(30);

        &__subtitle {
            margin-bottom: 0;
        }

        &__title {
            margin-bottom: calc(var(--gap-size) / 2);
        }

        &__input {
            width: rem(300);
            margin-right: rem(5);
            padding-top: 0;
            padding-bottom: 0;
            padding-inline: rem(10);
            border: 1px $black solid;
            background: transparent;
            line-height: 1.7;
        }

        &__button {
            display: inline-block;
            grid-area: submit;
            margin: 0;
            margin-right: rem(5);
            padding-top: 0;
            padding-bottom: 0;
            padding-inline: calc(var(--gap-size) / 2);
            transition:
                background 0.35s,
                color 0.35s;
            border: 0;
            background: $black;
            color: $white;
            line-height: 1.7;

            &:hover {
                background: $white;
                color: $black;
            }
        }

        &__controls {
            margin-top: calc(var(--gap-size) / 2);
        }

        &__time {
            margin-top: calc(var(--gap-size) / 2);
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: rem(100);
        column-gap: calc(var(--gap-size) / 2);

        @include mq(large) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include mq(xlarge) {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    &__static-item {
        &__inner {
            margin-bottom: calc(var(--gap-size) / 2);
            font-weight: 600;
        }
    }
}
