@use '../../abstract' as *;

.benchmark {
    padding: rem(40);
    position: relative;

    &__loading {
        position: fixed;
        top: rem(200);
        left: 50%;
        transform: translateX(-50%);
        border: 1px $black solid;
        padding: rem(20);
        background: $grey;
        display: none;

        &.active {
            display: block;
        }
    }

    &__head {
        margin-bottom: rem(30);

        &__subtitle {
            margin-bottom: 0;
        }

        &__title {
            margin-bottom: rem(20);
        }

        &__input {
            width: rem(300);
            background: transparent;
            border: 1px $black solid;
            margin-right: rem(5);
            padding-inline: rem(10);
            line-height: 1.7;
            padding-top: 0;
            padding-bottom: 0;
        }

        &__button {
            grid-area: submit;
            background: $black;
            color: $white;
            border: 0;
            padding-inline: rem(20);
            padding-top: 0;
            padding-bottom: 0;
            margin: 0;
            display: inline-block;
            line-height: 1.7;
            transition:
                background 0.35s,
                color 0.35s;

            &:hover {
                background: $white;
                color: $black;
            }
        }

        &__controls {
            margin-top: rem(30);
        }

        &__time {
            margin-top: rem(20);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(10);
        margin-bottom: rem(100);
    }

    &__static-item {
        flex: 1 1 10%;

        &__inner {
            margin-bottom: rem(20);
            font-weight: 600;
        }
    }
}
