$white: #fff;
$black: #000;
$grey-light: #f6f6f6;
$grey: #eee;
$orange: #ffb700;
$green: #9ece6a;
$medium-green: #84af56;
$dark-green: #1a1b26;
$show-breakpoints: (xsmall, small, medium, tablet, large, large, xlarge);
$breakpoints: (
    'xsmall': 320px,
    'small': 360px,
    'medium': 600px,
    'tablet': 768px,
    'desktop': 992px,
    'large': 1200px,
    'xlarge': 1440px,
    'xxlarge': 1980px,
);
$html-font-size: (
    'xsmall': 16px,
    'small': 16px,
    'medium': 16px,
    'tablet': 16px,
    'desktop': 16px,
    'large': 19.3px,
    'xlarge': 19.3px,
    'xxlarge': 19.3px,
);
$html-font-unit: (
    'xsmall': px,
    'small': px,
    'medium': px,
    'tablet': px,
    'desktop': vw,
    'large': px,
    'xlarge': px,
    'xxlarge': px,
);
$default-font-size: desktop;

@use '../../../node_modules/sass-mq/mq' with (
    $breakpoints: $breakpoints
);
