$white: #fff;
$black: #000;
$grey: #eee;
$orange: #ffb700;
$green: #9ece6a;
$dark-green: #1a1b26;
$breakpoints: (
    'xsmall': 320px,
    'small': 360px,
    'medium': 600px,
    'tablet': 768px,
    'desktop': 992px,
    'large': 1200px,
    'xlarge': 1440px,
    'xxlarge': 1920px,
);
$show-breakpoints: (xsmall, small, medium, tablet, large, large, xlarge);
$html-font-size: (
    'xsmall': 14px,
    'small': 14px,
    'medium': 14px,
    'tablet': 14px,
    'desktop': 16px,
    'large': 16px,
    'xlarge': 18px,
    'xxlarge': 18px,
);
$default-font-size: desktop;

@use '../../../node_modules/sass-mq/mq' with (
    $breakpoints: $breakpoints
);
