@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.l-index {
    position: relative;
    height: calc(100vh - var(--header-height) - var(--footer-height));

    &__content {
        padding: rem(100) rem(40) rem(40) rem(100);
        position: relative;
        z-index: 2;

        &__copy {
            width: 100%;
            max-width: 600px;
        }
    }
}
