@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.l-index {
    height: calc(100vh - var(--header-height) - var(--footer-height));

    &__content {
        position: absolute;
        z-index: 2;
        top: calc(50% - (var(--header-height) / 2));
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
