@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.l-index {
    &__svg {
        width: 500px;
        height: 500px;
        overflow: visible !important;

        g {
            transition: transform 0.55s;

            &:active {
                transform: scale(1.2);
                transform-origin: center center;
            }
        }

        rect {
            stroke-width: 0.1;
            transition: fill 0.55s, opacity 0.55s;
            fill: white;
            cursor: pointer;

            &:hover {
                fill: $green;
                opacity: 1 !important;
            }
        }
    }
}
