@use '../../abstract' as *;

@layer layout {
    @scope (.h1-standalone) {
        :scope {
            position: absolute;
        }

        h1 {
            position: fixed;
            margin-block-end: 0;
            color: var(--immutable-black);
            font-size: rem(42);
            line-height: 1;
            text-wrap: nowrap;
            inset-block-start: calc(100dvh - var(--footer-height) - rem(38));
            inset-inline-start: var(--gap-size);

            @include mq(tablet) {
                &::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    inset-inline-start: calc(var(--gap-size) * -1);
                    inset-block-start: rem(18);
                    block-size: 1px;
                    inline-size: 100vw;
                    background: var(--line);
                }
            }

            @include mq(desktop) {
                inset-block-start: calc(
                    100dvh - var(--footer-height) - rem(54)
                );
                font-size: rem(60);

                &::after {
                    inset-block-start: rem(24);
                }
            }
        }
    }
}

@layer override {
    [data-theme='dark'] :where(.h1-standalone h1) {
        &::after {
            background: var(--white);
        }
    }
}
