@use '../../abstract' as *;

.c-animation-title {
    position: fixed;
    z-index: 2;
    top: calc(var(--header-height) + #{rem(50)});
    overflow: hidden;

    &.is-left {
        left: calc(var(--header-height) + #{rem(20)});
    }

    &.is-right {
        right: calc(var(--header-height) / 2);
    }

    h4 {
        transform: translateY(100%);
        transition: transform 0.55s;
        margin: 0;
        padding: 0;

        &.visible {
            transform: translateY(0);
        }

        &.is-white {
            color: $white;
        }

        &.is-black {
            color: $black;
        }

        &.is-green {
            color: $green;
        }
    }
}
