@use '../../abstract' as *;

.c-math {
    position: relative;
    width: 100%;
    height: 100%;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        border-left: 1px $black dashed;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 1px;
        border-top: 1px $black dashed;
    }

    &__circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem(50);
        height: rem(50);
        transform: translate(-50%, -50%);
        border: 2px $black solid;
        border-radius: 100%;
    }
}
