@use '../../abstract' as *;

@layer layout {
    @scope (.c-math) {
        :scope {
            position: relative;
            block-size: 100%;
            inline-size: 100%;

            &::after {
                content: '';
                position: absolute;
                inset-block: 0;
                inset-inline-start: 50%;
                inline-size: 1px;
                border-inline-start: 1px var(--dark) dashed;
            }

            &::before {
                content: '';
                position: absolute;
                inset-block-start: 50%;
                inset-inline: 0;
                block-size: 1px;
                border-block-start: 1px var(--dark) dashed;
            }
        }

        canvas {
            position: absolute;
            block-size: 100%;
            inline-size: 100%;
            inset-block-start: 0;
            inset-inline-start: 0;
        }

        .trail-item {
            position: absolute;
            inset-block-start: 50%;
            inset-inline-start: 50%;
            transform: translate(-50%, -50%);
        }

        .trail-item-inner {
            position: absolute;
            block-size: 100%;
            inline-size: 100%;
            border-radius: 100%;
            background: var(--dark);
            inset-block-start: 0;
            inset-inline-start: 0;
        }

        .play {
            inset-block-start: rem(20);
            inset-inline-end: rem(60);

            &::after {
                block-size: 0;
                inline-size: 0;
                transform: translate(-50%, -50%);
                inset-block-start: 50%;
                inset-inline-start: 50%;
                border-block-start: rem(8) solid transparent;
                border-block-end: rem(8) solid transparent;
                border-inline-start: rem(10) solid var(--dark);
            }
        }

        .stop {
            inset-block-start: rem(20);
            inset-inline-end: rem(20);

            &::after {
                block-size: rem(12);
                inline-size: rem(12);
                transform: translate(-50%, -50%);
                background: var(--dark);
            }
        }

        .play,
        .stop {
            position: absolute;
            block-size: rem(30);
            inline-size: rem(30);
            margin: 0;
            padding: 0;
            border: 1px rgba(var(--dark-rgb), 0.3) solid;
            background: transparent;

            &::after {
                content: '';
                position: absolute;
                transition: opacity 0.35s;
            }

            &:hover {
                &::after {
                    opacity: 0.5;
                }
            }
        }

        .nav {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

@layer direction {
    [dir='rtl'] :where(.c-math) {
        :where(.play, .stop) {
            &::after {
                transform: translate(50%, -50%);
            }
        }

        :where(.trail-item) {
            transform: translate(50%, -50%);
        }
    }
}
