@use '../../abstract' as *;

.l-dragger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.dragger-component {
    width: calc(100% - var(--header-height) * 2);
    max-width: rem(1240);
    height: rem(600);
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        inset: 0;
        border: 1px rgba($black, 0.2) solid;
        pointer-events: none;
    }
}

.dragger-border {
    pointer-events: none;

    &__title {
        position: absolute;
        z-index: 12;
        top: rem(20);
        left: 50%;
        padding: rem(6) rem(20) rem(10);
        transform: translateX(-50%);
        border: 1px rgba($black, 0.3) solid;
        line-height: 1;
        pointer-events: none;
    }

    &__top-left,
    &__top-right,
    &__bottom-left,
    &__bottom-right {
        content: '';
        position: absolute;
        z-index: 2;
        width: rem(50);
        height: rem(50);
    }

    &__top-left {
        top: 0;
        left: 0;
        border-top: 5px $black solid;
        border-left: 5px $black solid;
    }

    &__top-right {
        top: 0;
        right: 0;
        border-top: 5px $black solid;
        border-right: 5px $black solid;
    }

    &__bottom-left {
        bottom: 0;
        left: 0;
        border-bottom: 5px $black solid;
        border-left: 5px $black solid;
    }

    &__bottom-right {
        right: 0;
        bottom: 0;
        border-right: 5px $black solid;
        border-bottom: 5px $black solid;
    }
}

.dragger-child-container {
    position: relative;
    width: rem(900);
    height: rem(800);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor: grab;
}

.dragger-child {
    visibility: visible;
    position: absolute;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition:
        opacity 0.35s,
        visibility 0.35s;
    pointer-events: all;

    &.hide {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    &--1 {
        top: 0;
        left: 0;
        width: rem(200);
        height: rem(200);
        border-radius: 100%;
        background: $black;
    }

    &--2 {
        right: 0;
        bottom: 0;
        width: rem(200);
        height: rem(200);
        border-radius: 100%;
        background: $black;
    }

    &--3 {
        top: rem(350);
        left: rem(230);
        width: rem(80);
        height: rem(80);
        transform: translateZ(-50px);
        border-radius: 100%;
        background: $black;
    }

    &--4 {
        top: rem(50);
        right: rem(100);
        width: rem(200);
        height: rem(200);
        transform: translateZ(-70px);
        border-radius: 100%;
        background: $black;
    }

    &--5 {
        bottom: rem(0);
        left: rem(0);
        width: rem(200);
        height: rem(200);
        transform: translateZ(-90px);
        border-radius: 100%;
        background: $black;
    }

    &--6 {
        bottom: rem(40);
        left: rem(600);
        width: rem(100);
        height: rem(100);
        transform: translateZ(-150px);
        border-radius: 100%;
        background: $black;
    }

    &--7 {
        top: rem(400);
        left: calc(rem(600) * -1);
        width: rem(1000);
        height: rem(1000);
        transform: translateZ(20px);
        border-radius: 100%;
        background: $black;
    }

    &--8 {
        top: rem(200);
        right: calc(rem(800) * -1);
        width: rem(800);
        height: rem(800);
        transform: translateZ(20px);
        border-radius: 100%;
        background: $black;
    }

    &--9 {
        right: calc(rem(500) * -1);
        bottom: rem(400);
        width: rem(600);
        height: rem(600);
        transform: translateZ(20px);
        border-radius: 100%;
        background: $black;
    }

    &--10 {
        bottom: rem(500);
        left: calc(rem(800) * -1);
        width: rem(800);
        height: rem(800);
        transform: translateZ(20px);
        border-radius: 100%;
        background: $black;
    }

    &--svg {
        top: rem(120);
        left: rem(40);
        width: rem(800);
        height: rem(600);
        transform: translateZ(-80px);

        svg {
            width: rem(800);
            height: rem(600);
        }
    }
}
