@use '../../abstract' as *;

.l-dragger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.dragger-component {
    width: 40vw;
    height: 40vh;

    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        inset: 0;
        border: 1px $black solid;
        pointer-events: none;
    }
}

.dragger-border {
    pointer-events: none;

    &__title {
        position: absolute;
        bottom: calc(100% + #{rem(10)});
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
    }

    &__top-left,
    &__top-right,
    &__bottom-left,
    &__bottom-right {
        content: '';
        position: absolute;
        z-index: 2;
        width: rem(50);
        height: rem(50);
    }

    &__top-left {
        top: 0;
        left: 0;
        border-top: 5px $black solid;
        border-left: 5px $black solid;
    }

    &__top-right {
        top: 0;
        right: 0;
        border-top: 5px $black solid;
        border-right: 5px $black solid;
    }

    &__bottom-left {
        bottom: 0;
        left: 0;
        border-bottom: 5px $black solid;
        border-left: 5px $black solid;
    }

    &__bottom-right {
        right: 0;
        bottom: 0;
        border-right: 5px $black solid;
        border-bottom: 5px $black solid;
    }
}

.dragger-child-container {
    position: relative;
    width: rem(900);
    height: rem(600);
    transform-style: preserve-3d;
    cursor: grab;

    --card-with: #{rem(200)};
    --card-height: #{rem(250)};
}

.dragger-child {
    visibility: visible;
    position: absolute;
    width: var(--card-with);
    height: var(--card-height);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition:
        opacity 0.35s,
        visibility 0.35s;
    background: $black;
    pointer-events: all;

    &.hide {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    &--1 {
        top: 0;
        left: 0;
    }

    &--2 {
        right: 0;
        bottom: 0;
    }

    &--3 {
        top: rem(200);
        left: rem(300);
        transform: translateZ(-150px);
    }

    &--4 {
        top: rem(50);
        right: rem(0);
        transform: translateZ(-250px);
    }

    &--5 {
        bottom: rem(0);
        left: rem(0);
        transform: translateZ(-350px);
    }

    &--6 {
        bottom: rem(-200);
        left: rem(600);
        transform: translateZ(-650px);
    }
}
