@use '../../abstract' as *;

@layer layout {
    @scope (.l-dragger) to (.c-dragger) {
        :scope {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            block-size: 100vh;
            overflow: hidden;
        }
    }
}

@layer user {
    @scope (.dragger-component) {
        :scope {
            block-size: 60vh;
            inline-size: calc(100% - var(--header-height) * 2);
            max-inline-size: rem(1240);
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                z-index: 2;
                inset: 0;
                border: 1px var(--line) solid;
                pointer-events: none;
            }
        }

        @scope (.borders) {
            :scope {
                pointer-events: none;
            }

            .title {
                position: absolute;
                z-index: 12;
                padding-block: rem(6) rem(10);
                padding-inline: rem(20);
                transform: translateX(calc(-50% * var(--dir)));
                border: 1px color-mix(in oklch, var(--dark) 30%, transparent) solid;
                line-height: 1;
                pointer-events: none;
                inset-block-start: rem(20);
                inset-inline-start: 50%;
            }

            .top-left,
            .top-right,
            .bottom-left,
            .bottom-right {
                content: '';
                position: absolute;
                z-index: 2;
                block-size: rem(50);
                inline-size: rem(50);
            }

            .top-left {
                inset-block-start: 0;
                inset-inline-start: 0;
                border-block-start: 5px var(--dark) solid;
                border-inline-start: 5px var(--dark) solid;
            }

            .top-right {
                inset-block-start: 0;
                inset-inline-end: 0;
                border-block-start: 5px var(--dark) solid;
                border-inline-end: 5px var(--dark) solid;
            }

            .bottom-left {
                inset-block-end: 0;
                inset-inline-start: 0;
                border-block-end: 5px var(--dark) solid;
                border-inline-start: 5px var(--dark) solid;
            }

            .bottom-right {
                inset-inline-end: 0;
                inset-block-end: 0;
                border-inline-end: 5px var(--dark) solid;
                border-block-end: 5px var(--dark) solid;
            }
        }

        .child-container {
            position: relative;
            block-size: rem(800);
            inline-size: rem(900);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            cursor: grab;
        }

        .child {
            visibility: visible;
            position: absolute;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            transition:
                opacity 0.35s,
                visibility 0.35s;
            pointer-events: all;

            &.hide {
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }

            &.is-1 {
                block-size: rem(200);
                inline-size: rem(200);
                border-radius: 100%;
                background: var(--dark);
                inset-block-start: 0;
                inset-inline-start: 0;
            }

            &.is-2 {
                block-size: rem(200);
                inline-size: rem(200);
                border-radius: 100%;
                background: var(--dark);
                inset-inline-end: 0;
                inset-block-end: 0;
            }

            &.is-3 {
                block-size: rem(80);
                inline-size: rem(80);
                transform: translateZ(-50px);
                border-radius: 100%;
                background: var(--dark);
                inset-block-start: rem(350);
                inset-inline-start: rem(230);
            }

            &.is-4 {
                block-size: rem(200);
                inline-size: rem(200);
                transform: translateZ(-70px);
                border-radius: 100%;
                background: var(--dark);
                inset-block-start: rem(50);
                inset-inline-end: rem(100);
            }

            &.is-5 {
                block-size: rem(200);
                inline-size: rem(200);
                transform: translateZ(-90px);
                border-radius: 100%;
                background: var(--dark);
                inset-block-end: rem(0);
                inset-inline-start: rem(0);
            }

            &.is-6 {
                block-size: rem(100);
                inline-size: rem(100);
                transform: translateZ(-150px);
                border-radius: 100%;
                background: var(--dark);
                inset-block-end: rem(40);
                inset-inline-start: rem(600);
            }

            &.is-7 {
                block-size: rem(1000);
                inline-size: rem(1000);
                transform: translateZ(20px);
                border-radius: 100%;
                background: var(--dark);
                inset-block-start: rem(400);
                inset-inline-start: calc(rem(600) * -1);
            }

            &.is-8 {
                block-size: rem(800);
                inline-size: rem(800);
                transform: translateZ(20px);
                border-radius: 100%;
                background: var(--dark);
                inset-block-start: rem(200);
                inset-inline-end: calc(rem(800) * -1);
            }

            &.is-9 {
                block-size: rem(600);
                inline-size: rem(600);
                transform: translateZ(20px);
                border-radius: 100%;
                background: var(--dark);
                inset-inline-end: calc(rem(500) * -1);
                inset-block-end: rem(400);
            }

            &.is-10 {
                block-size: rem(800);
                inline-size: rem(800);
                transform: translateZ(20px);
                border-radius: 100%;
                background: var(--dark);
                inset-block-end: rem(500);
                inset-inline-start: calc(rem(800) * -1);
            }

            &.is-svg {
                block-size: rem(600);
                inline-size: rem(800);
                transform: translateZ(-80px);
                inset-block-start: rem(120);
                inset-inline-start: rem(40);

                svg {
                    block-size: rem(600);
                    inline-size: rem(800);
                }
            }
        }
    }
}

@layer override {
    [data-theme='dark'] :where(.dragger-component .child) {
        &.is-1 {
            background: var(--white);
        }

        &.is-2 {
            background: var(--white);
        }

        &.is-3 {
            background: var(--white);
        }

        &.is-4 {
            background: var(--white);
        }

        &.is-5 {
            background: var(--white);
        }

        &.is-6 {
            background: var(--white);
        }

        &.is-7 {
            background: var(--white);
        }

        &.is-8 {
            background: var(--white);
        }

        &.is-9 {
            background: var(--white);
        }

        &.is-10 {
            background: var(--white);
        }
    }
}
