@use '../../abstract' as *;

.c-params-mobjs {
    --links-height: 54vh;

    height: var(--links-height);
    overflow: hidden;
    position: fixed;
    top: rem(150, large);
    left: calc(var(--doc-width) + #{rem(40)});
    z-index: 14;
    width: rem(250);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition:
        transform 0.55s,
        opacity 0.55s,
        visibility 0.55s;
    display: none;
    mask-image: linear-gradient(rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 100%) rem(40));

    @include mq(large) {
        display: block;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &.shift {
        transform: translateX(var(--main-translate));
        pointer-events: none;
        opacity: 0.1;
    }

    ul {
        list-style: none;
        padding-bottom: rem(100);
        min-height: var(--links-height);
        margin: 0;

        @media screen and (height <= 825px) {
            margin-top: calc(#{rem(10)} * -1);
        }
    }

    a {
        transition: color 0.35s;
        display: block;
        position: relative;
        font-size: rem(13);
        line-height: 1.6;
        text-transform: capitalize;

        &::after {
            content: '';
            top: 50%;
            transform: translateY(-50%);
            left: calc(#{rem(20)} * -1);
            height: em(15);
            width: rem(4);
            background: $black;
            position: absolute;
            opacity: 0;
            transition: opacity 0.35s;
        }

        @media screen and (height >= 200px) and (height <= 750px) {
            font-size: rem(11);
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    .current {
        font-weight: 600;

        &::after {
            opacity: 1;
        }
    }

    &__label {
        font-size: rem(16);
        line-height: 1.2;
        margin-top: rem(20);
        font-weight: 600;
    }

    &__scrollbar {
        position: absolute;
        top: rem(25);
        width: calc(var(--links-height) - #{rem(30)});
        left: rem(240);
        transform: rotate(90deg);
        transform-origin: left;
        z-index: 11;
        appearance: none;
        background: transparent;
        cursor: pointer;

        --thumb-width: #{rem(200)};

        &.hide-scrollbar {
            opacity: 0;
        }

        &:focus {
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            background-color: rgba($grey, 0.3);
            border-radius: rem(10);
            height: rem(10);
            width: var(--thumb-width);
        }

        &::-webkit-slider-thumb {
            appearance: none;
            background-color: $white;
            height: rem(10);
            width: var(--thumb-width);
            border-radius: rem(10);
        }

        &:focus::-webkit-slider-thumb {
            outline-offset: 0;
            border-radius: rem(10);
        }

        &::-moz-range-track {
            background-color: rgba($grey, 0.3);
            height: rem(10);
            border-radius: rem(10);
        }

        &::-moz-range-thumb {
            border: none; /* Removes extra border that FF applies */ /* Removes default border-radius that FF applies */
            background-color: $white;
            height: rem(10);
            width: var(--thumb-width);
            border-radius: rem(10);
        }

        &:focus::-moz-range-thumb {
            outline-offset: 0;
            border-radius: rem(10);
        }
    }
}
