@use '../../abstract' as *;

.c-doc-title-small {
    margin-top: rem(15);
    padding-left: rem(40);
    color: $black;
    margin-bottom: rem(20);
    font-size: rem(11);
    font-weight: 400;
    position: relative;

    @include mq(large) {
        font-size: rem(12);
    }

    @include mq(xlarge) {
        font-size: rem(14, xlarge);
    }

    span {
        color: $black;
        transition: opacity 0.35s;
        position: relative;
        background: rgba($white, 0.4);
        padding: em(2) em(10);
        border-radius: em(20);
        text-transform: capitalize;
        display: inline-block;
    }
}

.breadcrumbs {
    &__link {
        color: $black;
        transition:
            background 0.35s,
            color 0.35s;
        position: relative;
        background: $white;
        padding: em(2) em(10);
        border-radius: em(20);
        margin-right: rem(5);
        text-transform: capitalize;
        display: inline-block;

        &:hover {
            background: $black;
            color: $white;

            &::after {
                opacity: 1;
            }
        }
    }

    &__arrow {
        position: absolute;
        top: calc(#{rem(2)} * -1);
        left: rem(10);
        width: rem(30);
        height: rem(30);
        display: block;

        &__start {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2px;
            height: rem(10);
            background: $black;
            transform: translate(-50%, -50%) rotate(90deg);
            transition: background 0.35s;
        }

        &__end {
            position: absolute;
            top: 50%;
            left: calc(50% + #{rem(2)} * -1);
            width: rem(7);
            height: rem(7);
            border-right: 2px $black solid;
            border-bottom: 2px $black solid;
            transform: translate(-50%, -50%) rotate(135deg);
            transition: border-color 0.35s;
        }
    }
}
