@use '../../abstract' as *;

.c-doc-title-small {
    position: relative;
    z-index: 1;
    margin-top: var(--gap-size);
    margin-bottom: calc(var(--gap-size) / 2);
    padding-left: var(--gap-size);
    color: $black;
    font-size: rem(11);
    font-weight: 400;

    @include mq(large) {
        font-size: rem(12);
    }

    @include mq(xlarge) {
        font-size: rem(14, xlarge);
    }

    span {
        display: inline-block;
        position: relative;
        padding: em(2) em(10);
        transition: opacity 0.35s;
        border-radius: em(20);
        background: $black;
        color: $white;
        text-transform: capitalize;
    }
}

.breadcrumbs {
    &__link {
        display: inline-block;
        position: relative;
        margin-right: rem(5);
        padding: em(2) em(10);
        transition:
            background 0.35s,
            color 0.35s;
        border-radius: em(20);
        background: $grey;
        color: $black;
        text-transform: capitalize;

        &:hover {
            background: $black;
            color: $white;

            &::after {
                opacity: 1;
            }
        }
    }

    &__arrow {
        display: block;
        position: absolute;
        top: calc(#{rem(2)} * -1);
        left: rem(10);
        width: rem(30);
        height: rem(30);

        &__start {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2px;
            height: rem(10);
            transform: translate(-50%, -50%) rotate(90deg);
            transition: background 0.35s;
            background: $black;
        }

        &__end {
            position: absolute;
            top: 50%;
            left: calc(50% + #{rem(2)} * -1);
            width: rem(7);
            height: rem(7);
            transform: translate(-50%, -50%) rotate(135deg);
            transition: border-color 0.35s;
            border-right: 2px $black solid;
            border-bottom: 2px $black solid;
        }
    }
}
