@use '../../abstract' as *;

@layer layout {
    @scope (.mobbu2025) {
        :scope {
            position: relative;
            block-size: calc(100vh - var(--footer-height));
            inline-size: 100%;
            overflow: hidden;

            --mobbu2025-height: calc(
                100vh - var(--header-height) - var(--footer-height)
            );
            --mobbu2025-width: calc((var(--mobbu2025-height) * 690) / 112);

            @include mq(tablet) {
                inline-size: calc(100vw - (var(--header-height) * 0.5) + 1px);
                margin-inline-start: calc((var(--header-height) * 0.5) - 1px);
            }
        }

        .screen {
            position: relative;
            block-size: var(--mobbu2025-height);
            inline-size: 100%;
            overflow: hidden;
            cursor: grabbing;
            inset-block-start: var(--header-height);
        }

        .scroller-element {
            position: absolute;
            block-size: var(--mobbu2025-height);
            aspect-ratio: 690/117;
        }

        .layer {
            position: absolute;
            inset-block-end: 0;
            inset-inline-start: 0;
            block-size: var(--mobbu2025-height);
            aspect-ratio: 690/117;
        }

        svg {
            block-size: var(--mobbu2025-height);
            inline-size: var(--mobbu2025-width);
            pointer-events: none;
        }

        g {
            &#white-block {
                fill: var(--white);
            }
        }
    }
}
