@use '../../abstract' as *;

.mobbu2025 {
    position: relative;
    width: calc(100vw - (var(--header-height) * 0.5) + 1px);
    height: calc(100vh - var(--footer-height));
    margin-left: calc((var(--header-height) * 0.5) - 1px);
    overflow: hidden;

    --mobbu2025-height: calc(
        100vh - var(--header-height) - var(--footer-height)
    );
    --mobbu2025-width: calc((var(--mobbu2025-height) * 690) / 112);

    &__screen {
        position: relative;
        top: var(--header-height);
        width: 100%;
        height: var(--mobbu2025-height);
        overflow: hidden;
        cursor: grabbing;
    }

    &__scroller {
        position: absolute;
        height: var(--mobbu2025-height);
        aspect-ratio: 690/117;
    }

    &__layer {
        position: absolute;
        bottom: 0;
        left: 0;
        height: var(--mobbu2025-height);
        aspect-ratio: 690/117;

        svg {
            width: var(--mobbu2025-width);
            height: var(--mobbu2025-height);
            pointer-events: none;
        }
    }
}
