@use '../../abstract' as *;

@layer layout {
    @scope (.l-rdp-01) {
        .animation-block {
            transform: translate(rem(20), 0);
        }

        svg {
            @media (aspect-ratio >= 3/2) {
                width: calc(((1098 * 100) / 1400) * 1vw);
                height: calc(((466 * 100) / 1400) * 1vw);
            }

            @media (aspect-ratio < 3/2) {
                width: calc(((1098 * 100) / 1240) * 1vw);
                height: calc(((466 * 100) / 1240) * 1vw);
            }
        }
    }
}
