@use '../../abstract' as *;

.l-rdp-01 {
    &__block {
        transform: translate(rem(20), 0);

        svg {
            width: calc(((1098 * 100) / 1400) * 1vw);
            height: calc(((466 * 100) / 1400) * 1vw);
        }
    }
}
