@use '../../abstract' as *;

.right-sidebar {
    position: fixed;
    z-index: 15;
    display: none;
    left: var(--header-height);
    top: calc(var(--gap-size) + var(--header-height));
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.35s,
        visibility 0.35s;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    @include mq(xlarge) {
        display: block;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__title {
        font-weight: 600;
        margin-bottom: calc(var(--gap-size) / 4);
        font-size: rem(12);
        text-transform: uppercase;

        @include mq(large) {
            font-size: rem(13);
        }
    }

    &__item {
        text-transform: capitalize;
        font-size: rem(12);

        @include mq(large) {
            font-size: rem(13);
        }
    }

    &__link {
        transition: opacity 0.35s;

        &.active {
            font-weight: 600;
        }

        &:hover {
            opacity: 0.3;
        }
    }
}
