@use '../../abstract' as *;

@layer layout {
    @scope (.spacer) {
        :scope {
            position: relative;

            &.has-anchor {
                display: inline-block;
                margin-block-start: rem(44);
            }

            &.is-x-small {
                block-size: 1px;
            }

            &.is-small {
                block-size: calc(var(--gap-size) / 2);
            }

            &.is-medium {
                block-size: var(--gap-size);
            }

            &.is-big {
                block-size: calc(var(--gap-size) * 2);
            }

            &.is-line {
                &::after {
                    content: '';
                    position: absolute;
                    inset-block-start: 50%;
                    inset-inline: 0;
                    block-size: 1px;
                    background: color-mix(in oklch, var(--white) 10%, transparent);
                }
            }

            svg {
                display: block;
                block-size: rem(16);
                inline-size: rem(16);
                fill: var(--dark);
            }
        }
    }
}
