@use '../../abstract' as *;

.spacer {
    position: relative;

    &--x-small {
        height: 0;
    }

    &--small {
        height: rem(20);
    }

    &--medium {
        height: rem(60);
    }

    &--big {
        height: rem(100);
    }

    &--line {
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background: rgba($white, 0.1);
        }
    }
}
