@use '../../abstract' as *;

.spacer {
    position: relative;

    &--x-small {
        height: 1px;
    }

    &--small {
        height: calc(var(--gap-size) / 2);
    }

    &--medium {
        height: var(--gap-size);
    }

    &--big {
        height: calc(var(--gap-size) * 2);
    }

    &--line {
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            height: 1px;
            background: rgba($white, 0.1);
        }
    }
}
