@use '../../abstract' as *;

@layer layout {
    @scope (.c-scroll-to) {
        :scope {
            margin-block-start: var(--gap-size);
            margin-inline-start: var(--gap-size);
            color: var(--dark);
            pointer-events: all;

            --block-height: calc(
                /* stylelint-disable-next-line  scss/operator-no-newline-after */
                    100dvh - var(--header-height) - var(--footer-height) -
                    #{rem(200)}
            );
        }

        .title {
            margin-block-end: calc(var(--gap-size) / 4);
            padding-inline-start: rem(4);
            font-weight: 600;
            text-transform: uppercase;
        }

        .screen {
            position: absolute;
            block-size: var(--block-height);
            inline-size: 100%;
            padding-inline-start: var(--gap-size);
            overflow: hidden auto;
            inset-inline-start: 0;

            @include mq(tablet) {
                overflow: hidden;
            }
        }

        ul {
            min-block-size: var(--block-height);
            margin: 0;
            padding: 0;
            list-style-type: none;

            // Performance on scroll
            &.is-whelling {
                button {
                    pointer-events: none;
                }
            }
        }

        li {
            margin-block-end: rem(4);
        }

        button,
        .is-note {
            display: block;
            position: relative;
            min-inline-size: rem(140);
            margin-inline-end: rem(10);
            padding: 0;
            transition: opacity 0.55s;
            border: 0;
            outline-offset: 0;
            background: transparent;
            line-height: 1.5;
            text-align: start;

            span {
                display: block;
                padding-inline-start: rem(5);
                transition:
                    transform 0.55s,
                    opacity 0.55s;
            }

            &.is-section {
                margin-block-start: calc(var(--gap-size) / 4);
                margin-inline-start: 0;
                font-weight: 600;

                span {
                    text-transform: uppercase;
                }
            }

            &::before {
                content: '';
                position: absolute;
                block-size: rem(5);
                inline-size: rem(5);
                transform: translateY(-50%) rotate(calc(45deg * var(--dir)));
                transition: transform 0.35s;
                inset-block-start: 50%;
                inset-inline-end: calc(100% + #{rem(10)});
                border-block-start: 2px rgba(var(--dark-rgb), 0.5) solid;
                border-inline-end: 2px rgba(var(--dark-rgb), 0.5) solid;
            }

            &:not(.active):hover {
                &::before {
                    border-color: var(--black);
                }
            }

            &.active {
                font-weight: 600;
            }

            &.is-section,
            &.is-note {
                pointer-events: none;

                &::before {
                    content: none;
                }

                &:hover,
                &.active {
                    &::after {
                        content: none;
                    }
                }
            }

            &.is-note {
                margin-inline-start: 0;
                opacity: 0.7;
                cursor: auto;
            }
        }

        .scrollbar {
            display: none;
            position: absolute;
            z-index: 11;
            inline-size: var(--block-height);
            transform: rotate(calc(90deg * var(--dir)));
            transform-origin: left;
            background: transparent;
            cursor: pointer;
            inset-block-start: rem(64);
            inset-inline-start: rem(240);
            appearance: none;

            --thumb-width: #{rem(200)};

            @include mq(tablet) {
                display: block;
            }

            &.hide-scrollbar {
                opacity: 0;
            }

            &:focus {
                outline: none;
            }

            &::-webkit-slider-runnable-track {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border-radius: rem(10);
                background-color: var(--grey-100);
            }

            &::-webkit-slider-thumb {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border-radius: rem(10);
                background-color: var(--dark);
                appearance: none;
            }

            &:focus::-webkit-slider-thumb {
                border-radius: rem(10);
                outline-offset: 0;
            }

            &::-moz-range-track {
                block-size: rem(10);
                border-radius: rem(10);
                background-color: var(--grey-100);
            }

            &::-moz-range-thumb {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border: none; /* Removes extra border that FF applies */ /* Removes default border-radius that FF applies */
                border-radius: rem(10);
                background-color: var(--dark);
            }

            &:focus::-moz-range-thumb {
                border-radius: rem(10);
                outline-offset: 0;
            }
        }
    }
}
