@use '../../variables' as *;
@use '../../abstract' as *;
@use 'sass-mq/mq';

.c-doc-scroll {
    position: absolute;
    left: 0;
    height: 100%;
    width: rem(10);
    background: $black;
    transform: scaleY(var(--delta));
    transform-origin: top;
    transition: transform 0.35s;

    --delta: 0;
}
