@use '../../abstract' as *;

.hamburger {
    display: inline-block;
    position: relative;
    width: var(--header-height);
    height: var(--header-height);
    margin: 0;
    transition: transform 0.55s;
    border: 0;
    background-color: $black;
    color: inherit;
    font: inherit;
    text-transform: none;
    cursor: pointer;

    --width: 30px;
    --height: 2px;
    --total-height: 10px;
    --offset: -8px;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        transition: transform 0.55s;
        background: $black;
        inset: 0;
    }

    &:hover {
        transform: translateX(calc(#{rem(15)} * 1));

        &::after {
            transform: translateX(calc(#{rem(15)} * -2));
        }
    }

    &-inner {
        display: block;
        position: absolute;
        top: 50%;
        width: var(--width);
        height: var(--height);
        margin-top: -2px;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        background-color: $white;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: var(--height);
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
            background-color: $white;
        }

        &::before {
            top: var(--offset);
        }

        &::after {
            bottom: var(--offset);
        }
    }

    &.is-open {
        .hamburger-inner {
            transform: rotate(45deg);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-delay: 0.12s;

            &::before {
                top: 0;
                transition:
                    top 0.075s ease,
                    opacity 0.075s 0.12s ease;
                opacity: 0;
                background-color: $white;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition:
                    bottom 0.075s ease,
                    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
                background-color: $white;
            }
        }
    }

    &__box {
        display: inline-block;
        position: relative;
        width: var(--width);
        height: var(--total-height);
        transition: opacity 1s 0.5s;
        opacity: 0;

        &.is-visible {
            opacity: 1;
        }
    }
}
