@use '../../abstract' as *;

.header-main-menu {
    display: block;
    margin: 0;
    padding: 0;
    transition: opacity 1s 0.55s;
    opacity: 0;
    place-self: center start;

    &.is-visible {
        opacity: 1;
    }

    @include mq(xlarge) {
        place-self: center center;
    }

    &__item {
        display: inline-block;

        &:last-child {
            > button {
                &::after {
                    display: none;
                }
            }
        }
    }

    &__button {
        position: relative;
        margin-inline: rem(7);
        padding: 0;
        transition: opacity 0.55s;
        border: 0;
        background: transparent;
        color: $black;
        font-size: rem(14);
        font-weight: 600;

        @include mq(large) {
            margin-inline: rem(10);
            font-size: rem(14);
        }

        @include mq(xlarge) {
            margin-inline: rem(20);
        }

        &:hover {
            opacity: 0.5;
        }

        &.current {
            color: $black;
        }
    }
}
