@use '../../abstract' as *;

@layer layout {
    @scope (.l-header-menu) {
        :scope {
            display: block;
            margin: 0;
            padding: 0;
            transition: opacity 1s 0.55s;
            opacity: 0;
            place-self: center start;
            font-size: 0;

            &.is-visible {
                opacity: 1;
            }

            @include mq(xlarge) {
                place-self: center center;
            }
        }

        li {
            display: inline-block;
        }

        button {
            position: relative;
            block-size: var(--header-height);
            margin: 0;
            padding-inline: rem(10);
            transition: opacity 0.55s;
            transition:
                background 0.35s,
                color 0.35s;
            border: 0;
            outline-offset: -2px;
            background: transparent;
            color: var(--dark);

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset-inline: 0;
                inset-block-end: 0;
                block-size: 100%;
                transform: scaleY(0);
                transform-origin: bottom;
                transition: transform 0.55s;
                background: var(--dark);
            }

            @include mq(desktop) {
                padding-inline: rem(15);
                font-size: rem(14);
            }

            @include mq(xlarge) {
                padding-inline: rem(25);
                font-size: rem(15);
            }

            &:hover,
            &.current {
                color: var(--white);

                &::after {
                    transform: scaleY(1);
                }
            }
        }
    }
}

@layer override {
    [data-theme='dark'] {
        :where(.l-header-menu button) {
            &::after {
                background: var(--immutable-black);
            }

            &:hover,
            &.current {
                color: var(--dark);
            }
        }
    }
}
