@use '../../abstract' as *;

[data-component='header'] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: var(--header-height);
}

.l-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $grey;
    z-index: 14;
    border-bottom: 1px $black solid;
    transition: background 0.35s;

    @include when-inside('[data-template="home"]') {
        background: transparent;
    }

    @include when-inside('[data-template="about"]') {
        background: transparent;
    }

    @include when-inside('[data-template="template-listing"]') {
        background: transparent;
    }

    @include when-inside('[data-template="template-animation"]') {
        background: transparent;
    }

    &__grid {
        display: grid;
        grid-template-areas: 'toggle title utils';
        grid-template-columns: var(--header-height) 1fr auto;
        height: var(--header-height);
        align-items: center;
    }

    &__toggle {
        grid-area: toggle;
        border: 0;
        position: relative;
    }

    &__title-container {
        display: block;
        overflow: hidden;
    }

    &__title {
        color: $black;
        grid-area: title;
        padding-left: rem(20);
        display: inline-block;
        background: transparent;
        width: auto;
        border: 0;
        text-align: left;

        h3 {
            transform: translateY(100%);
            transition: transform 0.35s;
            pointer-events: none;
            margin: 0;
            font-weight: 600;
            display: inline-block;

            &.visible {
                transform: translateY(0);
                pointer-events: all;
            }
        }

        h5 {
            display: inline-block;
            margin-left: rem(10);
            transform: translateY(200%);
            transition: transform 0.35s;
            pointer-events: none;

            &.visible {
                transform: translateY(0);
                pointer-events: all;
            }
        }
    }

    &__utils {
        text-align: right;
        padding-right: rem(20);
    }

    &__sidenav {
        list-style-type: none;
        padding: 0;

        &__item {
            display: inline-block;

            &:hover {
                svg {
                    fill: $color-contrast;
                    transform: scale(1.1);
                }
            }
        }

        &__link {
            color: $white;
            background: transparent;
            border: 0;
            margin: 0 rem(10);
        }

        /* stylelint-disable-next-line no-descending-specificity */
        svg {
            fill: $black;
            transition:
                fill 0.55s,
                transform 0.55s;
            width: rem(24);
            height: rem(24);
        }
    }
}
