@use '../../abstract' as *;

@layer layout {
    @scope (header) {
        :scope {
            display: none;
            position: fixed;
            z-index: 14;
            inset-block-start: 0;
            inset-inline: 0;
            transition: background 0.35s;
            background: var(--white);

            &::after {
                content: '';
                position: absolute;
                block-size: 1px;
                inline-size: 100%;
                transform: scaleX(0);
                transform-origin: top left;
                background: var(--grey-400);
                inset-block-end: 0;
                inset-inline-start: 0;
            }

            &.is-visible {
                &::after {
                    transform: scaleX(100%);
                }
            }

            @include mq(desktop) {
                display: block;
            }
        }

        .grid {
            display: grid;
            grid-template-areas: 'toggle title menu utils';
            grid-template-columns: calc(var(--header-height) * 2) 1fr calc(
                    var(--header-height) * 2
                );
            align-items: center;
            block-size: var(--header-height);

            @include mq(large) {
                grid-template-columns: var(--header-height) auto 1fr auto;
            }
        }

        .toggle-cell {
            position: relative;
            grid-area: toggle;
            transition: opacity 0.35s;
            border: 0;
        }

        .logo-cell {
            display: none;
            grid-area: title;
            block-size: 100%;
            inline-size: auto;
            padding-inline: rem(20);
            transition: transform 0.35s;
            border: 0;
            outline-offset: -2px;
            background: transparent;
            color: var(--dark);
            text-align: start;

            @include mq(large) {
                display: inline-block;
            }

            &:hover {
                transform: translateX(rem(10));
            }
        }

        .menu-cell {
            justify-self: center;

            @include mq(large) {
                justify-self: end;
            }
        }

        .utils-cell {
            display: flex;
            block-size: 100%;
            transition: opacity 1s 0.55s;
            opacity: 0;
            border-inline-start: 1px solid var(--black);
            text-align: end;

            &.is-visible {
                opacity: 1;
            }
        }

        h3 {
            display: inline-block;
            margin: 0;
            transform: translateY(100%);
            transition: transform 1s;
            font-weight: 600;
            pointer-events: none;

            &.is-visible {
                transform: translateY(0);
                pointer-events: all;
            }
        }

        h4 {
            display: inline-block;
            margin-inline-start: rem(10);
            transform: translateY(200%);
            transition: transform 1s;
            pointer-events: none;

            &.is-visible {
                transform: translateY(0);
                pointer-events: all;
            }
        }
    }
}

@layer override {
    [data-template='template-doc-default'] {
        :where(.utils-cell) {
            border-inline-start: 1px solid var(--grey-400);
        }
    }

    [data-template='template-test'] {
        :where(.utils-cell) {
            border-inline-start: 1px solid var(--grey-400);
        }
    }

    [data-template='home'] :where(header) {
        background: transparent;

        &::after {
            transition: transform 1s 0.2s;
            background: var(--dark);
        }
    }

    [data-template='about'] :where(header) {
        background: transparent;

        &::after {
            transition: transform 1s 0.2s;
            background: var(--dark);
        }
    }

    [data-template='template-listing'] :where(header) {
        background: transparent;

        &::after {
            transition: transform 1s 0.2s;
            background: var(--dark);
        }
    }

    [data-template='template-animation'] :where(header) {
        background: transparent;

        &::after {
            transition: transform 1s 0.2s;
            background: var(--dark);
        }
    }
}
