@use '../../abstract' as *;

@layer layout {
    @scope (.l-header-utils) {
        :scope {
            display: grid;

            --sidebar-item-size: #{rem(20)};

            @include mq(desktop) {
                --sidebar-item-size: #{rem(26)};
            }
        }

        ul {
            display: flex;
            block-size: 100%;
            margin-block-end: 0;
            margin-inline-start: 0;
            padding: 0;
            list-style-type: none;
        }

        li {
            &:hover {
                svg {
                    opacity: 0.2;
                }
            }
        }

        button,
        a {
            display: flex;
            align-items: center;
            block-size: 100%;
            inline-size: 100%;
            padding: 0 em(12);
            border: 0;
            outline-offset: -2px;
            background: transparent;
            color: var(--white);

            &:focus {
                outline-color: var(--dark);
            }

            @include mq(desktop) {
                padding: 0 em(16);
            }
        }

        svg {
            block-size: 100%;
            block-size: var(--sidebar-item-size);
            inline-size: var(--sidebar-item-size);
            transition: opacity 0.55s;
            fill: var(--dark);
        }
    }
}
