@use '../../abstract' as *;

@layer layout {
    @scope (.l-header-utils) {
        :scope {
            display: grid;

            --sidebar-item-size: #{rem(20)};
            --svg-fill: var(--black);

            @include mq(desktop) {
                --sidebar-item-size: #{rem(26)};
            }
        }

        ul {
            display: flex;
            block-size: 100%;
            margin-block-end: 0;
            margin-inline-start: 0;
            padding: 0;
            list-style-type: none;
        }

        li {
            position: relative;
        }

        button,
        a {
            display: flex;
            align-items: center;
            block-size: 100%;
            inline-size: 100%;
            padding: 0 em(12);
            border: 0;
            outline-offset: -2px;
            background: transparent;
            color: var(--white);

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset-inline: 0;
                inset-block-end: 0;
                block-size: 100%;
                transform: scaleY(0);
                transform-origin: bottom;
                transition: transform 0.55s;
                background: var(--immutable-dark);
            }

            &:hover {
                &::after {
                    transform: scaleY(0.1);
                    transition-duration: 0.35s;
                }
            }

            &.active {
                --svg-fill: var(--immutable-white);

                &::after {
                    transform: scaleY(1);
                }
            }

            &:focus {
                outline-color: var(--dark);
            }

            @include mq(desktop) {
                padding: 0 em(16);
            }
        }

        svg {
            block-size: 100%;
            block-size: var(--sidebar-item-size);
            inline-size: var(--sidebar-item-size);
            transition: opacity 0.55s;
            fill: var(--svg-fill);
        }
    }
}

@layer override {
    [data-theme='dark'] {
        :where(.l-header-utils button, .l-header-utils a) {
            &::after {
                background: var(--immutable-black);
            }
        }
    }
}
