@use '../../abstract' as *;

@layer layout {
    @scope (.l-header-utils) {
        :scope {
            display: flex;
            margin-bottom: 0;
            margin-left: 0;
            padding: 0;
            list-style-type: none;

            --sidebar-item-size: #{rem(24)};
        }

        ul {
            height: 100%;
        }

        li {
            margin-inline: rem(2);

            &:hover {
                svg {
                    opacity: 0.2;
                }
            }
        }

        button,
        a {
            display: block;
            height: 100%;
            padding: 0 rem(10);
            border: 0;
            outline-offset: -2px;
            background: transparent;
            color: var(--white);

            &:focus {
                outline-color: var(--dark);
            }
        }

        /* stylelint-disable-next-line no-descending-specificity */
        svg {
            width: var(--sidebar-item-size);
            height: var(--sidebar-item-size);
            height: 100%;
            transition: opacity 0.55s;
            fill: var(--dark);
        }
    }
}
