@use '../../abstract' as *;

$svg-max-height: calc(((1400 * 571) / 1098) * 1px);

.l-only-desktop {
    display: flex;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: rem(30);
    background: $grey;
    text-align: center;

    &__content {
        display: block;
        width: 100%;
        text-align: center;
    }

    h2,
    h3 {
        display: block;
        width: 100%;
        margin-bottom: rem(40);
        font-family: 'Fira Sans', sans-serif;
        font-size: rem(40);
    }

    h2 {
        font-size: rem(40);
    }

    h3 {
        font-size: rem(24);
    }

    p {
        display: block;
        width: 100%;
        margin-bottom: rem(40);
        font-family: 'Fira Sans', sans-serif;
        font-size: rem(18);
    }

    &__link {
        @include button;

        display: none;
        max-width: rem(200);
        margin-bottom: rem(40);

        &.active {
            display: inline-block;
        }
    }

    &__svg {
        display: flex;
        position: relative;
        justify-content: center;

        svg {
            flex: 0 0 auto;
            width: min(1920px, calc(((1098 * 100) / 800) * 1vw));
            height: min($svg-max-height, calc(((466 * 100) / 800) * 1vw));

            @include mq(desktop) {
                width: min(1920px, calc(((1098 * 100) / 2200) * 1vw));
                height: min($svg-max-height, calc(((466 * 100) / 2200) * 1vw));
            }
        }
    }
}
