@use '../vars' as *;
@use '../abstract' as *;
@use '../../../node_modules/sass-mq/mq';

.l-index {
    height: calc(100vh - var(--header-height) - #{rem(120)});
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
