@use '../../abstract' as *;

.c-doc-container {
    padding-bottom: var(--footer-height);

    @include mq(desktop) {
        display: flex;
    }

    &__content {
        flex: auto;
        background: radial-gradient(
                farthest-side at bottom left,
                rgba($white, 1),
                transparent
            ),
            radial-gradient(
                farthest-corner at bottom right,
                rgba($white, 1),
                transparent 400px
            );

        background-attachment: fixed;
        transition: background 0.2s;

        @include mq('large') {
            width: auto;
            max-width: rem(950, large);
        }

        @include mq('xlarge') {
            max-width: rem(1100, xlarge);
            padding-right: rem(100, xlarge);
        }

        @include when-inside('.fake-content') {
            background: radial-gradient(
                circle at bottom center,
                transparent 100px,
                transparent
            );
        }
    }

    &__side {
        display: none;
        flex: 1;
        position: sticky;
        z-index: 14;
        top: var(--header-height);
        align-self: start;
        height: calc(100vh - var(--header-height) - var(--footer-height));
        overflow: hidden;

        @include mq('large') {
            display: block;
            width: auto;
        }

        @include mq('xlarge') {
            // margin-left: rem(100, xlarge);
        }
    }
}
