@use '../../sass_mq' as *;
@use '../../abstract' as *;

.c-doc-container {
    padding-bottom: var(--footer-height);

    @include mq(desktop) {
        display: flex;
    }

    &__content {
        flex: auto;
        background-color: rgba($black, 0.1);

        @include mq('large') {
            width: auto;
            max-width: rem(950, large);
        }

        @include mq('xlarge') {
            max-width: rem(1100, xlarge);
            padding-right: rem(100, xlarge);
        }
    }

    &__side {
        display: none;
        flex: 1;
        position: sticky;
        z-index: 14;
        top: var(--header-height);
        align-self: start;
        height: calc(100vh - var(--header-height) - var(--footer-height));
        overflow: hidden;

        @include mq('large') {
            display: block;
            width: auto;
        }

        @include mq('xlarge') {
            // margin-left: rem(100, xlarge);
        }
    }
}
