@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.shape {
    position: fixed;
    bottom: calc(#{rem(50)} * -1);
    width: 1200px;
    pointer-events: none;
    z-index: 10;
    display: none;
    opacity: 0;
    transition: opacity 1.55s;

    &.active {
        opacity: 1;
    }

    @include mq.mq(desktop) {
        display: block;
    }

    svg {
        height: auto;
        width: 100%;
        overflow: visible;
    }
}

.shape-right {
    left: 40%;
}

.shape-left {
    right: 40%;
}
