@use '../../abstract' as *;

.shape-v1 {
    position: fixed;
    bottom: rem(50);
    width: 1200px;
    pointer-events: none;
    z-index: 10;
    display: none;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition:
        opacity 1.55s,
        transform 1.55s;

    &.active {
        opacity: 1;
    }

    @include mq(desktop) {
        display: block;
    }

    svg {
        height: auto;
        width: 100%;
        overflow: visible;
    }

    &--right {
        left: 40%;
        transform: translateX(50%);

        &.is-center {
            transform: translateX(0);
        }
    }

    &--left {
        right: 40%;
        transform: translateX(-50%);

        &.is-center {
            right: 40%;
            transform: translateX(0);
        }
    }
}
