@use '../../abstract' as *;

@layer user {
    @scope (.c-move3d-square) {
        :scope {
            block-size: var(--item-height);
            inline-size: var(--item-width);
            background: var(--dark);

            &.is-small {
                block-size: calc(var(--item-height) * 0.5);
                inline-size: calc(var(--item-width) * 0.5);
            }

            &.has-star {
                opacity: 0;
            }
        }
    }
}
