@use '../../abstract' as *;

.c-move3d-page {
    &__controls {
        position: fixed;
        z-index: 10;
        top: var(--header-height);
        right: 0;
        min-width: rem(250);
        height: calc(100vh - var(--header-height) - var(--footer-height));
        padding: rem(60) rem(20) rem(20);
        transform: translateX(100%);
        transition: transform 0.35s;
        background: $black;

        &.active {
            transform: translateX(0);
        }

        &__open {
            display: block;
            position: fixed;
            z-index: 10;
            top: calc(var(--header-height) + rem(20));
            right: rem(20);
            margin-top: 0;
            padding: rem(5) rem(20);
            transition:
                background 0.35s,
                color 0.35s;
            border: 0;
            background: $black;
            color: $white;
            font-size: rem(14);
            text-align: right;

            &:hover {
                background: $white;
                color: $black;
            }
        }

        &__close {
            position: absolute;
            z-index: 10;
            top: rem(10);
            right: rem(10);
            width: rem(40);
            height: rem(40);
            border: 0;
            background: transparent;

            &::after,
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: rem(20);
                height: 2px;
                background: $white;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }

        &__block {
            margin-bottom: calc(var(--gap-size) / 3);
            padding: calc(var(--gap-size) / 3);
            color: $white;
        }

        &__range {
            position: relative;
            margin-bottom: rem(5);
            pointer-events: none;

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                background: $grey;
            }

            input {
                display: block;
                position: relative;
                width: 100%;
                margin: auto;
                background: transparent;
                cursor: pointer;
                pointer-events: all;
                appearance: none;

                &::-webkit-slider-thumb {
                    width: rem(15);
                    height: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: $grey;
                    cursor: pointer;
                    appearance: none;
                }

                &::-moz-range-thumb {
                    width: rem(15);
                    height: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: $grey;
                    cursor: pointer;
                    appearance: none;
                }
            }
        }

        &__button {
            display: block;
            width: 100%;
            margin-top: 0;
            margin-bottom: calc(var(--gap-size) / 5);
            padding: rem(5) rem(10);
            transition:
                background 0.35s,
                color 0.35s;
            border: 1px rgba($white, 0.3) solid;
            background: transparent;
            color: $white;
            font-size: rem(14);

            &:hover {
                background: $white;
                color: $black;
            }
        }
    }
}

.move3d-square {
    width: var(--item-width);
    height: var(--item-height);
    background: $black;

    &.is-white {
        background: $white;
    }

    &.is-grey {
        background: $grey-medium-2;
    }

    &.is-small {
        width: calc(var(--item-width) * 0.5);
        height: calc(var(--item-height) * 0.5);
    }

    &.has-star {
        opacity: 0;
    }

    &__star {
        svg {
            width: 100%;
            height: 100%;
        }
    }
}
