@use '../../abstract' as *;

.c-move3d-page {
    &__controls {
        position: fixed;
        top: calc(var(--header-height) + var(--gap-size));
        right: var(--gap-size);
        z-index: 10;

        &__block {
            padding: calc(var(--gap-size) / 2);
            border: 1px $grey solid;
            margin-bottom: calc(var(--gap-size) / 3);
        }

        &__range {
            position: relative;
            pointer-events: none;
            margin-bottom: rem(5);

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                background: $grey;
                z-index: 1;
            }

            input {
                width: 100%;
                margin: auto;
                appearance: none;
                background: transparent;
                cursor: pointer;
                position: relative;
                display: block;
                pointer-events: all;

                &::-webkit-slider-thumb {
                    appearance: none;
                    border: 0;
                    height: rem(15);
                    width: rem(15);
                    border-radius: 100%;
                    background: $grey;
                    cursor: pointer;
                }

                &::-moz-range-thumb {
                    appearance: none;
                    border: 0;
                    height: rem(15);
                    width: rem(15);
                    border-radius: 100%;
                    background: $grey;
                    cursor: pointer;
                }
            }
        }

        &__button {
            padding: rem(5) rem(10);
            margin-bottom: rem(10);
            margin-right: rem(10);
            display: inline-block;
            text-decoration: none;
            min-width: rem(200);
            color: $black;
            text-align: center;
            transition: background 0.35s;
            font-size: rem(14);
            background: $white;
            border: 0;

            &:hover {
                background: $black;
                color: $white;
            }
        }
    }
}

.move3d-square {
    width: var(--item-width);
    height: var(--item-height);
    background: $black;
    border-radius: 100%;

    &.is-white {
        background: $white;
    }

    &.is-small {
        width: calc(var(--item-width) * 0.5);
        height: calc(var(--item-height) * 0.5);
    }

    &.has-star {
        opacity: 0;
    }

    &__star {
        svg {
            width: 100%;
            height: 100%;
        }
    }
}
