@use '../../abstract' as *;

.c-move3d-page {
    &__controls {
        position: fixed;
        z-index: 10;
        top: calc(var(--header-height) + var(--gap-size));
        right: var(--gap-size);

        &__block {
            margin-bottom: calc(var(--gap-size) / 3);
            padding: calc(var(--gap-size) / 2);
            border: 1px rgba($grey, 0.3) solid;
        }

        &__range {
            position: relative;
            margin-bottom: rem(5);
            pointer-events: none;

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                background: $grey;
            }

            input {
                display: block;
                position: relative;
                width: 100%;
                margin: auto;
                background: transparent;
                cursor: pointer;
                pointer-events: all;
                appearance: none;

                &::-webkit-slider-thumb {
                    width: rem(15);
                    height: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: $grey;
                    cursor: pointer;
                    appearance: none;
                }

                &::-moz-range-thumb {
                    width: rem(15);
                    height: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: $grey;
                    cursor: pointer;
                    appearance: none;
                }
            }
        }

        &__button {
            display: inline-block;
            min-width: rem(100);
            margin-right: 0;
            margin-bottom: 0;
            width: 100%;
            padding: rem(5) rem(10);
            transition: background 0.35s;
            border: 0;
            background: $white;
            color: $black;
            font-size: rem(14);
            text-align: center;
            text-decoration: none;

            &:hover {
                background: $black;
                color: $white;
            }
        }
    }
}

.move3d-square {
    width: var(--item-width);
    height: var(--item-height);
    background: $black;

    &.is-white {
        background: $white;
    }

    &.is-grey {
        background: $grey-medium-2;
    }

    &.is-small {
        width: calc(var(--item-width) * 0.5);
        height: calc(var(--item-height) * 0.5);
    }

    &.has-star {
        opacity: 0;
    }

    &__star {
        svg {
            width: 100%;
            height: 100%;
        }
    }
}
