@use '../../abstract' as *;

.c-page-transiotion {
    position: fixed;
    z-index: 16;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
