@use '../../abstract' as *;

@layer layout {
    @scope (#sr-notice) {
        :scope {
            position: absolute;
            block-size: 1px;
            inline-size: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            border: 0;
            outline: none;
            white-space: nowrap;
            pointer-events: none;
            user-select: none;
            clip-path: inset(50%);
        }
    }
}
