@use '../../abstract' as *;

@layer layout {
    @scope (.c-search-list) to (.search-list-item > *) {
        :scope {
            position: relative;
            block-size: 100%;
        }

        .screen {
            position: absolute;
            overflow: hidden auto;
            outline-offset: -2px;
            color: var(--dark);
            inset: 0;

            @include mq(tablet) {
                overflow: hidden;
            }
        }

        .loader {
            display: none;
            position: absolute;
            z-index: 10;
            inset-block-start: 50%;
            inset-inline-start: 50%;
            padding: calc(var(--gap-size) / 2) var(--gap-size);
            transform: translate(-50%, -50%);
            border: 1px color-mix(in oklch, var(--dark) 50%, transparent) solid;
            background: color-mix(in oklch, var(--white) 80%, transparent);
            pointer-events: none;

            &.active {
                display: block;
            }
        }

        ul {
            min-block-size: 100%;
            margin: 0;
            padding: calc(var(--gap-size) / 2);
            list-style: none;

            @include mq(tablet) {
                padding: var(--gap-size);
                padding-inline-end: calc(var(--gap-size) * 2);
            }
        }

        li {
            position: relative;
            margin-block-end: calc(var(--gap-size) / 4);
            padding-block-end: calc(var(--gap-size) / 4);
            transition: opacity 0.35s;
            border-block-end: 1px var(--grey-300) solid;

            &:hover {
                opacity: 0.5;
            }

            @include mq(tablet) {
                margin-block-end: calc(var(--gap-size) / 2);
                padding-block-end: calc(var(--gap-size) / 2);
            }

            &.current {
                &::before {
                    content: '';
                    position: absolute;
                    inset-block: 0 calc(var(--gap-size) / 2);
                    inset-inline-start: calc(#{rem(10)} * -1);
                    inline-size: rem(4);
                    background: var(--dark);
                }
            }
        }

        ul.is-whelling {
            li {
                pointer-events: none;
            }
        }

        button {
            inline-size: 100%;
            padding: rem(2) rem(4);
            border: 0;
            background: transparent;
            text-align: start;
        }

        .item-section {
            p {
                margin-block-end: 0;
            }
        }

        h6 {
            display: inline-block;
            margin-block-end: 0;
        }

        .scrollbar {
            display: none;
            position: absolute;
            z-index: 14;
            inline-size: 47dvh;
            transform: rotate(calc(90deg * var(--dir)));
            transform-origin: left;
            background: transparent;
            cursor: pointer;
            inset-block-start: 1dvh;
            inset-inline-start: calc(100% - (var(--gap-size) / 2));
            appearance: none;

            --thumb-width: #{rem(200)};

            @include mq(tablet) {
                display: block;
            }

            &.hide-scrollbar {
                opacity: 0;
            }

            &:focus {
                outline: none;
            }

            &::-webkit-slider-runnable-track {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border-radius: rem(10);
                background-color: var(--grey-100);
            }

            &::-webkit-slider-thumb {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border-radius: rem(10);
                background-color: var(--dark);
                appearance: none;
            }

            &:focus::-webkit-slider-thumb {
                border-radius: rem(10);
                outline-offset: 0;
            }

            &::-moz-range-track {
                block-size: rem(10);
                border-radius: rem(10);
                background-color: var(--grey-100);
            }

            &::-moz-range-thumb {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border: none; /* Removes extra border that FF applies */
                border-radius: rem(10);
                background-color: var(--dark);
            }

            &:focus::-moz-range-thumb {
                outline-offset: 0;
            }
        }
    }
}

@layer override {
    [dir='rtl'] :where(.c-search-list .scrollbar) {
        transform-origin: right;
    }
}
