@use '../../abstract' as *;

@layer layout {
    @scope (.c-search-suggestion) {
        :scope {
            overflow: hidden;
        }

        .list {
            min-block-size: 100%;
            margin: 0;
            padding: calc(var(--gap-size) / 2);
            list-style-type: none;
        }

        button {
            display: block;
            position: relative;
            inline-size: 100%;
            margin-block-end: rem(6);
            padding-inline-start: rem(10);
            border: 0;
            background: transparent;
            text-align: start;
        }
    }
}
