@use '../../abstract' as *;

@layer component {
    @scope (.c-move-3d) {
        :scope {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;

            &.use-drag {
                cursor: move;
            }
        }

        .scene {
            position: relative;
            transform-style: preserve-3d;
        }

        .scene-container {
            transform-style: preserve-3d;
            backface-visibility: hidden;
        }
    }
}
