@use '../../abstract' as *;

.c-move3d-item {
    position: relative;
    transform-style: preserve-3d;
    width: var(--item-width);
    height: var(--item-height);

    > * {
        outline: 1px solid transparent;
    }

    &.is-root {
        position: relative;
    }

    &.is-children {
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas: 'content';

        &.anchor-left {
            transform-origin: left;
            bottom: var(--offset-y);
            left: calc(100% + var(--offset-x));
        }

        &.anchor-right {
            transform-origin: right;
            bottom: var(--offset-y);
            right: calc(100% + var(--offset-x));
        }

        &.anchor-bottom {
            transform-origin: bottom;
            bottom: calc(100% + var(--offset-y));
            left: var(--offset-x);
        }

        &.anchor-top {
            transform-origin: top;
            top: calc(100% + var(--offset-y));
            left: var(--offset-x);
        }

        &.anchor-bottom-left {
            transform-origin: bottom left;
            bottom: calc(100% + var(--offset-y));
            left: calc(100% + var(--offset-x));
        }

        &.anchor-bottom-right {
            transform-origin: bottom right;
            bottom: calc(100% + var(--offset-y));
            right: calc(100% + var(--offset-x));
        }

        &.anchor-top-left {
            transform-origin: top left;
            top: calc(100% + var(--offset-y));
            left: calc(100% + var(--offset-x));
        }

        &.anchor-top-right {
            transform-origin: top right;
            top: calc(100% + var(--offset-y));
            right: calc(100% + var(--offset-x));
        }

        &.anchor-center {
            transform-origin: center center;
            top: var(--offset-y);
            left: var(--offset-x);
        }
    }

    &__content,
    &__component {
        grid-area: content;
    }

    &__debug {
        position: absolute;
        color: red;
        top: 0;
        left: 0;
    }
}
