@use '../../abstract' as *;

@layer layout {
    @scope (.c-move3d-item) {
        :scope {
            position: relative;
            block-size: var(--item-height);
            inline-size: var(--item-width);
            transform-style: preserve-3d;

            &.is-root {
                position: relative;
            }

            &.is-children {
                display: grid;
                position: absolute;
                grid-template-areas: 'content';
                align-items: center;
                justify-content: center;

                &.anchor-left {
                    inset-block-end: var(--offset-y);
                    inset-inline-start: calc(100% + var(--offset-x));
                    transform-origin: left;
                }

                &.anchor-right {
                    inset-inline-end: calc(100% + var(--offset-x));
                    inset-block-end: var(--offset-y);
                    transform-origin: right;
                }

                &.anchor-bottom {
                    inset-block-end: calc(100% + var(--offset-y));
                    inset-inline-start: var(--offset-x);
                    transform-origin: bottom;
                }

                &.anchor-top {
                    inset-block-start: calc(100% + var(--offset-y));
                    inset-inline-start: var(--offset-x);
                    transform-origin: top;
                }

                &.anchor-bottom-left {
                    inset-block-end: calc(100% + var(--offset-y));
                    inset-inline-start: calc(100% + var(--offset-x));
                    transform-origin: bottom left;
                }

                &.anchor-bottom-right {
                    inset-inline-end: calc(100% + var(--offset-x));
                    inset-block-end: calc(100% + var(--offset-y));
                    transform-origin: bottom right;
                }

                &.anchor-top-left {
                    inset-block-start: calc(100% + var(--offset-y));
                    inset-inline-start: calc(100% + var(--offset-x));
                    transform-origin: top left;
                }

                &.anchor-top-right {
                    inset-block-start: calc(100% + var(--offset-y));
                    inset-inline-end: calc(100% + var(--offset-x));
                    transform-origin: top right;
                }

                &.anchor-center {
                    inset-block-start: var(--offset-y);
                    inset-inline-start: var(--offset-x);
                    transform-origin: center center;
                }
            }
        }

        .content,
        .component {
            grid-area: content;
        }

        .debug {
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;
            color: red;
        }
    }
}
