@use '../../abstract' as *;

.c-move-3d {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    &--drag {
        cursor: move;
    }

    &__scene {
        position: relative;
        transform-style: preserve-3d;

        @include user-select-none;
    }

    &__container {
        transform-style: preserve-3d;
        backface-visibility: hidden;

        @include user-select-none;
    }
}
