@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: $dark-green;
    border: 0;
    margin: 0;
    height: var(--header-height);
    width: var(--header-height);
    border-top-left-radius: rem(30);
    border-bottom-right-radius: rem(30);
    overflow: hidden;

    --width: 30px;
    --height: 2px;
    --total-height: 10px;
    --offset: -8px;

    // --width: #{rem(30)};
    // --height: #{rem(2)};
    // --total-height: #{rem(10)};
    // --offset: calc(#{rem(8)} * -1);

    &-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
        width: var(--width);
        height: var(--height);
        background-color: $white;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;

        &::before,
        &::after {
            width: 100%;
            height: var(--height);
            background-color: $white;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
            content: '';
            display: block;
        }

        &::before {
            top: var(--offset);
        }

        &::after {
            bottom: var(--offset);
        }
    }

    &.is-open {
        .hamburger-inner {
            transform: rotate(45deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &::before {
                top: 0;
                opacity: 0;
                transition: top 0.075s ease, opacity 0.075s 0.12s ease;
                background-color: $white;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.075s ease,
                    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
                background-color: $white;
            }
        }
    }

    &-box {
        width: var(--width);
        height: var(--total-height);
        display: inline-block;
        position: relative;
    }
}
