@use '../vars' as *;
@use '../abstract' as *;
@use '../../../node_modules/sass-mq/mq';

[data-component='navigation'] {
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--footer-height) - rem(40));
}

.l-navigation {
    width: 100%;
    margin: auto;

    &__list {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
    }

    &__item {
        border-bottom: 1px $secondary solid;
    }

    &__link {
        text-decoration: none;
        font-size: rem(14);
        padding: rem(5) rem(20);
        display: block;
        color: $black;
        transition: background 0.35s, color 0.35s, border-color 0.35s;
        width: 100%;
        text-align: left;
        position: relative;
        border: 0;
        background: $secondary-light-1;

        &:hover,
        &.active {
            background: $secondary;
        }

        &--arrow {
            &::after {
                content: '';
                position: absolute;
                right: rem(20);
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                width: rem(10);
                height: rem(10);
                border-bottom: 2px $black solid;
                border-right: 2px $black solid;
                transition: border-color 0.55s, transform 0.35s;
            }

            &:hover {
                &::after {
                    border-color: $white;
                }
            }

            &.active {
                &::after {
                    border-color: $white;
                    transform: translateY(-50%) rotate(-135deg);
                }
            }
        }

        &--submenu {
            padding-left: rem(30);
            position: relative;
            background: $secondary;

            &::before {
                content: '';
                left: 0;
                top: 0;
                height: 100%;
                width: rem(10);
                position: absolute;
                background: $white;
            }

            &:hover {
                background: rgba($secondary, 0.3);
            }
        }
    }

    &__submenu {
        list-style-type: none;
        padding: 0;
        background: rgba($white, 0.2);

        &__item {
            border-bottom: 1px $secondary-light-1 solid;

            &:first-of-type {
                border-top: 1px $secondary-light-1 solid;
            }

            &:last-of-type {
                border-bottom: 0;
            }
        }
    }
}
