@use '../../../abstract' as *;

.c-canvas {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    &--fixed {
        position: fixed;
        top: 0;
    }

    &__wrap {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        transition: opacity 0.55s;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    &__controls {
        display: flex;
        position: absolute;
        z-index: 0;
        top: var(--header-height);
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        width: rem(250);
        height: calc(100vh - var(--header-height) - var(--footer-height));
        margin: 0;
        padding: rem(60) rem(20) rem(20);
        transform: translateX(100%);
        transition: transform 0.35s;
        background: $black;
        list-style: none;

        &.active {
            transform: translateX(0);
        }

        &__open {
            display: block;
            position: absolute;
            top: calc(var(--header-height) + rem(20));
            right: rem(20);
            margin-top: 0;
            padding: rem(5) rem(20);
            transition:
                background 0.35s,
                color 0.35s;
            border: 0;
            background: $black;
            color: $white;
            font-size: rem(14);
            text-align: right;

            &:hover {
                background: $white;
                color: $black;
            }
        }

        &__close {
            position: absolute;
            z-index: 10;
            top: rem(10);
            right: rem(10);
            width: rem(40);
            height: rem(40);
            border: 0;
            background: transparent;

            &::after,
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: rem(20);
                height: 2px;
                background: $white;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }

        &__item {
            display: block;
            flex: 0 0 auto;
            width: 100%;
            text-align: center;

            &:last-of-type {
                border-bottom: 0;
            }

            &.is-like-button {
                display: flex;
                align-items: center;
                margin-top: rem(5);
                margin-bottom: rem(5);
                padding: rem(5) rem(20);
                border-radius: rem(20);
                background: transparent;
                gap: rem(10);
            }
        }

        &__btn {
            display: block;
            width: 100%;
            margin-top: 0;
            margin-bottom: calc(var(--gap-size) / 5);
            padding: rem(5) rem(10);
            transition:
                background 0.35s,
                color 0.35s;
            border: 1px rgba($white, 0.3) solid;
            background: transparent;
            color: $white;
            font-size: rem(14);
            text-align: right;

            &:hover {
                background: $white;
                color: $black;
            }
        }

        &__label {
            margin-bottom: 0;
            color: $white;
            font-size: rem(14);
            font-weight: 400;
        }

        &__range {
            position: relative;
            width: rem(100);
            margin: auto;
            pointer-events: none;

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                background: rgba($white, 0.5);
            }

            input {
                display: block;
                position: relative;
                width: 100%;
                margin: auto;
                background: transparent;
                cursor: pointer;
                pointer-events: all;
                appearance: none;

                &::-webkit-slider-thumb {
                    width: rem(15);
                    height: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: $white;
                    cursor: pointer;
                    appearance: none;
                }

                &::-moz-range-thumb {
                    width: rem(15);
                    height: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: $white;
                    cursor: pointer;
                    appearance: none;
                }
            }
        }
    }

    canvas {
        width: 100%;
        height: 100%;
        transition: opacity 2.55s;
    }
}
