@use '../../../abstract' as *;

.c-canvas {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    &--fixed {
        position: fixed;
        top: 0;
    }

    &__wrap {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        transition: opacity 0.55s;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    &__controls {
        display: flex;
        position: absolute;
        z-index: 0;
        top: calc(var(--gap-size) + var(--header-height));
        left: calc(100vw - #{rem(250)} - (var(--header-height) / 2));
        flex-direction: column;
        align-items: flex-end;
        width: rem(250);
        height: auto;
        margin: 0;
        padding: 0;
        list-style: none;

        &__item {
            display: block;
            flex: 0 0 auto;
            width: 100%;
            text-align: center;

            &:last-of-type {
                border-bottom: 0;
            }

            &.is-like-button {
                display: flex;
                align-items: center;
                margin-top: rem(5);
                margin-bottom: rem(5);
                padding: rem(5) rem(20);
                border: 1px $black solid;
                border-radius: rem(20);
                background: transparent;
                gap: rem(10);
            }
        }

        &__btn {
            display: block;
            width: 100%;
            margin-top: 0;
            margin-bottom: calc(var(--gap-size) / 5);
            padding: rem(5) rem(10);
            transition: background 0.2s;
            border: 0;
            border-radius: rem(20);
            background: $black;
            color: $white;
            font-size: rem(14);
            text-align: center;

            &:hover {
                background: $white;
                color: $black;
            }
        }

        &__label {
            margin-bottom: 0;
            font-size: rem(14);
            font-weight: 400;
        }

        &__range {
            position: relative;
            width: rem(100);
            margin: auto;
            pointer-events: none;

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                background: rgba($black, 0.5);
            }

            input {
                display: block;
                position: relative;
                width: 100%;
                margin: auto;
                background: transparent;
                cursor: pointer;
                pointer-events: all;
                appearance: none;

                &::-webkit-slider-thumb {
                    width: rem(15);
                    height: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: $black;
                    cursor: pointer;
                    appearance: none;
                }

                &::-moz-range-thumb {
                    width: rem(15);
                    height: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: $black;
                    cursor: pointer;
                    appearance: none;
                }
            }
        }
    }

    canvas {
        width: 100%;
        height: 100%;
        transition: opacity 2.55s;
    }
}
