@use '../../abstract' as *;

.c-dynamic-card {
    $self: &;

    flex: 0 0 100%;
    padding: rem(10);
    text-align: left;
    font-size: rem(14);
    line-height: 1.4;
    border: 0;
    background: transparent;
    opacity: 0;
    transition: opacity 1.55s, transform 0.35s;
    color: rgba($white, 0.3);
    box-sizing: border-box;
    cursor: pointer;

    @include mq(large) {
        flex: 0 0 50%;
    }

    &.active {
        opacity: 1;
    }

    &.is-full {
        width: 100%;
    }

    &__title {
        color: $white;
        margin-bottom: rem(10);
    }

    &__container {
        background: rgba($black, 0.3);
        border-radius: rem(30);
        padding: rem(20);
        transition: background 0.55s, color 0.55s;
    }

    &:hover {
        transform: scale(0.95);
    }

    &.is-selected {
        #{$self}__container {
            background: rgba($black, 0.6);
            color: $grey-medium;
        }
    }
}
