@use '../../abstract' as *;

.c-dynamic-list-button {
    flex: 1;
    background: $hightlight;
    border: 0;
    border-radius: rem(30);
    transition: opacity 0.55s, background 0.55s;
    max-width: rem(200);

    &:hover {
        opacity: 0.5;
    }

    &.active {
        background: $white;
    }
}
