@use '../../abstract' as *;

.c-dynamic-list-empty {
    border: 1px rgba($white, 0.1) solid;
    padding: rem(5);
    margin-top: rem(10);

    @include when-inside('.is-selected') {
        border: 1px rgba($black, 0.1) solid;
    }
}
