@use '../../abstract' as *;

.c-dynamic-card {
    $self: &;

    flex: 0 0 100%;
    padding: rem(10);
    text-align: left;
    font-size: rem(14);
    line-height: 1.4;
    border: 0;
    background: transparent;
    opacity: 0;
    transition:
        opacity 1.55s,
        transform 0.35s;
    color: $black;
    box-sizing: border-box;

    @include mq(large) {
        flex: 0 0 50%;
    }

    &.active {
        opacity: 1;
    }

    &.is-full {
        width: 100%;
    }

    &__title {
        color: $black;
        margin-bottom: rem(10);
        font-weight: 600;
    }

    &__container {
        background: $white;
        border-radius: rem(30);
        padding: rem(20);
        transition:
            background 0.55s,
            color 0.55s;
    }

    &.is-selected {
        #{$self}__container {
            background: $black;
            color: $white;
        }

        #{$self}__title {
            color: $white;
        }
    }

    &__repeater-container {
        margin-top: rem(20);
    }

    &__repeater {
        font-size: 0;
    }

    &__button {
        margin-bottom: rem(12);
        width: 100%;
        padding: rem(12);
        border: 1px $white solid;
    }
}
