@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

[data-component='navigation'] {
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--footer-height) - rem(40));
}

.l-navigation {
    width: 100%;
    margin: auto;

    &__list {
        list-style-type: none;
        margin-top: 0;
        padding: 0;
    }

    &__item {
        border-bottom: 1px $grey solid;
    }

    &__label {
        padding: rem(10) rem(20);
        background: $black;
        color: $white;
    }

    &__link {
        text-decoration: none;
        padding: rem(10) rem(20);
        display: block;
        color: $dark-green;
        transition: background 0.35s, color 0.35s, border-color 0.35s;
        width: 100%;
        text-align: left;
        position: relative;
        border: 0;
        background: transparent;

        &--arrow {
            &::after {
                content: '';
                position: absolute;
                right: rem(20);
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                width: rem(5);
                height: rem(5);
                border-bottom: 1px $dark-green solid;
                border-right: 1px $dark-green solid;
                transition: border-color 0.55s, transform 0.35s;
            }

            &.active {
                &::after {
                    transform: translateY(-50%) rotate(-135deg);
                }
            }
        }

        &.current {
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: rem(20);
                background: $green;
            }
        }

        &--submenu {
            padding-left: rem(30);
            position: relative;
            background: $grey;
            border-bottom: 1px rgba($white, 0.3) solid;
        }
    }

    &__submenu {
        list-style-type: none;
        padding: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        background: rgba($white, 0.2);
    }
}
