@use '../../abstract' as *;

@layer layout {
    @scope (.l-about-mobile) {
        :scope {
            position: relative;
            min-block-size: calc(
                100vh - var(--header-height) - var(--footer-height)
            );
            padding-block-end: rem(120);
        }

        .section-one {
            margin-block-end: rem(64);
            padding-block: rem(34);
            border-block-end: 1px var(--grey-400) solid;
        }

        .section-two,
        .section-three,
        .section-four {
            margin-block-end: rem(44);
            padding-inline: calc(var(--gap-size) / 2);
        }

        h1 {
            margin-block-end: 0;
            font-size: rem(74);
            line-height: 1;
        }

        h2 {
            font-size: rem(60);
            line-height: 1;
        }

        h1,
        h2 {
            padding-inline: calc(var(--gap-size) / 2);
        }

        h1,
        h3 {
            text-transform: capitalize;
        }
    }
}
