@use '../../abstract' as *;

@layer layout {
    @scope (.l-about-mobile) {
        :scope {
            position: relative;
            min-block-size: calc(
                100vh - var(--header-height) - var(--footer-height)
            );
            padding: rem(60) calc(var(--gap-size) / 2);
        }
    }
}
