@use '../../abstract' as *;

.c-loader {
    left: calc(50% - #{rem(24)});
    transform: translate(-50%, -50%);
    width: rem(48);
    height: rem(48);
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid $white;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 16;
    pointer-events: none;

    &.disable {
        animation: none;
        display: none;
    }

    &.center-viewport {
        position: fixed;
        top: calc(50vh - #{rem(24)});
    }

    &.center-component {
        position: absolute;
        top: calc(50% - #{rem(24)});
    }

    &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: rem(48);
        height: rem(48);
        border-radius: 50%;
        border-left: 4px solid $color-contrast;
        border-bottom: 4px solid transparent;
        animation: rotation 0.5s linear infinite reverse;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.c-loader-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    z-index: 15;

    &__message {
        position: absolute;
        top: calc(50% - rem(100));
        font-size: rem(22);
        line-height: 1.4;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $black;
        display: inline-block;
    }
}
