@use '../../abstract' as *;

@layer layout {
    @scope (.c-loader) {
        :scope {
            display: inline-block;
            z-index: 16;
            left: calc(50% - #{rem(24)});
            box-sizing: border-box;
            width: rem(48);
            height: rem(48);
            transform: translate(-50%, -50%);
            animation: rotation 1s linear infinite;
            border-top: 4px solid var(--white);
            border-right: 4px solid transparent;
            border-radius: 50%;
            pointer-events: none;

            &.disable {
                display: none;
                animation: none;
            }

            &.center-viewport {
                position: fixed;
                top: calc(50vh - #{rem(24)});
            }

            &.center-component {
                position: absolute;
                top: calc(50% - #{rem(24)});
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                box-sizing: border-box;
                width: rem(48);
                height: rem(48);
                animation: rotation 0.5s linear infinite reverse;
                border-bottom: 4px solid transparent;
                border-left: 4px solid var(--dark);
                border-radius: 50%;
            }

            @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

@layer layout {
    @scope (.c-main-loader) {
        :scope {
            position: fixed;
            z-index: 15;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--white);
            line-height: 1.4;
        }

        .title,
        .message {
            position: absolute;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            color: var(--dark);
            text-align: center;
        }

        .title {
            top: calc(50% - rem(100));
            font-family: 'Playfair Display', serif;
            font-size: rem(28);
            font-weight: 600;
        }

        .message {
            top: calc(50% - rem(60));
            font-size: rem(22);
        }

        .track {
            position: absolute;
            top: 50%;
            left: 50%;
            width: rem(200);
            height: rem(8);
            transform: translate(-50%, -50%);
            border: 1px var(--dark) solid;
            background: var(--dark);
            color: var(--dark);
        }

        .track-inner {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleX(0);
            transform-origin: left;
            background: var(--white);
        }
    }
}
