@use '../../abstract' as *;

.c-loader {
    display: inline-block;
    z-index: 16;
    left: calc(50% - #{rem(24)});
    box-sizing: border-box;
    width: rem(48);
    height: rem(48);
    transform: translate(-50%, -50%);
    animation: rotation 1s linear infinite;
    border-top: 4px solid $white;
    border-right: 4px solid transparent;
    border-radius: 50%;
    pointer-events: none;

    &.disable {
        display: none;
        animation: none;
    }

    &.center-viewport {
        position: fixed;
        top: calc(50vh - #{rem(24)});
    }

    &.center-component {
        position: absolute;
        top: calc(50% - #{rem(24)});
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: rem(48);
        height: rem(48);
        animation: rotation 0.5s linear infinite reverse;
        border-bottom: 4px solid transparent;
        border-left: 4px solid $black;
        border-radius: 50%;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.c-loader-background {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    line-height: 1.4;

    &__title,
    &__message {
        position: absolute;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: $black;
        text-align: center;
    }

    &__title {
        top: calc(50% - rem(100));
        font-family: 'Playfair Display', serif;
        font-size: rem(28);
        font-weight: 600;
    }

    &__message {
        top: calc(50% - rem(60));
        font-size: rem(22);
    }

    &__track {
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem(200);
        height: rem(8);
        transform: translate(-50%, -50%);
        border: 1px $black solid;
        background: $black;
        color: $black;
    }

    &__track-inner {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        transform-origin: left;
        background: $white;
    }
}
