@use '../../abstract' as *;

.c-quick-nav-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s;
    pointer-events: none;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.c-quick-nav {
    position: fixed;
    bottom: calc(var(--header-height) + #{rem(20)});
    z-index: 15;
    background: transparent;
    border: 0;
    transition: opacity 0.55s;

    &--next {
        right: rem(20);
        transform: rotate(-90deg);
    }

    &--prev {
        right: rem(70);
        transform: rotate(90deg);
    }

    &.is-disable {
        pointer-events: none;
        opacity: 0.2;
    }

    &:hover {
        opacity: 0.3;
    }

    svg {
        fill: $hightlight;
        width: 2rem;
        height: 2rem;
    }
}
