@use '../../abstract' as *;

@layer layout {
    @scope (.l-background-shape) {
        :scope {
            position: absolute;
            z-index: -1;
            block-size: 100%;
            inline-size: 100%;
            overflow: hidden;
            opacity: 0.05;
            inset-block-start: 0;
            inset-inline-start: 0;

            &.is-light {
                opacity: 0.03;
            }
        }

        svg {
            position: absolute;
            block-size: 500vh;
            inline-size: 500vw;
            transform: translate(-50%, -50%);
            inset-block-start: 50%;
            inset-inline-start: 50%;

            @include mq(desktop) {
                block-size: 200vh;
                inline-size: 200vw;
            }
        }
    }
}

@layer override {
    [dir='rtl'] :where(.l-background-shape) {
        svg {
            transform: translate(50%, -50%);
        }
    }
}
