@use '../../abstract' as *;

.background-shape {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500vw;
        height: 500vh;
        transform: translate(-50%, -50%);
        opacity: 0.05;

        @include mq(desktop) {
            width: 200vw;
            height: 200vh;
        }
    }
}
