@use '../../abstract' as *;

@layer layout {
    @scope (.l-background-shape) {
        :scope {
            position: fixed;
            z-index: -1;
            block-size: 100%;
            inline-size: 100%;
            overflow: hidden;
            opacity: 0.05;
            inset-block-start: 0;
            inset-inline-start: 0;

            &.is-light {
                opacity: 0.03;
            }
        }

        svg {
            position: absolute;
            block-size: 500dvh;
            inline-size: 500vw;
            transform: translate(calc(-50% * var(--dir)), -50%);
            inset-block-start: 50%;
            inset-inline-start: 50%;

            @include mq(tablet) {
                block-size: 200dvh;
                inline-size: 200vw;
            }
        }
    }
}
