@use '../../abstract' as *;

.c-doc-container {
    padding-bottom: var(--footer-height);
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    @include mq('large') {
        grid-template-columns: var(--doc-width) 1fr;
    }

    &__content {
        position: relative;
        background: rgba($white, 0.4);
        grid-column: 1 / span 1;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background: $black;
        }

        @include mq('large') {
            width: auto;
        }

        @include when-inside('.fake-content') {
            background: radial-gradient(
                circle at bottom center,
                transparent 100px,
                transparent
            );
        }
    }

    &__side {
        display: none;
        position: sticky;
        z-index: 14;
        top: var(--header-height);
        align-self: start;
        height: calc(100vh - var(--header-height) - var(--footer-height));
        overflow: hidden;
        min-width: rem(250);
        grid-column: 2 / span 1;

        @include mq('desktop') {
            display: block;
        }
    }
}
