@use '../../abstract' as *;

@layer layout {
    @scope (.c-doc-container) {
        :scope {
            display: grid;
            position: relative;
            grid-template-columns: var(--doc-width);

            @include mq(desktop) {
                grid-template-columns: var(--doc-width) 1fr;
            }

            @include mq(large) {
                grid-template-columns: var(--left-sidebar) var(--doc-width) 1fr;
            }
        }

        .left-placeholder {
            display: none;
            position: sticky;
            z-index: 14;
            inset-block-start: var(--header-height);
            align-self: start;
            block-size: calc(
                100dvh - var(--header-height) - var(--footer-height)
            );
            padding: var(--gap-size);
            overflow: hidden;

            @include mq('large') {
                display: block;
                grid-column: 1 / span 1;
            }
        }

        main {
            position: relative;
            grid-column: 1 / span 1;
            background: color-mix(in oklch, var(--white) 40%, transparent);

            &::after {
                content: '';
                position: absolute;
                inset-block: 0;
                inset-inline-end: 0;
                inline-size: 1px;
                background: var(--grey-400);
            }

            @include mq('large') {
                inline-size: auto;
            }

            @include mq(large) {
                grid-column: 2 / span 1;
                border-inline-start: 1px var(--grey-400) solid;
            }
        }

        .off-canvas-control-button {
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            block-size: rem(200);
            inline-size: var(--gap-size);
            transition: background 0.15s;
            border: 0;
            background: var(--immutable-black);
            inset-block-start: 0;
            inset-inline-end: 100%;

            --icon-opacity: 1;

            &:disabled {
                background: var(--grey-100);
                border-block-end: 1px var(--grey-400) solid;

                --icon-opacity: 0;
            }

            @include mq(desktop) {
                display: none;
            }
        }

        .off-canvas-icon {
            block-size: rem(8);
            inline-size: rem(8);
            transform: translateX(calc((50% + #{rem(12)}) * var(--dir)))
                rotate(calc(135deg * var(--dir)));
            inset-block-start: -1px;
            inset-inline-start: 1px;
            border-inline-end: 3px var(--immutable-white) solid;
            border-block-end: 3px var(--immutable-white) solid;
            transition:
                transform 0.35s,
                opacity 0.35s;
            opacity: var(--icon-opacity);

            &.active {
                transform: translateX(calc((50% + #{rem(12)}) * var(--dir)))
                    rotate(calc(-45deg * var(--dir)));
            }
        }

        .off-canvas-backdrop {
            position: absolute;
            z-index: -1;
            block-size: calc(
                100dvh - var(--header-height) - var(--footer-height)
            );
            inline-size: rem(2000);
            transition: opacity 0.35s;
            opacity: 0;
            background: color-mix(in oklch, var(--white) 90%, transparent);
            pointer-events: none;
            inset-block: 0;
            inset-inline-end: calc(100% - var(--gap-size));

            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }

        .right {
            position: sticky;
            z-index: 14;
            grid-column: 2 / span 1;
            align-self: start;
            block-size: calc(
                100dvh - var(--header-height) - var(--footer-height)
            );
            min-inline-size: rem(260);
            transform: translateX(calc(var(--gap-size) * var(--dir)));
            transition: transform 0.35s;
            background: var(--white);
            inset-block-start: var(--header-height);
            border-inline-start: 1px var(--immutable-black) solid;

            &.visible {
                @include mq($until: desktop) {
                    transform: translateX(calc(-100% * var(--dir)));
                }
            }

            @include mq(desktop) {
                min-inline-size: rem(250);
                transform: translateX(0);
                border-inline-start: 0;
            }

            @include mq(large) {
                grid-column: 3 / span 1;
            }
        }
    }
}

@layer override {
    :where(.is-whelling .c-doc-container) :is(a, button) {
        pointer-events: none;
    }
}
