@use '../../abstract' as *;

.l-links {
    position: relative;
    overflow: hidden;

    $self: &;

    --scroller-height: calc(
        100vh - var(--header-height) - var(--footer-height)
    );

    &__under-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(var(--scroller-height) / 2);
        overflow: hidden;
    }

    &__under {
        height: 100%;
        line-height: calc(var(--scroller-height) / 2);
        font-size: rem(300);
        opacity: 0;
        position: relative;
        bottom: 0;
        transform: translateY(100%);
        text-transform: uppercase;
        font-weight: 800;
        display: inline-block;
        text-wrap: nowrap;
        transition:
            transform 1.5s,
            opacity 0.55s;

        &.is-visible {
            transform: translateY(30%);
            opacity: 0.1;
        }
    }

    &__over {
        font-size: rem(300);
        opacity: 0.025;
        position: absolute;
        left: calc(#{rem(100)} * -1);
        top: calc(#{rem(110)} * -1);
        transform: rotateX(180deg);
        text-transform: uppercase;
        font-weight: 800;
        text-wrap: nowrap;
        mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
        line-height: 1;
        margin: 0;
    }

    &__title {
        position: absolute;
        top: 50%;
        transform: translate(-10%, -120%);
        padding-left: calc(var(--header-height) / 2);
        opacity: 0;
        transition:
            opacity 1s,
            transform 1s;

        &.is-visible {
            opacity: 1;
            transform: translate(0, -120%);
        }
    }

    &__grid {
        display: grid;
        height: var(--scroller-height);
    }

    &__row {
        width: 100%;
        overflow: hidden;
        position: relative;

        &__white {
            position: absolute;
            inset: 50% 0 0;
            z-index: 1;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                background: $black;
                transition: transform 0.55s;
                top: 0;
                left: 0;
                height: 1px;
                width: 100%;
                transform-origin: top left;
                transform: scaleX(0);
            }

            &.active {
                &::before {
                    transform: scaleX(100%);
                }
            }
        }
    }

    &__scroller {
        width: auto;
        max-width: none;
        display: flex;
        position: absolute;
        padding-top: calc(var(--scroller-height) * 0.5);
        z-index: 2;

        &.use-drag-cursor {
            cursor: grabbing;
        }
    }

    &__scroll {
        position: absolute;
        bottom: calc((var(--scroller-height) * 0.5) + #{rem(70)});
        left: rem(40);
        z-index: 2;
        opacity: 0;
        transform: translateX(20%);
        pointer-events: none;
        transition:
            opacity 1.5s,
            transform 1.5s;

        &.active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &__list {
        list-style-type: none;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        margin: 0;
        padding-left: 0;
        min-width: calc(100vw - var(--footer-height) / 2);
        height: calc(var(--scroller-height) * 0.5 + 1px);

        &__item {
            width: rem(400);

            &:nth-child(odd) {
                grid-row: 1 / span 1;
            }

            &:nth-child(even) {
                grid-row: 2 / span 1;
            }
        }

        &__counter {
            position: absolute;
            top: rem(15);
            left: rem(15);
            font-size: rem(11);
        }

        &__link {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $black;
            transition:
                background 0.55s,
                color 0.55s;
            text-transform: capitalize;
            position: relative;

            &::after,
            &::before {
                content: '';
                position: absolute;
                background: $black;
                transition: transform 0.55s;
            }

            &::after {
                top: 0;
                right: 0;
                height: 100%;
                width: 1px;
                transform: scaleY(0);
            }

            &::before {
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                transform: scaleX(0);
                transform-origin: bottom left;
            }

            &.is-odd {
                &::after {
                    transform-origin: bottom right;
                }
            }

            &.is-even {
                &::after {
                    transform-origin: top right;
                }
            }

            span {
                opacity: 0;
            }

            @for $i from 1 through 20 {
                &.index-#{$i} {
                    &::after,
                    &::before {
                        transition: transform 0.25s 0.05s * $i ease-out;
                    }
                }

                span {
                    &.index-#{$i} {
                        transition: opacity 0.25s 0.05s * $i;
                    }
                }
            }

            &.active {
                &::after {
                    transform: scaleY(100%);
                }

                &::before {
                    transform: scaleX(100%);
                }

                span {
                    opacity: 1;
                }
            }

            &:hover {
                background: $black;
                color: $white;
            }

            h6 {
                pointer-events: none;
                margin: 0;
            }
        }
    }
}
