@use '../../abstract' as *;

.l-links {
    position: relative;
    overflow: hidden;

    --scroller-height: calc(
        100vh - var(--header-height) - var(--footer-height)
    );

    &__back-title {
        font-size: rem(300);
        opacity: 0;
        position: absolute;
        top: 50%;
        left: calc(#{rem(100)} * -1);
        transform: translateY(100%);
        text-transform: uppercase;
        font-weight: 800;
        display: inline-block;
        text-wrap: nowrap;
        transition:
            transform 1.5s,
            opacity 0.55s;

        &.is-visible {
            transform: translateY(-200%);
            opacity: 0.1;
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        transform: translateY(-120%);
        padding-left: calc(var(--header-height) / 2);
    }

    &__grid {
        display: grid;
        height: var(--scroller-height);
    }

    &__row {
        width: 100%;
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            inset: 50% 0 0;
            background: $white;
            z-index: 1;
        }
    }

    &__scroller {
        width: auto;
        max-width: none;
        display: flex;
        position: absolute;
        padding-top: calc(var(--scroller-height) * 0.5);
        cursor: grabbing;
        z-index: 2;
    }

    &__arrow {
        position: absolute;
        z-index: 10;
        display: block;
        width: rem(20);
        height: rem(20);
        border-top: 3px $black solid;
        border-right: 3px $black solid;
        left: calc(100vw - #{rem(100)});
        bottom: rem(40);
        transform: rotate(45deg);
    }

    &__triangle-1 {
        position: absolute;
        bottom: 0;
        left: -1px;
        transform: translateY(50%);
        z-index: 1;
        pointer-events: none;

        svg {
            width: rem(400);
            fill: $grey;
        }
    }

    &__triangle-2 {
        position: absolute;
        left: 100vw;
        transform: translate(-100%, 20%) rotate(180deg);
        bottom: 0;
        z-index: 10;
        pointer-events: none;

        svg {
            width: rem(400);
            fill: $grey;
        }
    }

    &__scroll {
        position: absolute;
        bottom: rem(40);
        left: rem(40);
        z-index: 2;
    }

    &__list {
        list-style-type: none;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: rem(20);
        margin: 0;
        padding-top: rem(40);
        padding-left: calc(var(--header-height) / 2);
        padding-right: rem(400);
        min-width: calc(100vw - var(--footer-height) / 2);
        height: 100%;

        &__item {
            width: rem(400);
            height: rem(100);

            &:nth-child(odd) {
                grid-row: 1 / span 1;
            }

            &:nth-child(even) {
                grid-row: 2 / span 1;
            }
        }

        &__link {
            height: 100%;
            background: $grey-light;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $black;
            transition:
                background 0.55s,
                color 0.55s;
            text-transform: capitalize;

            &:hover {
                background: $black;
                color: $white;
            }

            h6 {
                pointer-events: none;
            }
        }
    }
}
