@use '../../abstract' as *;

.l-links {
    position: relative;
    overflow: hidden;

    --scroller-height: calc(
        100vh - var(--header-height) - var(--footer-height)
    );

    &__grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        height: var(--scroller-height);
    }

    &__row {
        width: 100%;
        overflow: hidden;

        &--top {
            grid-row: 1 / span 1;
            align-content: end;
            padding-bottom: rem(20);
            padding-left: rem(40);
        }

        &--bottom {
            grid-row: 2 / span 1;
            background: $white;
        }
    }

    &__arrow {
        position: absolute;
        z-index: 10;
        display: block;
        width: rem(20);
        height: rem(20);
        border-top: 3px $black solid;
        border-right: 3px $black solid;
        right: rem(100);
        bottom: rem(40);
        transform: rotate(45deg);
    }

    &__triangle-1 {
        position: absolute;
        bottom: 0;
        left: -1px;
        transform: translateY(50%);
        z-index: 10;
        pointer-events: none;

        svg {
            width: rem(400);
            fill: $grey;
        }
    }

    &__triangle-2 {
        position: absolute;
        right: 0;
        transform: translateY(75%) rotate(180deg);
        z-index: 10;
        pointer-events: none;

        svg {
            width: rem(400);
            fill: $grey;
        }
    }

    &__scroll {
        position: absolute;
        z-index: 10;
        bottom: rem(40);
        left: rem(40);
    }

    &__scroller {
        width: auto;
        max-width: none;
        display: flex;
        position: absolute;
        left: calc(var(--header-height) / 2);
        height: calc(var(--scroller-height) * 0.5);
        cursor: grabbing;
    }

    &__list {
        list-style-type: none;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: rem(20);
        margin: 0;
        padding-top: rem(40);
        padding-left: 0;
        padding-right: rem(400);
        min-width: calc(100vw - var(--footer-height) / 2);
        height: rem(200);

        &__item {
            width: rem(400);
            height: rem(100);

            &:nth-child(odd) {
                grid-row: 1 / span 1;
            }

            &:nth-child(even) {
                grid-row: 2 / span 1;
            }
        }

        &__link {
            height: 100%;
            background: $grey-light;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $black;
            transition:
                background 0.55s,
                color 0.55s;
            text-transform: capitalize;

            &:hover {
                background: $black;
                color: $white;
            }

            h6 {
                pointer-events: none;
            }
        }
    }
}
