@use '../abstract' as *;

/**
 * HTML font size map.
 */
@include font-size-map;

/**
 * Global columns/gap definition.
 */
@include grid-context;

/**
 * Set up a decent box model on the root element
 */
:root {
    --header-height: #{rem(80)};
    --header-navinfo: #{rem(40)};
    --footer-height: #{rem(80)};
    --nav-width: #{rem(340)};
    --default-padding: #{rem(100)};
    --snippet-rem-value: #{strip-unit(rem(14))};
    --snippet-line-height-value: #{strip-unit(line-height(15, 22))};
    --doc-width: none;
    --main-translate: #{rem(100)};

    @include mq(desktop) {
        @media screen and (height <= 700px) {
            --footer-height: #{rem(50)};
        }
    }

    @include mq(large) {
        --doc-width: #{rem(950, large)};
    }

    @include mq(xlarge) {
        --doc-width: #{rem(1100, xlarge)};
    }

    @include mq(xxlarge) {
        --doc-width: #{rem(1440, xxlarge)};
    }
}

html {
    box-sizing: border-box;

    --scrollbar-color-thumb: white;
    --scrollbar-color-track: black;
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 10px;

    /* Modern browsers with `scrollbar-*` support */
    @supports (scrollbar-width: auto) {
        scrollbar-color: var(--scrollbar-color-thumb)
            var(--scrollbar-color-track);
        scrollbar-width: var(--scrollbar-width);
    }

    /* Legacy browsers with `::-webkit-scrollbar-*` support */
    @supports selector(::-webkit-scrollbar) {
        ::-webkit-scrollbar-thumb {
            background: var(--scrollbar-color-thumb);
        }

        ::-webkit-scrollbar-track {
            background: var(--scrollbar-color-track);
        }

        ::-webkit-scrollbar {
            max-width: var(--scrollbar-width-legacy);
            max-height: var(--scrollbar-width-legacy);
        }
    }
}

body {
    // background: $grey-lightteen;
    background: radial-gradient(
        circle,
        rgb(232 232 232 / 100%) 0%,
        rgb(166 182 185) 93%
    );
    background-attachment: fixed;
    overflow-x: hidden;
}

#content {
    position: relative;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
    box-sizing: inherit;
}

/**
 * Basic styles for links
 */

img {
    max-width: 100%;
    height: auto;
}

main {
    padding-top: calc(var(--header-height));
    transition:
        transform 0.55s,
        opacity 1s 0.5s;
    min-height: 100vh;

    &.shift {
        transform: translateX(var(--main-translate));
        transition:
            transform 0.55s,
            opacity 0.55s;
        cursor: pointer;
        opacity: 0.1;
    }
}

.container {
    margin: auto;
    padding-left: rem(40);

    &--padding {
        padding: rem(20) rem(40);
    }
}

.inner-main {
    padding-top: rem(150);
}

.l-padding {
    padding: var(--default-padding);
}
