@use '../abstract' as *;

@layer base {
    body {
        position: relative;
        overflow-x: hidden;
        background: var(--white);

        &::after {
            content: '';
            visibility: hidden;
            position: fixed;
            block-size: 100%;
            inline-size: 100%;
            transition:
                opacity 0.55s,
                visibility 0.55s;
            opacity: 0;
            inset-block-start: 0;
            inset-inline-start: 0;

            @include noise-bg;
        }

        &[data-template='home'],
        &[data-template='template-listing'],
        &[data-template='template-animation'] {
            &::after {
                visibility: visible;
                opacity: 1;
            }
        }

        &[data-template='about'] {
            @include mq(tablet) {
                background: var(--grey-200);

                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    #content {
        position: relative;
    }

    .main-app-content {
        position: relative;
        z-index: 1;
        min-block-size: calc(
            100dvh - var(--header-height) - var(--footer-height)
        );
        padding-block-start: calc(var(--header-height));
        transition: opacity 0.55s;

        &.disable {
            opacity: 0.1;
            cursor: pointer;
            pointer-events: none;
        }
    }

    .main-container {
        margin: auto;

        @include mq(tablet) {
            padding-inline-start: var(--gap-size);
        }
    }

    img {
        block-size: auto;
        max-inline-size: 100%;
    }
}

@layer override {
    :where([data-template='home']) .main-app-content {
        padding-block-start: 0;
    }

    :where([data-template='template-animation']) .main-app-content {
        padding-block-start: 0;
    }

    :where([data-template='template-doc-default'] .main-app-content) {
        overflow: clip;
    }

    :where([data-template='template-animation']) .main-container {
        padding-inline-start: 0;
    }

    :where([data-template='template-mobJs-component'] .main-app-content) {
        overflow: clip;
    }
}
