@use '../abstract' as *;

@layer base {
    /**
     * Global columns/gap definition.
     * for testing, for now is overriding below
     */
    // @include grid-context;

    /**
     * Set up a decent box model on the root element
     */
    :root {
        &[data-theme='light'] {
            --white: #fff;
            --white-rgb: 255, 255, 255;
            --dark: #2e3440;
            --dark-rgb: 46, 52, 64;
            --red: #a86464;
            --grey-100: #f6f6f6;
            --grey-100-rgb: 246, 246, 246;
            --grey-200: #eee;
            --grey-200-rgb: 238, 238, 238;
            --grey-300: #e8e8e8;
            --grey-400: #ccc;
            --grey-500: #a4a4b3;
            --black: #000;
        }

        &[data-theme='dark'] {
            --white: #2e3440;
            --white-rgb: 46, 52, 64;
            --dark: #eceff4;
            --dark-rgb: 236, 239, 244;
            --red: #c98080;
            --grey-100: #353b48;
            --grey-100-rgb: 53, 59, 72;
            --grey-200: #3b4252;
            --grey-200-rgb: 59, 66, 82;
            --grey-300: #434c5e;
            --grey-400: #4c566a;
            --grey-500: #8b919f;
            --black: #fff;
        }

        &[dir='rtl'] {
            --dir: -1;
        }

        &[dir='ltr'] {
            --dir: 1;
        }

        --immutable-black: #000;
        --immutable-white: #fff;
        --immutable-dark: #2e3440;

        // Instead grid-context
        --gap-size: #{rem(40)};
        --col-size: 9%;

        // Stadard css var
        --header-height: calc(var(--gap-size) * 2);
        --footer-height: calc(var(--gap-size) * 1.2);
        --nav-width: 100%;
        --doc-width: calc(100% - var(--gap-size));
        --left-sidebar: none;
        --right-sidebar: #{rem(290)};

        // snippet, global value for height pre-calc.
        --snippet-rem-value: #{strip-unit(rem(14))};
        --snippet-line-height-value: #{strip-unit(rem(18))};

        @include mq(tablet) {
            --left-sidebar: #{rem(200)};
            --nav-width: #{rem(340)};
        }

        @include mq(desktop) {
            --doc-width: calc(var(--col-size) * 8);
            --right-sidebar: none;
        }

        @include mq(large) {
            --doc-width: calc(var(--col-size) * 6.5);
        }

        @include mq(xlarge) {
            --doc-width: calc(var(--col-size) * 7);
            --left-sidebar: #{rem(250)};
        }
    }

    html {
        box-sizing: border-box;

        --scrollbar-color-thumb: var(--dark);
        --scrollbar-color-track: var(--white);
        --scrollbar-width: thin;
        --scrollbar-width-legacy: 10px;

        @include mq(tablet) {
            --scrollbar-color-thumb: var(--white);
            --scrollbar-color-track: var(--dark);
        }

        /* Modern browsers with `scrollbar-*` support */
        @supports (scrollbar-width: auto) {
            scrollbar-color: var(--scrollbar-color-thumb)
                var(--scrollbar-color-track);
            scrollbar-width: var(--scrollbar-width);
        }

        /* Legacy browsers with `::-webkit-scrollbar-*` support */
        @supports selector(::-webkit-scrollbar) {
            ::-webkit-scrollbar-thumb {
                background: var(--scrollbar-color-thumb);
            }

            ::-webkit-scrollbar-track {
                background: var(--scrollbar-color-track);
            }

            ::-webkit-scrollbar {
                max-block-size: var(--scrollbar-width-legacy);
                max-inline-size: var(--scrollbar-width-legacy);
            }
        }
    }

    body {
        position: relative;
        overflow-x: hidden;
        background: var(--white);

        &::after {
            content: '';
            visibility: hidden;
            position: fixed;
            block-size: 100%;
            inline-size: 100%;
            transition:
                opacity 0.55s,
                visibility 0.55s;
            opacity: 0;
            inset-block-start: 0;
            inset-inline-start: 0;

            @include noise-bg;
        }

        &[data-template='home'],
        &[data-template='template-listing'],
        &[data-template='template-animation'] {
            &::after {
                visibility: visible;
                opacity: 1;
            }
        }

        &[data-template='about'] {
            @include mq(tablet) {
                background: var(--grey-200);

                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    :is(
        a,
        button,
        input,
        textarea,
        summary,
        [role='region'],
        [tabindex='-1'],
        h1,
        h2
    ) {
        --outline-size: 2px;
        --outline-style: dashed;
        --outline-color: currentcolor;
    }

    :is(
        a,
        button,
        input,
        textarea,
        summary,
        [role='region'],
        [tabindex='-1'],
        h1,
        h2
    ):focus {
        outline: var(--outline-size) var(--outline-style) var(--outline-color);
        outline-offset: var(--outline-offset, var(--outline-size));
    }

    :is(
        a,
        button,
        input,
        textarea,
        summary,
        [role='region'],
        [tabindex='-1'],
        h1
    ):focus-visible {
        outline: var(--outline-size) var(--outline-style) var(--outline-color);
        outline-offset: var(--outline-offset, var(--outline-size));
    }

    :is(
            a,
            button,
            input,
            textarea,
            summary,
            [role='region'],
            [tabindex='-1'],
            h1,
            h2
        ):focus:not(:focus-visible) {
        outline: none;
    }

    #content {
        position: relative;
    }

    img {
        block-size: auto;
        max-inline-size: 100%;
    }

    .main-app-content {
        position: relative;
        z-index: 1;
        min-block-size: calc(
            100dvh - var(--header-height) - var(--footer-height)
        );
        padding-block-start: calc(var(--header-height));
        transition: opacity 0.55s;

        &.shift {
            opacity: 0.1;
            cursor: pointer;
        }
    }

    .container {
        margin: auto;

        @include mq(tablet) {
            padding-inline-start: var(--gap-size);
        }
    }
}

@layer override {
    :where([data-template='home']) .main-app-content {
        padding-block-start: 0;
    }

    :where([data-template='template-animation']) .main-app-content {
        padding-block-start: 0;
    }

    :where([data-template='template-animation'] .main-app-content)
        > .container {
        padding-inline-start: 0;
    }

    :where([data-template='template-doc-default'] .main-app-content) {
        overflow: clip;
    }

    :where([data-template='template-mobJs-component'] .main-app-content) {
        overflow: clip;
    }
}
