@use '../abstract' as *;

@layer base {
    :root {
        --theme-style: light;

        &[data-theme='light'] {
            --white: oklch(100% 0 0deg); // #fff
            --dark: oklch(32.4% 0.0229 264.18deg); // #2e3440
            --red: oklch(57.9% 0.0883 20.12deg); // #a86464
            --grey-100: oklch(97.3% 0 0deg); // #f6f6f6
            --grey-200: oklch(94.9% 0 0deg); // #eee
            --grey-300: oklch(93.1% 0 0deg); // #e8e8e8
            --grey-400: oklch(84.5% 0 0deg); // #ccc
            --grey-500: oklch(72.3% 0.0215 285.85deg); // #a4a4b3
            --black: oklch(0% 0 0deg); // #000
        }

        &[data-theme='dark'] {
            --white: oklch(32.4% 0.0229 264.18deg); // #2e3440
            --dark: oklch(95.1% 0.0074 260.73deg); // #eceff4
            --red: oklch(67.6% 0.0909 19.71deg); // #c98080
            --grey-100: oklch(35.2% 0.0241 265.63deg); // #353b48
            --grey-200: oklch(37.9% 0.029 266.47deg); // #3b4252
            --grey-300: oklch(41.6% 0.0324 264.13deg); // #434c5e
            --grey-400: oklch(45.2% 0.0352 264.13deg); // #4c566a
            --grey-500: oklch(65.6% 0.0219 267.19deg); // #8b919f
            --black: oklch(100% 0 0deg); // #fff
            --theme-style: dark;
        }

        --immutable-black: oklch(0% 0 0deg); // #000
        --immutable-white: oklch(100% 0 0deg); // #fff
        --immutable-dark: oklch(32.4% 0.0229 264.18deg); // #2e3440
        --immutable-grey-300: oklch(41.6% 0.0324 264.13deg); // #434c5e
        --line: color-mix(in oklch, var(--dark) 30%, transparent);
    }
}
