@use '../vars' as *;
@use '../abstract' as *;
@use '../../../node_modules/sass-mq/mq';

[data-component='header'] {
    background: $grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: var(--header-height);
}

.l-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $black;
    color: $white;
    z-index: 10;

    &__container {
        padding: 0 rem(20);
    }

    &__title,
    &__subtitle {
        color: $white;
        display: inline-block;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: var(--header-height);
        align-items: center;
    }

    &__col {
        &--dx {
            text-align: right;
        }
    }

    &__sidenav {
        list-style-type: none;

        &__item {
            display: inline-block;
        }

        &__link {
            color: $white;
            font-size: rem(14);

            @include mq.mq(desktop) {
                margin: 0 rem(10);
            }
        }
    }
}
