@use '../vars' as *;
@use '../abstract' as *;
@use '../../../node_modules/sass-mq/mq';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap';

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
html {
    line-height: 1.7em;
    color: $dark-green;
    height: 100%;

    // font-family: Cormorant Garamond, sans-serif;
    font-family: Poppins, sans-serif;

    @include font-size-map;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    margin: 0 0 0.5em;
}

body {
    font-weight: 300;
}

h1 {
    font-size: rem(50px);
    line-height: line-height(30, 37);
}

h2 {
    font-size: rem(40px);
    line-height: line-height(20, 27);
}

h3 {
    font-size: rem(30px);
    line-height: line-height(20, 27);
}

h4 {
    font-size: rem(22px);
    line-height: line-height(20, 27);
}

h5 {
    font-size: rem(18px);
    line-height: line-height(20, 27);
}

h6 {
    font-size: rem(16px);
    line-height: line-height(18, 27);
}

p {
    padding: 0;
    margin: 0 0 1em;
}

.p,
.ul {
    &--small {
        font-size: rem(14);
    }

    &--medium {
        font-size: rem(18);
    }

    &--big {
        font-size: rem(22);
    }
}

ul {
    &.hide-dots {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: $white;
}

pre,
code {
    font-size: rem(15);

    @include mq.mq('desktop') {
        font-size: rem(16);
    }
}
