@use '../vars' as *;
@use '../abstract' as *;

// @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700;900&display=swap');

@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap';

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
html {
    line-height: 1.7em;
    color: $dark-green;
    height: 100%;

    // font-family: Cormorant Garamond, sans-serif;
    font-family: Poppins, sans-serif;

    @include font-size-map;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    margin: 0;
}

body {
    font-weight: 300;
}

h1 {
    font-size: rem(30px);
    line-height: line-height(30, 37);
}

h2 {
    font-size: rem(25px);
    line-height: line-height(20, 27);
}

h3 {
    font-size: rem(20px);
    line-height: line-height(20, 27);
}

h4 {
    font-size: rem(18px);
    line-height: line-height(20, 27);
}

p {
    margin: 0;
    padding: 0;
}

.p {
    &--small {
        font-size: rem(18);
    }
}

a {
    text-decoration: none;
}

pre,
code {
    font-size: rem(16);
}
