@use '../abstract' as *;

.component {
    opacity: 0;
    transition: opacity 0.55s;

    &.active {
        opacity: 1;
    }
}

.is-highlight {
    color: $highlight;
}

.is-white {
    color: $white;
}

.is-black {
    color: $black;
}

.is-bold {
    font-weight: 500;
}

.is-grey {
    color: $grey-medium;

    span {
        color: $white;
    }
}

.is-mobile {
    @include mq('large') {
        display: none;
    }
}

.quote {
    position: relative;
    margin-inline: rem(2);
    padding: rem(2);
    font-size: 0.9em;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(#{rem(2)} * -1);
        /* stylelint-disable-next-line  declaration-block-no-redundant-longhand-properties */
        right: calc(#{rem(2)} * -1);
        background: rgba($white, 0.8);
        z-index: -1;
        border-radius: rem(4);
    }
}

.match-string {
    position: relative;
    display: inline;
    opacity: 0.5;
}
