@use '../abstract' as *;

@layer utilities {
    .u-weight-bold {
        font-weight: 600;
    }

    .u-bg-white {
        background: $white;
    }

    .u-has-overflow {
        overflow: hidden;
    }

    .u-match-string {
        display: inline;
        position: relative;
        background: rgba($white, 0.2);
    }

    .u-center-inner-svg {
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            overflow: visible;
            transform: translate(-50%, -50%);
        }
    }
}
