$background: #434953;
$white: #fff;
$blue: #d0e1e0;
$grey: #eee;
$grey-lightteen: #e8e8e8;
$grey-light: #f6f6f6;
$grey-medium-2: #ccc;
$grey-medium: #a4a4b3;
$nord-bg: #2e3440;
$nord-fg: #9cc;
$green-grey: #d7e0da;
$black: $nord-bg;
$color-contrast: #a86464;
$dot-bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2O8e/fufwYGBgZBQUEQxcCIIfDu3Tuwivfv30NUoAsAALHpFMMLqZlPAAAAAElFTkSuQmCC')
    repeat;
