$background: #505269;
$white: #fff;
$black: #000;
$blue: #d0e1e0;
$grey: #eee;
$grey-lightteen: #e8e8e8;
$grey-light: #f6f6f6;
$grey-medium-2: #ccc;
$grey-medium: #a4a4b3;
$nord-bg: #2e3440;
$nord-fg: #9cc;

// $color-contrast: #b45757;
$color-contrast: #a86464;
