/*
size: size of font for specific breakpoint.
es: 12px.

unit: unit of value: px || vw,
The default ratio of vw is the related brackpoint. 
es: px || vw.
default: px.

ratio: if used the vw falue is calculated with this ratio.
Generally the ratio value is the next brackpoint.
es: 1200.

default: Default brackpoint for rem/em conversion.
es: true.
*/
$font-map: (
    'small': (
        size: 16px,
    ),
    'tablet': (
        size: 16px,
        unit: px,
        default: true,
    ),
    'xxlarge': (
        size: 16px,
        unit: vw,
        ratio: 1980,
    ),
);
