$grid-map: (
    'xsmall': (
        size: 100,
        unit: vw,
        column: 3,
        gap: 10,
    ),
    'medium': (
        size: 600,
        unit: px,
        column: 4,
        gap: 10,
    ),
    'desktop': (
        size: 1600,
        unit: px,
        column: 10,
        gap: 20,
    ),
);

/* 
TODO: non abbigatorie value.
Add a gutter on grid/container side.
Value: 'wide' or 'wider' or 'narrow';
*/
$spread: 'wide';
