@use '../../abstract' as *;

.c-code-btn {
    border: 0;
    margin: 0;
    position: relative;
    padding: rem(5);
    background: $black;
    color: $white;
    height: var(--header-navinfo);
    width: rem(40);
    transition: transform 0.55s, background 0.55s, opacity 0.55s;
    display: none;

    @include mq('desktop') {
        display: block;
    }

    &--hightlight {
        background: $hightlight;

        svg {
            fill: $black;
        }
    }

    &--black {
        background: $black;

        svg {
            fill: $white;
        }
    }

    &--legend {
        width: var(--header-height);
        height: var(--header-height);
        position: absolute;
        bottom: var(--footer-height);
        left: 0;
        z-index: 15;
        border-top-right-radius: rem(30);
        border-bottom-left-radius: rem(30);

        @include when-inside('.shift') {
            transform: translateX(var(--nav-width));
            opacity: 0;
            pointer-events: none;
        }
    }

    &:hover {
        opacity: 0.5;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% + #{rem(2)}));
        width: rem(30);
        height: rem(23);

        /* stylelint-disable-next-line no-descending-specificity */
        svg {
            width: 100%;
            height: 100%;
        }
    }
}
