@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.c-code-btn {
    border: 0;
    margin: 0;
    position: relative;
    padding: rem(5);
    background: $dark-green;
    color: $white;
    height: var(--header-navinfo);
    width: rem(40);
    transition: transform 0.55s, background 0.55s;

    &--green {
        background: $green;
    }

    &:hover {
        background: $black;
    }

    // &:hover {
    //     .c-code-label {
    //         clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    //     }
    // }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% + #{rem(2)}));
        width: rem(30);
        height: rem(23);

        svg {
            fill: $white;
            width: 100%;
            height: 100%;
        }
    }

    // &__label {
    //     position: absolute;
    //     width: rem(120);
    //     height: var(--header-navinfo);
    //     line-height: var(--header-navinfo);
    //     left: calc(100% - 1px);
    //     top: 0;
    //     background: $green;
    //     clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    //     transition: clip-path 0.55s;
    // }
}
