@use 'sass-mq/mq';
@use '../../abstract' as *;

.c-code-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 16;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.55s, opacity 0.55s;
    pointer-events: none;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    &__scrollbar {
        position: absolute;
        bottom: rem(100);
        width: calc(100vh - var(--header-height) - #{rem(200)});
        right: rem(25);
        transform: rotate(90deg);
        transform-origin: right;
        z-index: 11;
        appearance: none;
        background: transparent;
        cursor: pointer;

        --thumb-width: #{rem(200)};

        &:focus {
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            background-color: rgba($white, 0.05);
            border-radius: 0;
            height: rem(10);
            width: rem(10);
        }

        &::-webkit-slider-thumb {
            appearance: none;
            background-color: $black;
            height: rem(10);
            width: var(--thumb-width);
        }

        &:focus::-webkit-slider-thumb {
            outline-offset: 0;
        }

        &::-moz-range-track {
            background-color: rgba($white, 0.05);
            border-radius: 0;
            height: rem(10);
        }

        &::-moz-range-thumb {
            border: none; /* Removes extra border that FF applies */
            border-radius: 0; /* Removes default border-radius that FF applies */
            background-color: $black;
            height: rem(10);
            width: var(--thumb-width);
        }

        &:focus::-moz-range-thumb {
            outline-offset: 0;
        }
    }

    &__background {
        background: rgba($black, 0.85);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &__wrap {
        width: 100%;
        max-width: rem(1000);
        background: $white;
        position: relative;
        transform: translateX(100%);
        transition: transform 0.55s;
        padding-bottom: 40px;

        @include when-inside('.active') {
            transform: translateX(0);
        }
    }

    &__header {
        display: flex;
        width: 100%;
        position: relative;
        z-index: 10;
        background: $white;
        height: var(--header-height);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: rem(2);
            background: $medium-green;
        }
    }

    &__close {
        position: absolute;
        top: calc(var(--header-height) + #{rem(10)});
        right: rem(10);
        z-index: 10;
        height: rem(40);
        width: rem(40);
        border: 0;
        background: transparent;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: rem(20);
            height: 2px;
            top: 50%;
            left: 50%;
            background: $green;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }

    &__copy {
        position: absolute;
        top: calc(var(--header-height) + #{rem(13)});
        right: rem(40);
        z-index: 10;
        height: rem(40);
        width: rem(40);
        border: 0;
        background: transparent;

        svg {
            fill: $green;
            width: rem(20);
            height: rem(20);
        }
    }

    &__button {
        flex: 1;
        width: 100%;
        height: var(--header-height);
        margin: 0;
        background: $white;
        border: 0;
        border-right: 1px $grey solid;
        color: $dark-green;
        transition: background 0.35s, color 0.35s;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: rem(15);
            background: $green;
            transform: translateY(100%);
            transition: transform 0.35s;
        }

        &:last-of-type {
            border-right: 0;
        }

        &:hover,
        &.selected {
            &::after {
                transform: translateY(0);
            }
        }

        &.disable {
            opacity: 0.2;
            pointer-events: none;
        }
    }

    &__content {
        width: 100%;
        height: calc(100vh - var(--header-height));
        border: 1px $dark-green solid;
        background: $grey-blue-medium;
        color: $white;
        line-height: 1.4;
        font-size: rem(15);

        pre,
        &__description {
            // min-height: calc(100vh - var(--header-height));
            padding: rem(40);
            margin: 0;
            cursor: pointer;
        }

        &__code,
        &__description {
            display: block;

            &.hide {
                display: none;
            }
        }
    }
}
