@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.c-code-btn {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;

    &--primary {
        background: rgba($grey, 0.8);
        padding: rem(5);
    }
}
