@use '../../abstract' as *;

@layer layout {
    @scope (.c-sidebar-links) {
        :scope {
            --links-height: 54vh;

            position: fixed;
            z-index: 14;
            block-size: var(--links-height);
            inline-size: rem(300);
            transform: translateX(var(--gap-size));
            inset-block-start: calc(var(--header-height) + var(--gap-size) * 2);
            inset-inline-start: calc(var(--doc-width) + (var(--gap-size) / 2));
            border-block-start: 1px var(--grey-300) solid;
            border-block-end: 1px var(--grey-300) solid;
            pointer-events: none;

            @include mq(large) {
                inset-inline-start: calc(
                    /* stylelint-disable-next-line  scss/operator-no-newline-after */
                        /* stylelint-disable-next-line  scss/operator-no-newline-after */
                        var(--doc-width) + var(--left-sidebar) +
                        (var(--gap-size) / 2)
                );
            }

            &.visible {
                @include mq($until: desktop) {
                    transform: translateX(-100%);
                    transition: transform 0.35s;
                    pointer-events: all;
                }
            }

            &.hide {
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }

            &.shift {
                opacity: 0.1;
                pointer-events: none;
            }

            @include mq(desktop) {
                inline-size: 100%;
                transform: translateX(0);
                pointer-events: all;
            }
        }

        .screen {
            visibility: visible;
            position: absolute;
            block-size: 100%;
            inline-size: 100%;
            overflow: hidden;
            transition:
                transform 0.55s,
                opacity 0.55s,
                visibility 0.55s;
            opacity: 1;
            inset-block-start: 0;
            inset-inline-start: 0;
        }

        ul {
            min-block-size: var(--links-height);
            margin: 0;
            padding-block-end: rem(100);
            padding-inline-start: rem(32);
            list-style: none;

            @media screen and (height <= 825px) {
                margin-block-start: calc(#{rem(10)} * -1);
            }

            // Performance on scroll
            &.is-whelling {
                li,
                p {
                    pointer-events: none;
                }
            }
        }

        li {
            max-inline-size: rem(170);
        }

        button {
            display: block;
            position: relative;
            padding-inline: rem(4);
            transition: color 0.35s;
            border: 0;
            outline-offset: 0;
            background: transparent;
            font-size: rem(14);
            line-height: 1.6;
            text-transform: capitalize;

            &::after {
                content: '';
                position: absolute;
                block-size: em(15);
                inline-size: rem(4);
                transform: translateY(-50%);
                transition: opacity 0.35s;
                opacity: 0;
                background: var(--dark);
                inset-block-start: 50%;
                inset-inline-start: calc(#{rem(20)} * -1);
            }

            @media screen and (height >= 200px) and (height <= 750px) {
                font-size: rem(11);
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }

        .current {
            font-weight: 600;

            &::after {
                opacity: 1;
            }
        }

        .label {
            margin-block: calc(var(--gap-size) / 2) rem(5);
            padding-inline-start: rem(4);
            font-size: rem(13);
            font-weight: 600;
            line-height: 1.2;
            text-transform: uppercase;

            @media screen and (height >= 200px) and (height <= 750px) {
                font-size: rem(11);
            }
        }

        .scrollbar {
            position: absolute;
            z-index: 11;
            inset-block-start: rem(25);
            inset-inline-start: rem(240);
            inline-size: calc(var(--links-height) - #{rem(60)});
            transform: rotate(90deg);
            transform-origin: left;
            background: transparent;
            cursor: pointer;
            appearance: none;

            @include when-inside('[dir="rtl"]') {
                transform: rotate(-90deg);
                transform-origin: right;
            }

            --thumb-width: #{rem(200)};

            &.hide-scrollbar {
                opacity: 0;
            }

            &:focus {
                outline: none;
            }

            &::-webkit-slider-runnable-track {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border-radius: rem(10);
                background-color: var(--grey-100);
            }

            &::-webkit-slider-thumb {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border-radius: rem(10);
                background-color: var(--dark);
                appearance: none;
            }

            &:focus::-webkit-slider-thumb {
                border-radius: rem(10);
                outline-offset: 0;
            }

            &::-moz-range-track {
                block-size: rem(10);
                border-radius: rem(10);
                background-color: var(--grey-100);
            }

            &::-moz-range-thumb {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border: none; /* Removes extra border that FF applies */ /* Removes default border-radius that FF applies */
                border-radius: rem(10);
                background-color: var(--dark);
            }

            &:focus::-moz-range-thumb {
                border-radius: rem(10);
                outline-offset: 0;
            }
        }
    }
}

@layer override {
    [dir='rtl'] :where(.c-sidebar-links) {
        transform: translateX(calc(var(--gap-size) * -1));

        &.visible {
            @include mq($until: desktop) {
                transform: translateX(100%);
            }
        }

        :where(.scrollbar) {
            transform: rotate(-90deg);
            transform-origin: right;
        }
    }
}
