$white: #fff;
$black: #000;
$grey-light: #f6f6f6;
$grey: #eee;
$grey-blue: #5b5b67;
$grey-medium: #ccc;
$grey-medium-2: #7c7c8b;
$orange: #ffb700;
$green: #9ece6a;
$medium-green: #84af56;
$dark-green: #1a1b26;
