@use '../../abstract' as *;

@layer layout {
    @scope (.c-btn-debug) {
        :scope {
            margin: 0;
        }
    }
}

@layer override {
    .is-debug-open-button {
        display: none;

        @include mq(desktop) {
            display: block;
        }
    }
}
