@use '../../abstract' as *;

.c-btn-debug {
    background: transparent;
    padding: rem(5) rem(30);
    border-radius: rem(20);
    text-decoration: none;
    color: $black;
    text-align: center;
    transition: background 0.35s;
    font-size: rem(14);
    margin: 0;
    border: 1px $black solid;
    margin-right: rem(10);
    display: block;

    &:hover {
        background: $black;
        color: $white;
    }
}
