@use '../../abstract' as *;

.c-btn-debug {
    display: block;
    margin: 0;
    margin-right: rem(10);
    padding: rem(5) rem(30);
    transition: background 0.35s;
    border: 1px $white solid;
    border-radius: rem(20);
    background: transparent;
    color: $white;
    font-size: rem(14);
    text-align: center;
    text-decoration: none;

    @include when-inside('[data-template="about"]') {
        border: 1px $white solid;
        color: $white;
    }

    &:hover {
        background: $white;
        color: $black;
    }
}
