@use '../../abstract' as *;

.c-debug-filter-list-item {
    color: $white;
    font-size: rem(12);
    padding-left: rem(20);

    &__id {
        font-weight: 600;
        opacity: 0.8;
    }

    &__expand {
        background: transparent;
        border: 0;
        font-size: rem(10);
        transition: opacity 0.35s;

        &:focus {
            outline: none;
        }

        @include on-event {
            opacity: 0.3;
        }
    }
}
