@use '../../abstract' as *;

.c-debug-filter-head {
    display: grid;
    grid-template-areas: 'title input submit';

    &__title {
        grid-area: title;
        margin-right: calc(var(--gap-size) / 2);
        font-size: rem(14);
        font-weight: 600;
    }

    &__input {
        grid-area: input;
        width: rem(150);
        margin-right: rem(5);
        border: 1px $white solid;
        background: transparent;
        font-size: rem(12);
    }

    &__button {
        display: inline-block;
        grid-area: submit;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-inline: calc(var(--gap-size) / 2);
        transition:
            background 0.35s,
            color 0.35s;
        border: 1px $white solid;
        background: transparent;
        font-size: rem(12);
        line-height: 1.7;

        @include on-event {
            background: $white;
            color: $black;
        }
    }
}
