@use '../../abstract' as *;

.c-debug-filter-list {
    &__list {
        position: absolute;
        inset: var(--debug-list-header-height) 0 0;
        overflow: hidden;
    }

    &__scroller {
        min-height: 100%;
        padding-top: calc(var(--gap-size) / 2);
        padding-bottom: calc(var(--gap-size) / 2);
    }

    &__scrollbar {
        position: absolute;
        z-index: 14;
        top: 1vh;
        left: calc(100% - #{rem(20)});
        width: 32vh;
        transform: rotate(90deg);
        transform-origin: left;
        background: transparent;
        cursor: pointer;
        appearance: none;

        --thumb-width: #{rem(200)};

        &.hide-scrollbar {
            opacity: 0;
        }

        &:focus {
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            width: var(--thumb-width);
            height: rem(10);
            border-radius: 0;
            background-color: rgba($grey, 0.3);
        }

        &::-webkit-slider-thumb {
            width: var(--thumb-width);
            height: rem(10);
            background-color: $white;
            appearance: none;
        }

        &:focus::-webkit-slider-thumb {
            outline-offset: 0;
        }

        &::-moz-range-track {
            height: rem(10);
            border-radius: 0;
            background-color: rgba($grey, 0.3);
        }

        &::-moz-range-thumb {
            width: var(--thumb-width);
            height: rem(10);
            border: none; /* Removes extra border that FF applies */
            border-radius: 0; /* Removes default border-radius that FF applies */
            background-color: $white;
        }

        &:focus::-moz-range-thumb {
            outline-offset: 0;
        }
    }

    &__status {
        display: none;
        position: absolute;
        right: calc(var(--gap-size) / 2);
        bottom: rem(15);
        margin-top: calc(var(--gap-size) / 2);
        padding: rem(5) rem(10);
        border: 1px $white solid;
        background: rgba($black, 0.5);
        color: $white;
        font-size: rem(12);

        &.visible {
            display: block;
        }
    }
}
