@use '../../abstract' as *;

@layer layout {
    @scope (.c-debug-filter-list-item) {
        :scope {
            display: flex;
            position: relative;
            padding-inline-start: calc(var(--gap-size) / 2);
            color: var(--dark);

            &::after {
                content: '';
                display: none;
                position: absolute;
                inset-block: 0;
                inset-inline-start: 0;
                inline-size: rem(5);
                background: var(--dark);
            }
        }

        .id {
            opacity: 0.8;
            font-weight: 600;
        }

        .expand {
            margin-inline-start: rem(5);
            padding: 0 rem(6);
            transition: background 0.35s;
            border: 0;
            border-radius: rem(4);
            background: var(--grey-200);
            font-size: rem(10);
            line-height: 1.8;
            vertical-align: middle;
            cursor: pointer;

            @include on-event {
                outline-color: var(--dark);
                background: var(--grey-400);
            }

            &.active {
                opacity: 1;
                background: var(--dark);
                color: var(--white);
            }
        }

        .selected {
            display: none;
            block-size: rem(10);
            inline-size: rem(10);
            margin-inline-start: rem(5);
            border-radius: 100%;
            background: var(--dark);

            &.active {
                display: inline-block;
            }
        }
    }
}

@layer override {
    :where(.is-whelling) .c-debug-filter-list-item {
        pointer-events: none;
    }
}
