@use '../../abstract' as *;

@layer layout {
    @scope (.c-debug-component) {
        .screen {
            position: absolute;
            overflow: hidden;
            color: var(--dark);
            inset: 0;
            font-size: rem(12);
        }

        .id-code {
            display: inline-block;
            margin-inline-start: rem(4);
            padding: 0 rem(6);
            border-radius: rem(4);
            line-height: 1.8;
        }

        .debug-container {
            min-block-size: 100%;
            padding-block: rem(14) rem(20);
            padding-inline: rem(20);
        }

        .section-title {
            margin-block: rem(20) rem(10);
            margin-inline-end: rem(20);
            padding-block-start: rem(10);
            border-block-start: 1px var(--grey-300) solid;
        }

        .section-subtitle {
            margin-block: rem(20) rem(10);
            margin-inline-end: rem(20);
            padding-block-start: rem(10);
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin-inline-start: 0;
            list-style-type: none;
        }

        .child,
        .parent-id-code {
            margin-block-end: rem(4);
            margin-inline-start: rem(10);
            padding: 0 rem(6);
            transition: opacity 0.35s;
            border: 0;
            border-radius: rem(4);
            background: var(--grey-200);

            @include on-event {
                outline-color: var(--dark);
                background: var(--grey-400);
            }
        }

        .back-block {
            margin-block-end: rem(22);
        }

        .back {
            display: inline-block;
            padding-inline: rem(10);
            transition:
                background 0.35s,
                color 0.35s;
            border: 1px var(--dark) solid;
            opacity: 0.2;
            background: transparent;
            pointer-events: none;

            &.active {
                opacity: 1;
                pointer-events: all;
            }

            @include on-event {
                outline-color: var(--dark);
                background: var(--dark);
                color: var(--white);
            }
        }

        .scrollbar {
            position: absolute;
            z-index: 14;
            inset-block-start: rem(20);
            inset-inline-start: calc(100% - #{rem(20)});
            inline-size: calc(var(--debug-content-row-height) - #{rem(60)});
            transform: rotate(calc(90deg * var(--dir)));
            transform-origin: left;
            background: transparent;
            cursor: pointer;
            appearance: none;

            --thumb-width: #{rem(200)};

            &.hide-scrollbar {
                opacity: 0;
            }

            &:focus {
                outline: none;
            }

            &::-webkit-slider-runnable-track {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border-radius: rem(10);
                background-color: var(--grey-100);
            }

            &::-webkit-slider-thumb {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border-radius: rem(10);
                background-color: var(--dark);
                appearance: none;
            }

            &:focus::-webkit-slider-thumb {
                border-radius: rem(10);
                outline-offset: 0;
            }

            &::-moz-range-track {
                block-size: rem(10);
                border-radius: rem(10);
                background-color: var(--grey-100);
            }

            &::-moz-range-thumb {
                block-size: rem(10);
                inline-size: var(--thumb-width);
                border: none; /* Removes extra border that FF applies */
                border-radius: rem(10);
                background-color: var(--dark);
            }

            &:focus::-moz-range-thumb {
                outline-offset: 0;
            }
        }
    }
}

@layer override {
    [dir='rtl'] :where(.c-debug-component .scrollbar) {
        transform-origin: right;
    }
}
