@use '../../abstract' as *;

@layer layout {
    @scope (.c-debug-component) {
        :scope {
            position: absolute;
            overflow: hidden;
            color: var(--white);
            font-size: rem(12);
            inset: 0;
        }

        .id-code {
            display: inline-block;
            margin-left: rem(4);
            padding: 0 rem(6);
            border-radius: rem(4);
            line-height: 1.8;
        }

        .debug-container {
            min-height: 100%;
            padding: rem(60) rem(20) rem(20);
        }

        .section-title {
            margin-top: rem(20);
            margin-right: rem(20);
            margin-bottom: rem(10);
            padding-top: rem(10);
            border-top: 1px rgba(var(--white-rgb), 0.2) solid;
            font-size: rem(14);
        }

        .section-subtitle {
            margin-top: rem(20);
            margin-right: rem(20);
            margin-bottom: rem(10);
            padding-top: rem(10);
            font-size: rem(12);
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin-left: 0;
            list-style-type: none;
        }

        .child,
        .parent-id-code {
            margin-bottom: rem(4);
            margin-left: rem(4);
            padding: 0 rem(6);
            transition: opacity 0.35s;
            border: 0;
            border-radius: rem(4);
            background: rgba(var(--white-rgb), 0.1);

            &:hover {
                opacity: 0.5;
            }
        }

        .back-block {
            display: flex;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            left: 0;
            align-items: center;
            justify-content: space-between;
            height: var(--debug-list-header-height);
            padding-left: rem(20);
            border-bottom: 1px rgba(var(--white-rgb), 0.2) solid;
            background: rgba(var(--dark-rgb), 0.9);
        }

        .back {
            display: inline-block;
            padding-inline: rem(10);
            transition:
                background 0.35s,
                color 0.35s;
            border: 1px var(--white) solid;
            opacity: 0.2;
            background: transparent;
            font-size: rem(12);
            pointer-events: none;

            &.active {
                opacity: 1;
                pointer-events: all;
            }

            &:hover {
                background: var(--white);
                color: var(--dark);
            }
        }
    }
}

// Safari issue
.c-debug-component .scrollbar {
    position: absolute;
    z-index: 14;
    top: rem(60);
    left: calc(100% - #{rem(20)});
    width: calc(var(--debug-content-row-height) - #{rem(80)});
    transform: rotate(90deg);
    transform-origin: left;
    background: transparent;
    cursor: pointer;
    appearance: none;

    --thumb-width: #{rem(200)};

    &.hide-scrollbar {
        opacity: 0;
    }

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        width: var(--thumb-width);
        height: rem(10);
        border-radius: 0;
        background-color: rgba(var(--grey-200-rgb), 0.3);
    }

    &::-webkit-slider-thumb {
        width: var(--thumb-width);
        height: rem(10);
        background-color: var(--white);
        appearance: none;
    }

    &:focus::-webkit-slider-thumb {
        outline-offset: 0;
    }

    &::-moz-range-track {
        height: rem(10);
        border-radius: 0;
        background-color: rgba(var(--grey-200-rgb), 0.3);
    }

    &::-moz-range-thumb {
        width: var(--thumb-width);
        height: rem(10);
        border: none; /* Removes extra border that FF applies */
        border-radius: 0; /* Removes default border-radius that FF applies */
        background-color: var(--white);
    }

    &:focus::-moz-range-thumb {
        outline-offset: 0;
    }
}
