@use '../../abstract' as *;

@layer layout {
    @scope (.c-debug-head) {
        :scope {
            display: flex;
            height: 100%;
            padding-top: calc(var(--gap-size) / 2);
            color: var(--dark);
            font-size: rem(12);
        }

        .general,
        .search {
            flex: 0 0 50%;
        }

        .general {
            padding-left: var(--gap-size);
        }

        .search {
            padding-left: calc(var(--gap-size) / 2);
        }
    }
}
