@use '../../abstract' as *;

@layer layout {
    @scope (.c-debug-filter-head) {
        :scope {
            display: grid;
            grid-template-areas: 'title input submit';
        }

        .title {
            grid-area: title;
            margin-inline-end: calc(var(--gap-size) / 2);
            font-size: rem(14);
            font-weight: 600;
        }

        label {
            margin: 0;
            font-family: 'Fira Sans', sans-serif;
        }

        button {
            display: inline-block;
            grid-area: submit;
            margin: 0;
            padding-block: 0;
            padding-inline: calc(var(--gap-size) / 2);
            transition:
                background 0.35s,
                color 0.35s;
            border: 1px var(--dark) solid;
            background: transparent;
            font-size: rem(12);
            line-height: 1.7;

            @include on-event {
                outline-color: var(--dark);
                background: var(--dark);
                color: var(--white);
            }
        }
    }
}

// Safari issue
.c-debug-filter-head input {
    grid-area: input;
    inline-size: rem(150);
    margin-inline-end: rem(5);
    padding-inline-start: rem(5);
    border: 1px var(--dark) solid;
    background: transparent;
    font-size: rem(12);
}
