@use '../../abstract' as *;

.c-debug-component {
    position: absolute;
    overflow: hidden;
    color: $white;
    font-size: rem(12);
    inset: 0;

    &__container {
        min-height: 100%;
        padding: rem(20);
    }

    &__section-title {
        margin-top: rem(20);
        margin-right: rem(20);
        margin-bottom: rem(10);
        padding-top: rem(10);
        border-top: 1px rgba($white, 0.2) solid;
        font-size: rem(14);
    }

    &__section-subtitle {
        margin-top: rem(20);
        margin-right: rem(20);
        margin-bottom: rem(10);
        padding-top: rem(10);
        font-size: rem(12);
    }

    &__scrollbar {
        position: absolute;
        z-index: 14;
        top: 1vh;
        left: calc(100% - #{rem(20)});
        width: 37vh;
        transform: rotate(90deg);
        transform-origin: left;
        background: transparent;
        cursor: pointer;
        appearance: none;

        --thumb-width: #{rem(200)};

        &.hide-scrollbar {
            opacity: 0;
        }

        &:focus {
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            width: var(--thumb-width);
            height: rem(10);
            border-radius: 0;
            background-color: rgba($grey, 0.3);
        }

        &::-webkit-slider-thumb {
            width: var(--thumb-width);
            height: rem(10);
            background-color: $white;
            appearance: none;
        }

        &:focus::-webkit-slider-thumb {
            outline-offset: 0;
        }

        &::-moz-range-track {
            height: rem(10);
            border-radius: 0;
            background-color: rgba($grey, 0.3);
        }

        &::-moz-range-thumb {
            width: var(--thumb-width);
            height: rem(10);
            border: none; /* Removes extra border that FF applies */
            border-radius: 0; /* Removes default border-radius that FF applies */
            background-color: $white;
        }

        &:focus::-moz-range-thumb {
            outline-offset: 0;
        }
    }
}
