@use '../../abstract' as *;

@layer layout {
    @scope (.c-debug-search) {
        :scope {
            color: var(--dark);
        }

        .label {
            display: inline-block;
            min-inline-size: rem(200);
            margin: 0;
            font-family: 'Fira Sans', sans-serif;
        }

        button {
            display: inline-block;
            block-size: rem(22);
            margin: 0;
            padding-block: 0;
            padding-inline: calc(var(--gap-size) / 2);
            transition:
                background 0.35s,
                color 0.35s;
            border: 1px var(--dark) solid;
            background: transparent;
            line-height: 1.7;
            vertical-align: middle;

            @include on-event {
                outline-color: var(--dark);
                background: var(--dark);
                color: var(--white);
            }
        }
    }
}

// Safari issue
.c-debug-search input {
    block-size: rem(22);
    inline-size: rem(100);
    margin-inline-end: rem(5);
    padding-inline-start: rem(5);
    border: 1px var(--dark) solid;
    background: transparent;
    vertical-align: middle;

    @include mq(large) {
        inline-size: rem(150);
    }
}
