@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.c-btn-debug {
    border: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 100%;
    background: $green;
    width: var(--header-height);
    height: var(--header-height);
    padding: rem(5);
    color: $white;
}
