@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.c-btn-debug {
    border: 0;
    margin: 0;
    position: absolute;
    right: rem(20);
    bottom: calc(100% + #{rem(10)});
    background: transparent;
    color: $white;
    transition: opacity 0.55s;
    display: none;
    opacity: 0.3;

    @include mq.mq('desktop') {
        display: block;
    }

    &:hover {
        opacity: 0.2;
    }
}
