@use '../../abstract' as *;

.c-debug-overlay {
    display: flex;
    visibility: hidden;
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition:
        opacity 0.35s,
        visibility 0.35s;
    opacity: 0;
    pointer-events: none;

    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

    &__background {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: 0;
        background: rgba($black, 0.98);

        &:focus {
            outline: none;
        }
    }

    &__close {
        position: absolute;
        z-index: 10;
        top: rem(20);
        right: rem(10);
        width: var(--gap-size);
        height: var(--gap-size);
        border: 0;
        background: transparent;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(var(--gap-size) / 2);
            height: 2px;
            background: $white;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }

    &__grid {
        display: grid;
        position: relative;
        grid-template-areas:
            'head head'
            'list component';
        grid-template-columns: repeat(2, 1fr);
        /* stylelint-disable-next-line  declaration-block-no-redundant-longhand-properties */
        grid-template-rows: rem(140) 40vh;
        width: 100%;
        max-width: 80%;
        border: 1px $white solid;
    }

    &__log {
        display: inline-block;
        position: absolute;
        top: calc(100% + rem(5));
        right: -1px;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-inline: calc(var(--gap-size) / 2);
        transition:
            background 0.35s,
            color 0.35s;
        border: 1px $white solid;
        background: transparent;
        color: $white;
        font-size: rem(14);
        line-height: 1.7;

        @include on-event {
            background: $white;
            color: $black;
        }
    }

    &__head {
        grid-area: head;
        border-bottom: 1px $white solid;
    }

    &__list {
        --debug-list-header-height: #{rem(50)};

        position: relative;
        grid-area: list;
        border-right: 1px $white solid;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: var(--debug-list-header-height);
            padding-right: rem(15);
            padding-left: rem(40);
            border-bottom: 1px rgba($white, 0.2) solid;
            color: $white;
            font-size: rem(16);
        }

        &__title {
            font-size: rem(14);
            font-weight: 600;
        }

        &__toggle {
            display: inline-block;
            border: 1px $white solid;
            background: transparent;
            font-size: rem(12);

            &:nth-of-type(1) {
                margin-right: rem(5);
            }

            &.active {
                background: $white;
                color: $black;
            }
        }
    }

    &__component {
        position: relative;
        grid-area: component;
    }
}
