@use '../../abstract' as *;

.c-debug-tree {
    --tree-header-height: #{rem(50)};

    &__list {
        position: absolute;
        inset: var(--tree-header-height) 0 0;
        overflow: hidden;
    }

    &__header {
        color: $white;
        padding-left: rem(40);
        height: var(--tree-header-height);
        font-size: rem(16);
        border-bottom: 1px rgba($white, 0.2) solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__scroller {
        padding-top: rem(15);
        padding-bottom: rem(15);
    }

    &__scrollbar {
        position: absolute;
        top: 1vh;
        width: 32vh;
        left: calc(100% - #{rem(20)});
        transform: rotate(90deg);
        transform-origin: left;
        z-index: 14;
        appearance: none;
        background: transparent;
        cursor: pointer;

        --thumb-width: #{rem(200)};

        &:focus {
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            background-color: rgba($grey, 0.3);
            border-radius: 0;
            height: rem(10);
            width: var(--thumb-width);
        }

        &::-webkit-slider-thumb {
            appearance: none;
            background-color: $white;
            height: rem(10);
            width: var(--thumb-width);
        }

        &:focus::-webkit-slider-thumb {
            outline-offset: 0;
        }

        &::-moz-range-track {
            background-color: rgba($grey, 0.3);
            border-radius: 0;
            height: rem(10);
        }

        &::-moz-range-thumb {
            border: none; /* Removes extra border that FF applies */
            border-radius: 0; /* Removes default border-radius that FF applies */
            background-color: $white;
            height: rem(10);
            width: var(--thumb-width);
        }

        &:focus::-moz-range-thumb {
            outline-offset: 0;
        }
    }
}
