@use '../../abstract' as *;

@layer layout {
    @scope (.c-debug-tree) {
        .tree-list {
            position: absolute;
            overflow: hidden;
            outline-color: var(--dark);
            inset: var(--debug-list-header-height) 0 0;
        }

        .scollable-element {
            min-height: 100%;
            margin-left: 0;
            padding-top: calc(var(--gap-size) / 2);
            padding-bottom: calc(var(--gap-size) / 2);
        }

        ul {
            margin-bottom: 0;
        }

        .status {
            display: none;
            position: absolute;
            right: calc(var(--gap-size) / 2);
            bottom: rem(15);
            margin-top: calc(var(--gap-size) / 2);
            padding: rem(5) rem(10);
            background: var(--dark);
            color: var(--white);
            font-size: rem(12);

            &.visible {
                display: block;
            }
        }
    }
}

// Safari issue
.c-debug-tree .scrollbar {
    position: absolute;
    z-index: 14;
    top: rem(56);
    left: calc(100% - #{rem(20)});
    width: calc(var(--debug-content-row-height) - #{rem(80)});
    transform: rotate(90deg);
    transform-origin: left;
    background: transparent;
    cursor: pointer;
    appearance: none;

    --thumb-width: #{rem(200)};

    &.hide-scrollbar {
        opacity: 0;
    }

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        width: var(--thumb-width);
        height: rem(10);
        border-radius: 0;
        background-color: var(--grey-100);
    }

    &::-webkit-slider-thumb {
        width: var(--thumb-width);
        height: rem(10);
        background-color: var(--dark);
        appearance: none;
    }

    &:focus::-webkit-slider-thumb {
        outline-offset: 0;
    }

    &::-moz-range-track {
        height: rem(10);
        border-radius: 0;
        background-color: var(--grey-100);
    }

    &::-moz-range-thumb {
        width: var(--thumb-width);
        height: rem(10);
        border: none; /* Removes extra border that FF applies */
        border-radius: 0; /* Removes default border-radius that FF applies */
        background-color: var(--dark);
    }

    &:focus::-moz-range-thumb {
        outline-offset: 0;
    }
}
