@use '../../abstract' as *;

.c-debug-tree-item {
    position: relative;
    padding-left: rem(40);
    color: $white;
    font-size: rem(12);

    // Performance on scroll
    @include when-inside('.is-whelling') {
        pointer-events: none;
    }

    &__head {
        &.has-children {
            position: relative;
            cursor: pointer;

            &::before {
                content: '[ + ]';
                position: absolute;
                top: 50%;
                left: calc(#{rem(30)} * -1);
                transform: translateY(-50%);
                font-size: rem(10);
            }

            &.has-children-selected {
                &::before {
                    font-weight: 800;
                }
            }

            &.open {
                &::before {
                    content: '[ - ]';
                }
            }
        }
    }

    &__id {
        opacity: 0.8;
        font-weight: 600;
    }

    &__expand {
        transition: opacity 0.35s;
        border: 0;
        background: transparent;
        font-size: rem(10);

        &:focus {
            outline: none;
        }

        @include on-event {
            opacity: 0.3;
        }
    }

    &__instance {
        margin-right: rem(5);
    }

    &__selected {
        display: none;
        width: rem(10);
        height: rem(10);
        border-radius: 100%;
        background: $white;

        &.active {
            display: inline-block;
        }
    }
}
