@use '../../abstract' as *;

.c-debug-tree-item {
    color: $white;
    font-size: rem(12);
    padding-left: rem(40);

    &__head {
        &.has-children {
            cursor: pointer;
            position: relative;

            &::before {
                content: '[ + ]';
                position: absolute;
                left: calc(#{rem(30)} * -1);
                top: 50%;
                transform: translateY(-50%);
                font-size: rem(10);
            }

            &.open {
                &::before {
                    content: '[ - ]';
                }
            }
        }
    }

    &__id {
        font-weight: 600;
        opacity: 0.8;
    }

    &__expand {
        background: transparent;
        border: 0;
        font-size: rem(10);
        transition: opacity 0.35s;

        &:focus {
            outline: none;
        }

        @include on-event {
            opacity: 0.3;
        }
    }
}
