@use '../../abstract' as *;

.c-debug-tree-item {
    color: $white;
    font-size: rem(12);
    padding-left: rem(30);

    &__head {
        &.has-children {
            cursor: pointer;
            position: relative;

            &::before {
                content: '+';
                position: absolute;
                left: calc(#{rem(20)} * -1);
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__id {
        font-weight: 600;
        opacity: 0.8;
    }
}
