@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.dynamic-list {
    border: 0;
    color: $dark-green;
    margin-top: rem(30);
    padding: rem(20);
    padding-bottom: rem(50);
    display: flex;
    flex-wrap: wrap;
    width: rem(800);
    background: #ccc;

    &__top,
    &__label {
        flex: 100%;
    }

    &__top,
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 2px;
    }

    &__list {
        border-top: 5px $black solid;
        border-bottom: 5px $black solid;
        margin-bottom: rem(30);
    }

    &__btn {
        flex: 1;
        background: transparent;
        border: 1px $grey solid;
    }
}
