@use 'sass-mq/mq';
@use '../../abstract' as *;

.dynamic-slot {
    background: $black;
    padding: rem(30);
    border-radius: rem(20);
    margin: rem(20) 0;

    &__label {
        color: $white;
        font-size: rem(14);
        margin: rem(20) 0;
    }
}
