@use '../../vars' as *;
@use '../../abstract' as *;
@use '../../../../node_modules/sass-mq/mq';

.dynamic-list-button {
    flex: 1;
    background: $green;
    border: 0;
    border-radius: rem(30);
    transition: opacity 0.55s, background 0.55s;
    max-width: rem(200);

    &:hover {
        opacity: 0.5;
    }

    &.active {
        background: $white;
    }
}
