@use '../../abstract' as *;

.c-doc-title-small {
    margin-top: rem(15);
    padding-left: rem(40);
    color: $black;
    margin-bottom: rem(20);
    font-size: rem(18);
    font-weight: 500;

    a {
        color: $black;
        transition: opacity 0.35s;
        position: relative;

        &::after {
            content: '';
            left: 0;
            height: 2px;
            width: 100%;
            background: $black;
            position: absolute;
            bottom: calc(#{rem(4)} * -1);
            opacity: 0.2;
            transition: opacity 0.35s;
        }

        &:hover {
            color: $black;

            &::after {
                opacity: 1;
            }
        }
    }

    span {
        color: $black;
    }
}
