@use 'sass-mq/mq';
@use '../../variables' as *;
@use '../../abstract' as *;

.c-doc-title-small {
    margin-top: rem(15);
    padding-left: rem(40);
    color: $green;
    margin-bottom: rem(20);
    font-size: rem(18);
    font-weight: 500;

    a {
        color: $green;
        transition: opacity 0.35s;

        &:hover {
            opacity: 0.3;
        }
    }

    span {
        color: $white;
    }
}
