@use '../../abstract' as *;

.c-doc-title-small {
    margin-top: rem(15);
    padding-left: rem(40);
    color: $black;
    margin-bottom: rem(20);
    font-size: rem(14);
    font-weight: 500;

    a {
        color: $black;
        transition:
            background 0.35s,
            color 0.35s;
        position: relative;
        background: $white;
        padding: em(2) em(10);
        border-radius: em(20);
        margin-right: rem(5);

        &:hover {
            background: $black;
            color: $white;

            &::after {
                opacity: 1;
            }
        }
    }

    span {
        color: $black;
        transition: opacity 0.35s;
        position: relative;
        background: rgba($white, 0.4);
        padding: em(2) em(10);
        border-radius: em(20);
    }
}
