@use '../../abstract' as *;

.anchor-button {
    padding: rem(5) rem(10);
    margin-bottom: rem(10);
    margin-right: rem(10);
    display: inline-block;
    text-decoration: none;
    min-width: rem(200);
    color: $black;
    text-align: center;
    transition: background 0.35s;
    font-size: rem(14);
    background: transparent;
    border: 1px $black solid;
    position: relative;

    @include when-inside('.c-code-overlay') {
        background: $black;
        color: $white;
    }

    &:hover {
        background: $black;
        color: $white;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        width: 10px;
        height: 10px;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid $black;
        rotate: -45deg;
        transform-origin: top left;
    }
}
