@use '../../../vars' as *;
@use '../../../abstract' as *;
@use '../../../../../node_modules/sass-mq/mq';

.canvas-scroller {
    position: relative;
    height: 500vh;
    pointer-events: none;
}

.canvas-scroller-title {
    position: fixed;
    top: rem(5);
    left: 50%;
    transform: translate(-50%, +50%);
    text-align: center;
    z-index: 15;

    h1 {
        text-transform: capitalize;
        font-size: rem(25);
        color: $white;
        font-weight: 600;
    }
}
