@use '../../abstract' as *;

.c-scroll-to {
    color: $white;
    margin-left: rem(40);

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        @media screen and (height <= 825px) {
            margin-top: calc(#{rem(10)} * -1);
        }
    }

    li {
        margin-bottom: 0;
    }

    button {
        background: transparent;
        border: 0;
        transition: opacity 0.55s;
        font-size: rem(15);
        position: relative;
        display: block;
        padding: 0;

        span {
            transition: transform 0.55s;
            display: block;

            @media screen and (height >= 200px) and (height <= 750px) {
                font-size: 11px;
                line-height: 1.7;
            }

            @media screen and (height >= 750px) and (height <= 825px) {
                font-size: 13px;
                line-height: 1.7;
            }
        }

        &:hover,
        &.active {
            color: $black;
        }
    }
}
