@use '../../abstract' as *;

.c-scroll-to {
    color: $black;
    margin-left: rem(40);

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        @media screen and (height <= 825px) {
            margin-top: calc(#{rem(10)} * -1);
        }
    }

    li {
        margin-bottom: 0;
    }

    button {
        background: transparent;
        border: 0;
        transition: opacity 0.55s;
        position: relative;
        display: block;
        padding: 0;
        font-size: rem(13);
        line-height: 1.6;

        &::after {
            content: '';
            top: 50%;
            transform: translateY(-50%);
            left: calc(#{rem(20)} * -1);
            height: em(15);
            width: 4px;
            background: $white;
            position: absolute;
            opacity: 0;
            transition: opacity 0.35s;
        }

        span {
            transition: transform 0.55s;
            display: block;

            @media screen and (height >= 200px) and (height <= 750px) {
                font-size: rem(11);
            }
        }

        &:hover,
        &.active {
            &::after {
                opacity: 1;
            }
        }

        &.active {
            font-weight: 500;
        }
    }
}
