@use '../../abstract' as *;

.animation-description {
    display: none;
    position: fixed;
    z-index: 8;
    top: var(--header-height);
    left: calc(var(--header-height) * 0.5);
    padding: calc(var(--header-height) * 0.25) calc(var(--header-height) * 0.5);
    border-right: 1px $black solid;
    border-bottom: 1px $black solid;

    @include user-select-none;

    &.visible {
        display: block;
    }
}
