@use '../../abstract' as *;

@layer layout {
    @scope (.c-accessibility-overlay) {
        :scope {
            display: none;
            position: relative;
            inline-size: rem(233);
            margin-inline: auto 0;
            padding: rem(12);
            overflow: visible;
            border: 0;
            background: var(--immutable-black);
            color: var(--immutable-white);
            pointer-events: none;
            inset-block-start: calc(var(--header-height) - 1px);

            &[open] {
                display: block;
                pointer-events: all;
            }
        }

        &::backdrop {
            opacity: 0;
            background: var(--grey-100);
        }

        .close {
            position: absolute;
            z-index: 10;
            block-size: var(--gap-size);
            inline-size: var(--gap-size);
            border: 0;
            background: transparent;
            inset-block-start: rem(20);
            inset-inline-end: rem(10);

            &::after,
            &::before {
                content: '';
                position: absolute;
                block-size: 2px;
                inline-size: calc(var(--gap-size) / 2);
                background: var(--immutable-white);
                inset-block-start: 50%;
                inset-inline-start: 50%;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }

        .main-title {
            color: var(--dark);
            font-size: rem(20);
        }

        .header {
            margin-block-start: rem(64);
        }
    }
}
