@use '../../abstract' as *;

@layer layout {
    @scope (.c-accessibility-overlay) {
        :scope {
            inline-size: calc(var(--header-icons) - 1px);
            margin: auto;
            padding: rem(12);
            overflow: visible;

            /*
             * Fallback: Safari, Firefox, etc.
             * Safari non gestisce overlay ( TODO: check ).
             */
            transition:
                opacity 0.35s,
                display 0.35s allow-discrete;
            border: 0;
            background: var(--dark);
            color: var(--immutable-white);
            inset: 0;
            filter: drop-shadow(0 0 1.25rem var(--immutable-black));

            @supports (overlay: auto) {
                // Chrome/Edge: delay sull' uscita dal top layer
                transition:
                    opacity 0.35s,
                    display 0.35s allow-discrete,
                    overlay 0.35s allow-discrete;
            }

            &:not(:popover-open) {
                opacity: 0;
            }

            &:popover-open {
                opacity: 1;
            }

            @container root style(--theme-style: dark) {
                background: var(--immutable-black);
            }
        }

        @starting-style {
            :scope:popover-open {
                opacity: 0;
            }
        }

        .close {
            position: absolute;
            z-index: 10;
            block-size: var(--gap-size);
            inline-size: var(--gap-size);
            border: 0;
            background: transparent;
            inset-block-start: rem(20);
            inset-inline-end: rem(10);

            &::after,
            &::before {
                content: '';
                position: absolute;
                block-size: 2px;
                inline-size: calc(var(--gap-size) / 2);
                background: var(--immutable-white);
                inset-block-start: 50%;
                inset-inline-start: 50%;
            }

            &::before {
                transform: translate(calc(-50% * var(--dir)), -50%)
                    rotate(calc(45deg * var(--dir)));
            }

            &::after {
                transform: translate(calc(-50% * var(--dir)), -50%)
                    rotate(calc(135deg * var(--dir)));
            }
        }

        .main-title {
            color: var(--dark);
            font-size: rem(20);
        }

        .header {
            margin-block-start: rem(64);
        }
    }
}
