@use '../../abstract' as *;

@layer layout {
    @scope (.c-accessibility-toggle) {
        :scope {
            margin-block-end: rem(10);
            padding-block-end: rem(10);
            border-block-end: 1px var(--immutable-grey-300) solid;
        }

        .cta-group {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: rem(10);
            gap: rem(20);
        }

        p {
            margin-block-end: rem(5);
            text-transform: capitalize;
        }

        .content {
            display: block;
        }
    }
}

@layer user {
    @scope (.is-accessibility) {
        :scope {
            --icon-opacity: 1;
        }

        button {
            padding: rem(5);
            border: 1px transparent solid;
            background: transparent;

            &:hover {
                --icon-opacity: 0.3;
            }

            &.active {
                border: 1px var(--immutable-grey-300) solid;
            }
        }

        .icon {
            block-size: rem(30);
            inline-size: rem(30);
        }

        svg {
            block-size: 100%;
            inline-size: 100%;
            transition: opacity 0.35s;
            stroke-width: 1;
            stroke-linecap: round;
            stroke: var(--immutable-white);
            opacity: var(--icon-opacity);
            fill: none;
            stroke-linejoin: round;
        }

        .label {
            letter-spacing: rem(2);
            text-transform: uppercase;
        }
    }
}
