@use '../../abstract' as *;

@layer layout {
    @scope (.c-accessibility-toggle) {
        :scope {
            margin-block-end: rem(16);
        }

        .cta-group {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: rem(10);
            border: 1px rgba(var(--white-rgb), 0.2) solid;
            gap: rem(20);
        }

        h2 {
            font-family: 'Fira Sans', sans-serif;
            font-size: rem(18);
        }

        .content {
            display: block;
        }
    }
}

@layer user {
    @scope (.is-accessibility) {
        button {
            padding: rem(5);
            border: 0;
            background: transparent;
            border-block-end: 4px transparent solid;

            &.active {
                border-block-end: 4px var(--white) solid;
            }
        }

        .icon {
            block-size: rem(30);
            inline-size: rem(30);
        }

        svg {
            block-size: 100%;
            inline-size: 100%;
            stroke-width: 1;
            stroke-linecap: round;
            stroke: var(--white);
            fill: none;
            stroke-linejoin: round;
        }
    }
}
