@use '../../abstract' as *;

@layer layout {
    @scope (.c-detail-offcanvas) {
        .open {
            display: block;
            position: absolute;
            z-index: 10;
            margin-block-start: 0;
            padding: rem(5) rem(20);
            transition:
                background 0.35s,
                color 0.35s;
            border: 0;
            outline-color: var(--dark);
            background: var(--dark);
            color: var(--white);
            font-size: rem(14);
            text-align: end;
            inset-block-start: calc(var(--header-height) + rem(20));
            inset-inline-end: rem(20);

            &:hover {
                background: var(--white);
                color: var(--dark);
            }
        }

        .close {
            position: absolute;
            z-index: 10;
            block-size: rem(40);
            inline-size: rem(40);
            border: 0;
            outline-color: var(--immutable-white);
            background: transparent;
            inset-block-start: rem(10);
            inset-inline-end: rem(10);

            &::after,
            &::before {
                content: '';
                position: absolute;
                block-size: 2px;
                inline-size: rem(20);
                background: var(--immutable-white);
                inset-block-start: 50%;
                inset-inline-start: 50%;
            }

            &::before {
                transform: translate(calc(-50% * var(--dir)), -50%)
                    rotate(45deg);
            }

            &::after {
                transform: translate(calc(-50% * var(--dir)), -50%)
                    rotate(135deg);
            }
        }

        dialog {
            block-size: calc(
                100dvh - var(--header-height) - var(--footer-height)
            );
            inline-size: rem(250);
            margin: 0;
            margin-inline-start: auto;
            transition:
                transform 0.3s ease,
                overlay 0.3s ease;
            border: 0;
            background: var(--immutable-dark);
            color: var(--immutable-white);
            list-style: none;
            inset-block-start: var(--header-height);
            inset-inline-end: 0;

            &[open] {
                transform: translateX(0);
            }

            &::backdrop {
                opacity: 0.1;
                background: var(--grey-100);
            }
        }

        @starting-style {
            dialog[open] {
                transform: translateX(calc(100% * var(--dir)));
            }
        }

        .container {
            block-size: 100%;
            padding-block: rem(60) rem(20);
            padding-inline: rem(20);
        }

        .controls-item {
            display: block;
            flex: 0 0 auto;
            inline-size: 100%;
            margin-block-end: rem(12);
            text-align: center;

            &:last-of-type {
                border-block-end: 0;
            }
        }

        .controls-button {
            display: block;
            inline-size: 100%;
            margin-block: 0 calc(var(--gap-size) / 5);
            padding: rem(5) rem(10);
            transition:
                background 0.35s,
                color 0.35s;
            border: 1px var(--grey-300) solid;
            background: transparent;
            font-size: rem(14);
            text-align: end;

            &:hover,
            &.active {
                background: var(--immutable-white);
                color: var(--immutable-dark);
            }

            @include on-event {
                outline-color: var(--immutable-white);
                background: var(--immutable-white);
                color: var(--immutable-dark);
            }

            &[disabled] {
                opacity: 0.4;
                pointer-events: none;
            }
        }

        .controls-label {
            display: block;
            margin-block-end: 0;
            font-size: rem(14);
            font-weight: 400;
            text-align: end;
        }

        .controls-status {
            text-align: end;
        }

        .controls-range-value {
            display: block;
            margin-block-start: rem(16);
            text-align: start;
        }

        .controls-range {
            position: relative;
            margin: rem(16) auto 0;
            pointer-events: none;

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                block-size: 1px;
                inline-size: 100%;
                opacity: 0.2;
                background: var(--immutable-white);
                inset-block-start: 50%;
                inset-inline-start: 0;
            }

            input {
                display: block;
                position: relative;
                inline-size: 100%;
                margin: auto;
                background: transparent;
                color: var(--immutable-white);
                cursor: pointer;
                pointer-events: all;
                appearance: none;

                &::-webkit-slider-thumb {
                    block-size: rem(15);
                    inline-size: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: var(--immutable-white);
                    cursor: pointer;
                    appearance: none;
                }

                &::-moz-range-thumb {
                    block-size: rem(15);
                    inline-size: rem(15);
                    border: 0;
                    border-radius: 100%;
                    background: var(--immutable-white);
                    cursor: pointer;
                    appearance: none;
                }
            }
        }

        .dynamic-result {
            text-align: end;
        }
    }
}

@layer override {
    :where(.l-rosa .open) {
        inset-block-start: rem(20);
        inset-inline-end: rem(20);
    }

    [data-theme='light'] :where(.c-detail-offcanvas .controls-button) {
        border: 1px rgba(var(--white-rgb), 0.2) solid;
    }
}
